In [1]:
import pandas as pd
import os

pd.set_option('display.max_columns', 500)

data_path = os.getcwd()[:-len('notebooks')] + 'Data/'
db_credit_card_fraud_detection_small = data_path + 'Credit_card_fraud_detection_small/'
db_beijing_path = data_path + 'Beijing_winter_Olympic_Games/'
transactional_data = data_path

In [2]:
os.listdir(transactional_data)

['.DS_Store',
 'fframe_alumno.csv',
 'Beijing_winter_Olympic_Games',
 'data_cleaned_2021.csv',
 'Business Sales Transaction.csv']

# Beijing

In [3]:
os.listdir(db_beijing_path)

['hockey_results.csv',
 'curling_results.csv',
 'athletes.csv',
 'technical_officials.csv',
 'medals_total.csv',
 'coaches.csv',
 'entries_discipline.csv',
 'hockey_players_stats.csv',
 'medals.csv',
 'events.csv']

# Ejercicio Práctica sábado:

Como comité olímpico, nos solicitan analizar la relación que existe entre el número de participantes enviados por cada país y el número de medallas obtenidos en los tres niveles. 

Nos interesa analizar este proceso a nivel país, y nos gustaría poder revisar la cantidad de atletas enviados por cada país (cantidad total, cantidad de mujeres y cantidad de hombres), total de medallas obtenidas, total de medallas de oro, total de medallas de plata y total de medallas de bronce (segmentados por hombres y mujeres). Además de esto, nos interesa contar la cantidad de coaches que envió cada país, de igual forma, divido por mujeres y hombres. Y por último agregar las columnas para los referies, la intención es analizar si la cantidad de personas enviadas por cada país está relacionada con la cantidad de medallas traidas por cada país.

# Ecommerce

In [4]:
sales_ecommerce = pd.read_csv(transactional_data + 'Business Sales Transaction.csv', low_memory = False)
sales_ecommerce.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,536365,2018-12-01,85123A,Cream Hanging Heart T-Light Holder,1.88,6,17850.0,United Kingdom
1,536365,2018-12-01,71053,White Moroccan Metal Lantern,2.01,6,17850.0,United Kingdom
2,536365,2018-12-01,84406B,Cream Cupid Hearts Coat Hanger,1.91,8,17850.0,United Kingdom
3,536365,2018-12-01,84029G,Knitted Union Flag Hot Water Bottle,2.01,6,17850.0,United Kingdom
4,536365,2018-12-01,84029E,Red Woolly Hottie White Heart,2.01,6,17850.0,United Kingdom

# Ejercicio:

Nos solicitan revisar si es posible establecer una relación entre el país y la demanda de ciertos productos. La idea es que conociendo el país se pueda predecir las cantidades de los top tres productos para cada país (su precio, la cantidad de unidades vendidas) esto agrupado por mes.

* 1. Unidad muestral: País.
* 2. Quantity variable auxiliar para el cálculo de la demanda.
* 3. Segunda variable auxiliar precio.
* 4. Esto para los 3 productos más vendidos por cada país. 
* 5. Agrupación a nivel mes.

In [5]:
sales_ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536350 entries, 0 to 536349
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536350 non-null  object
 1   Date           536350 non-null  object
 2   ProductNo      536350 non-null  object
 3   ProductName    536350 non-null  object
 4   Price          536350 non-null  float64
 5   Quantity       536350 non-null  int64
 6   CustomerNo     536295 non-null  float64
 7   Country        536350 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.7+ MB

In [6]:
sales_ecommerce['Date'][0][8:]

'01'

In [7]:
# Checar si todos son del mismo año
sales_ecommerce['Date'].value_counts(1, dropna = False)

2019-12-05    0.009880
2019-12-08    0.009179
2019-11-29    0.007999
2019-11-16    0.007749
2019-11-11    0.007568
                ...
2019-03-13    0.000996
2018-12-19    0.000970
2019-05-01    0.000839
2018-12-22    0.000539
2019-02-06    0.000520
Name: Date, Length: 305, dtype: float64

In [8]:
sales_ecommerce['Date'].value_counts(1)

2019-12-05    0.009880
2019-12-08    0.009179
2019-11-29    0.007999
2019-11-16    0.007749
2019-11-11    0.007568
                ...
2019-03-13    0.000996
2018-12-19    0.000970
2019-05-01    0.000839
2018-12-22    0.000539
2019-02-06    0.000520
Name: Date, Length: 305, dtype: float64

In [9]:
sales_ecommerce['Date'][0][:7]

'2018-12'

In [10]:
' 2018-12-23 '.strip()[:4]

'2018'

In [11]:
' 2018-12-23 '.strip().split('-')

['2018', '12', '23']

In [12]:
df = sales_ecommerce.copy()

In [13]:
df['year'] = df['Date'].map(lambda x:x.strip()[:4])
df['month'] = df['Date'].map(lambda x:x.strip()[5:7])
df['day'] = df['Date'].map(lambda x:x.strip()[8:])
df['year-month'] = df['Date'].map(lambda x:x.strip()[:7])

df['year'].value_counts(1, dropna = False)

2019    0.921518
2018    0.078482
Name: year, dtype: float64

In [14]:
df.head(1)

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country,year,month,day,year-month
0,536365,2018-12-01,85123A,Cream Hanging Heart T-Light Holder,1.88,6,17850.0,United Kingdom,2018,12,01,2018-12

In [15]:
df.loc[df['Country'] == 'United Kingdom'][['Quantity', 'ProductNo']].groupby('ProductNo').agg(['sum']).sort_values(by = ('Quantity', 'sum'), ascending = False)

          Quantity
               sum
ProductNo
22197        52821
84077        48504
85099B       43107
84879        33569
85123A       33227
...            ...
79323P          -4
79323W          -8
21645          -24
23001         -200
84347         -337

[3759 rows x 1 columns]

In [16]:
df[['Country', 'Quantity', 'ProductNo']]

               Country  Quantity ProductNo
0       United Kingdom         6    85123A
1       United Kingdom         6     71053
2       United Kingdom         8    84406B
3       United Kingdom         6    84029G
4       United Kingdom         6    84029E
...                ...       ...       ...
536345  United Kingdom       -12     21871
536346  United Kingdom        -1     21843
536347  United Kingdom        -1     23048
536348  United Kingdom        -1     22178
536349  United Kingdom        -1     22947

[536350 rows x 3 columns]

In [17]:
# Opciones:

# 1. For
# 2. GroupBy
# 3. Creación de llave

In [18]:
# 1. For
%time
pa = list(set(df['Country']))
mo = list(set(df['year-month']))
products = dict()

for p in pa:
    aux = df.loc[df['Country'] == p].copy()
    for m in mo:
        aux1 = aux.loc[df['year-month'] == m].copy()
        aux2 = aux1[['Quantity', 'ProductNo']].groupby('ProductNo').agg(['sum']).sort_values(by = ('Quantity', 'sum'), ascending = False)[:3]
        products[p  + '_' + m] = aux2

products

CPU times: user 6 µs, sys: 2 µs, total: 8 µs
Wall time: 11.9 µs

{'Austria_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Austria_2019-04': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Austria_2019-03':           Quantity
                sum
 ProductNo
 21918          288
 22546          240
 22582          144,
 'Austria_2019-05':           Quantity
                sum
 ProductNo
 22492           36
 22693           24
 21723           12,
 'Austria_2019-07':           Quantity
                sum
 ProductNo
 21500           25
 23545           25
 21498           25,
 'Austria_2019-11':           Quantity
                sum
 ProductNo
 23084          279
 22154           49
 23353           31,
 'Austria_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Austria_2019-12':           Quantity
                sum
 ProductNo
 22646           36
 15056N          24
 20679           24,
 'Austria_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Austria_2018-12':           Quantity
                sum
 ProductNo
 22153          -48,
 'Austria_2019-06':           Quantity
                sum
 ProductNo
 22697           -1
 22357           -5,
 'Austria_2019-10':           Quantity
                sum
 ProductNo
 72817           24
 21788           24
 21789           24,
 'Austria_2019-08':           Quantity
                sum
 ProductNo
 21402           24
 21403           24
 22814           24,
 'Singapore_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Singapore_2019-04':           Quantity
                sum
 ProductNo
 22197          100
 22346           72
 22348           72,
 'Singapore_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Singapore_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Singapore_2019-07':           Quantity
                sum
 ProductNo
 22339          288
 35970           72
 22343           72,
 'Singapore_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Singapore_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Singapore_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Singapore_2019-01':           Quantity
                sum
 ProductNo
 22197          100
 21790           72
 21519           72,
 'Singapore_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Singapore_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Singapore_2019-10':           Quantity
                sum
 ProductNo
 22197          100
 22339           96
 22336           94,
 'Singapore_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Switzerland_2019-02':           Quantity
                sum
 ProductNo
 21829           72
 22858           60
 20728           30,
 'Switzerland_2019-04':           Quantity
                sum
 ProductNo
 23199          100
 21976           48
 85099B          26,
 'Switzerland_2019-03':           Quantity
                sum
 ProductNo
 22857          156
 22858          108
 22860           60,
 'Switzerland_2019-05':           Quantity
                sum
 ProductNo
 22440           60
 22436           60
 21212           48,
 'Switzerland_2019-07':           Quantity
                sum
 ProductNo
 22551          132
 22554          132
 22556           96,
 'Switzerland_2019-11':           Quantity
                sum
 ProductNo
 22632          108
 22969           96
 20676           72,
 'Switzerland_2019-09':           Quantity
                sum
 ProductNo
 21680          180
 23432          132
 21212          120,
 'Switzerland_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Switzerland_2019-01':           Quantity
                sum
 ProductNo
 22326          144
 84012          120
 22554           97,
 'Switzerland_2018-12':           Quantity
                sum
 ProductNo
 22554           36
 22326           30
 22539           24,
 'Switzerland_2019-06':           Quantity
                sum
 ProductNo
 22045          125
 22554          120
 22417          120,
 'Switzerland_2019-10':           Quantity
                sum
 ProductNo
 22704          100
 22336           96
 22944           72,
 'Switzerland_2019-08':           Quantity
                sum
 ProductNo
 84568          288
 21086           48
 84077           48,
 'United Arab Emirates_2019-02':           Quantity
                sum
 ProductNo
 85215           72
 21700           72
 21232           24,
 'United Arab Emirates_2019-04': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'United Arab Emirates_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'United Arab Emirates_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'United Arab Emirates_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'United Arab Emirates_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'United Arab Emirates_2019-09':           Quantity
                sum
 ProductNo
 22092           36
 22492           36
 23546           25,
 'United Arab Emirates_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'United Arab Emirates_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'United Arab Emirates_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'United Arab Emirates_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'United Arab Emirates_2019-10': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'United Arab Emirates_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-04':           Quantity
                sum
 ProductNo
 22630           24
 22697           24
 22993           24,
 'Brazil_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-10': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-04': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-01':           Quantity
                sum
 ProductNo
 84929           24
 47566           15
 21165           12,
 'Lebanon_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-10': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-04': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-05':           Quantity
                sum
 ProductNo
 23076           96
 23077           60
 22693           24,
 'Bahrain_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-10': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Bahrain_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Sweden_2019-02':           Quantity
                sum
 ProductNo
 22435           48
 21499           25
 21500           25,
 'Sweden_2019-04':           Quantity
                sum
 ProductNo
 21124           24
 23206           20
 20725           20,
 'Sweden_2019-03':           Quantity
                sum
 ProductNo
 20975          768
 22492          576
 21212          480,
 'Sweden_2019-05':           Quantity
                sum
 ProductNo
 22492          576
 84077          576
 22489          432,
 'Sweden_2019-07':           Quantity
                sum
 ProductNo
 84077          576
 23308          504
 23307          480,
 'Sweden_2019-11':           Quantity
                sum
 ProductNo
 84077          288
 23293          256
 23295          128,
 'Sweden_2019-09':           Quantity
                sum
 ProductNo
 23310          720
 22492          576
 23297          480,
 'Sweden_2019-12':           Quantity
                sum
 ProductNo
 23494            0,
 'Sweden_2019-01':           Quantity
                sum
 ProductNo
 22492          576
 22546          240
 22544          240,
 'Sweden_2018-12':           Quantity
                sum
 ProductNo
 84077          576
 22348          288
 21210          288,
 'Sweden_2019-06':           Quantity
                sum
 ProductNo
 22492           36
 21122           24
 23084           24,
 'Sweden_2019-10':           Quantity
                sum
 ProductNo
 22492          576
 22952          480
 23368          384,
 'Sweden_2019-08':           Quantity
                sum
 ProductNo
 15036          720
 51014A         240
 21213           24,
 'Lithuania_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2019-04': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2018-12':           Quantity
                sum
 ProductNo
 21915           48
 22271           48
 22307           36,
 'Lithuania_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2019-10': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lithuania_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Germany_2019-02':           Quantity
                sum
 ProductNo
 22585          300
 10133          205
 20973          144,
 'Germany_2019-04':           Quantity
                sum
 ProductNo
 22893          288
 84945          204
 21035          100,
 'Germany_2019-03':           Quantity
                sum
 ProductNo
 22585          312
 22243          176
 23159          120,
 'Germany_2019-05':           Quantity
                sum
 ProductNo
 15036          890
 20719          210
 23206          181,
 'Germany_2019-07':           Quantity
                sum
 ProductNo
 23307          144
 23293          136
 22326          130,
 'Germany_2019-11':           Quantity
                sum
 ProductNo
 23084          264
 22629          228
 23212          180,
 'Germany_2019-09':           Quantity
                sum
 ProductNo
 21212          170
 21500          150
 21498          150,
 'Germany_2019-12':           Quantity
                sum
 ProductNo
 21232           81
 22629           76
 23232           75,
 'Germany_2019-01':           Quantity
                sum
 ProductNo
 22585          170
 84692          150
 21880          101,
 'Germany_2018-12':           Quantity
                sum
 ProductNo
 22961          156
 21700          120
 22326          116,
 'Germany_2019-06':           Quantity
                sum
 ProductNo
 15036          360
 84568          288
 22492          108,
 'Germany_2019-10':           Quantity
                sum
 ProductNo
 16045          600
 23379          456
 23210          168,
 'Germany_2019-08':           Quantity
                sum
 ProductNo
 23295          208
 23293          208
 22741          192,
 'Spain_2019-02':           Quantity
                sum
 ProductNo
 22335          288
 84950           96
 22252           96,
 'Spain_2019-04':           Quantity
                sum
 ProductNo
 21244           32
 21243           32
 21240           32,
 'Spain_2019-03':           Quantity
                sum
 ProductNo
 21212           48
 21213           48
 22077           48,
 'Spain_2019-05':           Quantity
                sum
 ProductNo
 84879           80
 23230           50
 84077           48,
 'Spain_2019-07':           Quantity
                sum
 ProductNo
 23297          144
 23295          128
 23296          128,
 'Spain_2019-11':           Quantity
                sum
 ProductNo
 84879           56
 22741           48
 35953           48,
 'Spain_2019-09':           Quantity
                sum
 ProductNo
 21212           48
 21213           48
 84077           48,
 'Spain_2019-12':           Quantity
                sum
 ProductNo
 23546           25
 21121           24
 21982           24,
 'Spain_2019-01':           Quantity
                sum
 ProductNo
 22077           49
 21977           48
 84077           48,
 'Spain_2018-12':           Quantity
                sum
 ProductNo
 84077           48
 84347           36
 22553           24,
 'Spain_2019-06':           Quantity
                sum
 ProductNo
 23231           50
 21395           48
 22066           48,
 'Spain_2019-10':           Quantity
                sum
 ProductNo
 23167           96
 23187           96
 22597           72,
 'Spain_2019-08':           Quantity
                sum
 ProductNo
 84077           96
 84826           60
 84879           40,
 'Canada_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Canada_2019-04': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Canada_2019-03':           Quantity
                sum
 ProductNo
 84755           16
 20886           12
 71459           12,
 'Canada_2019-05':           Quantity
                sum
 ProductNo
 37370          504,
 'Canada_2019-07':           Quantity
                sum
 ProductNo
 47593B          48
 22098           36
 22099           36,
 'Canada_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Canada_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Canada_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Canada_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Canada_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Canada_2019-06':           Quantity
                sum
 ProductNo
 84077          288
 20727           50
 10133           40,
 'Canada_2019-10': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Canada_2019-08':           Quantity
                sum
 ProductNo
 23293           16
 21993           12
 23294            8,
 'Japan_2019-02':           Quantity
                sum
 ProductNo
 22549          144
 22859          108
 22858          108,
 'Japan_2019-04':           Quantity
                sum
 ProductNo
 22533          576
 22531          576
 84077          576,
 'Japan_2019-03':           Quantity
                sum
 ProductNo
 22967            6
 22662            4
 22749            4,
 'Japan_2019-05':           Quantity
                sum
 ProductNo
 20992           96
 21078           96
 21080           96,
 'Japan_2019-07':           Quantity
                sum
 ProductNo
 22652          100
 22662          100
 22661          100,
 'Japan_2019-11':           Quantity
                sum
 ProductNo
 23084         2160
 22621          192
 21731          144,
 'Japan_2019-09':           Quantity
                sum
 ProductNo
 21787           72
 21786           24
 21788           24,
 'Japan_2019-12':           Quantity
                sum
 ProductNo
 22621           -1
 23238           -1
 21731           -2,
 'Japan_2019-01':           Quantity
                sum
 ProductNo
 21155           -1
 22244           -1
 22567           -3,
 'Japan_2018-12':           Quantity
                sum
 ProductNo
 22328         1488
 84988          120
 22661          100,
 'Japan_2019-06':           Quantity
                sum
 ProductNo
 21918          576
 22491          576
 22489          432,
 'Japan_2019-10':           Quantity
                sum
 ProductNo
 23084          960
 21976           24
 22951           24,
 'Japan_2019-08':           Quantity
                sum
 ProductNo
 22662           -1
 23229           -1
 23238           -1,
 'Hong Kong_2019-02':           Quantity
                sum
 ProductNo
 46000U           3,
 'Hong Kong_2019-04':           Quantity
                sum
 ProductNo
 20674           48
 21238           48
 20676           48,
 'Hong Kong_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-09':           Quantity
                sum
 ProductNo
 21985           12
 21821            6
 22092            6,
 'Hong Kong_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-01':           Quantity
                sum
 ProductNo
 22326           96
 22620           60
 22382           60,
 'Hong Kong_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-10':           Quantity
                sum
 ProductNo
 21829           36
 21915           36
 22492           36,
 'Hong Kong_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2019-02':           Quantity
                sum
 ProductNo
 21868           12
 22918           12
 84832           12,
 'Poland_2019-04': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2019-05':           Quantity
                sum
 ProductNo
 16014           40
 16016           20
 22962           12,
 'Poland_2019-07':           Quantity
                sum
 ProductNo
 16016           40
 16014           40
 22672           12,
 'Poland_2019-11':           Quantity
                sum
 ProductNo
 35953           48
 22340           24
 22998           24,
 'Poland_2019-09':           Quantity
                sum
 ProductNo
 23198           24
 22342           24
 20836           24,
 'Poland_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],

In [19]:
# 2. GroupBy
%time
aux3 = df[['Country', 'year-month', 'ProductNo', 'Quantity']].groupby(['Country', 'year-month', 'ProductNo']).agg('sum')
aux3.sort_values(by = 'Country').sort_values(by = 'year-month').sort_values(by = 'Quantity', ascending = False)

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.87 µs

                                     Quantity
Country        year-month ProductNo
United Kingdom 2019-11    84826         12551
                          22197         11728
               2019-04    84077          9471
               2019-11    23084          8335
               2019-10    84077          8084
...                                       ...
               2019-07    21439          -373
               2019-08    21877          -598
Japan          2019-04    22328          -624
United Kingdom 2019-04    47566B         -950
               2018-12    84347         -7078

[70902 rows x 1 columns]

In [20]:
# 3. key
%time
df['key'] = df['Country'] + '_' + df['year-month'] + '_' + df['ProductNo']
aux4 = df[['key', 'Quantity']].groupby('key').sum().sort_values(by = ('Quantity'), ascending = False)

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 9.06 µs

In [21]:
dffinal = df[['Country', 'day']].groupby('Country').count()
dffinal.columns = ['Número de transcacciones por país']
dffinal

                      Número de transcacciones por país
Country
Australia                                          1704
Austria                                             887
Bahrain                                              17
Belgium                                            2539
Brazil                                               31
Canada                                              150
Channel Islands                                     629
Cyprus                                              582
Czech Republic                                       28
Denmark                                             416
EIRE                                               8048
European Community                                   58
Finland                                             692
France                                            10526
Germany                                           10675
Greece                                               67
Hong Kong                                           153
Iceland                                             787
Israel                                              358
Italy                                               661
Japan                                               371
Lebanon                                              45
Lithuania                                            34
Malta                                               149
Netherlands                                        2330
Norway                                              938
Poland                                              174
Portugal                                           1848
RSA                                                  57
Saudi Arabia                                         10
Singapore                                           215
Spain                                              2430
Sweden                                              417
Switzerland                                        2336
USA                                                 379
United Arab Emirates                                 67
United Kingdom                                   485095
Unspecified                                         447

In [22]:
aux4.index.astype(str)

Index(['United Kingdom_2019-11_84826', 'United Kingdom_2019-11_22197',
       'United Kingdom_2019-04_84077', 'United Kingdom_2019-11_23084',
       'United Kingdom_2019-10_84077', 'United Kingdom_2019-11_22086',
       'United Kingdom_2019-05_22197', 'United Kingdom_2019-08_84879',
       'United Kingdom_2019-12_22197', 'United Kingdom_2019-11_85099B',
       ...
       'United Kingdom_2019-07_23001', 'United Kingdom_2019-12_46000M',
       'United Kingdom_2019-12_22313', 'United Kingdom_2019-12_46000S',
       'United Kingdom_2019-09_18097C', 'United Kingdom_2019-07_21439',
       'United Kingdom_2019-08_21877', 'Japan_2019-04_22328',
       'United Kingdom_2019-04_47566B', 'United Kingdom_2018-12_84347'],
      dtype='object', name='key', length=70902)

In [23]:
aux4['country'] = aux4.index.astype(str).map(lambda x:x.strip().split('_')[0])
aux4['year-month'] = aux4.index.astype(str).map(lambda x:x.strip().split('_')[1])
aux4['prod'] = aux4.index.astype(str).map(lambda x:x.strip().split('_')[2])

In [74]:
columns = list(set(aux4['year-month']))
Country = list(set(aux4['country']))
results = dict()
for p in Country:
    aux5 = aux4.loc[aux4['country'] == p]
    for c in columns:
        aux6 = aux5.loc[aux5['year-month'] == c].sort_values(by = 'Quantity', ascending = False)
        result = (aux6[['Quantity', 'prod']].head(3)).to_numpy().tolist()
        result_2 = [tuple(x) for x in result]
        results[p + '_' + c] = result_2

In [75]:
results

{'Austria_2019-02': [],
 'Austria_2019-05': [(36, '22492'), (24, '22693'), (12, '21675')],
 'Austria_2019-04': [],
 'Austria_2019-11': [(279, '23084'), (49, '22154'), (31, '23353')],
 'Austria_2019-03': [(288, '21918'), (240, '22546'), (144, '22582')],
 'Austria_2019-07': [(25, '21499'), (25, '23545'), (25, '22051')],
 'Austria_2019-09': [],
 'Austria_2019-12': [(36, '22646'), (24, '15056N'), (24, '20679')],
 'Austria_2019-01': [],
 'Austria_2018-12': [(-48, '22153')],
 'Austria_2019-06': [(-1, '22697'), (-5, '22357')],
 'Austria_2019-10': [(24, '21789'), (24, '21788'), (24, '72817')],
 'Austria_2019-08': [(24, '21402'), (24, '22029'), (24, '22348')],
 'Singapore_2019-02': [],
 'Singapore_2019-05': [],
 'Singapore_2019-04': [(100, '22197'), (72, '22346'), (72, '72741')],
 'Singapore_2019-11': [],
 'Singapore_2019-03': [],
 'Singapore_2019-07': [(288, '22339'), (72, '35970'), (72, '22343')],
 'Singapore_2019-09': [],
 'Singapore_2019-12': [],
 'Singapore_2019-01': [(100, '22197'), (72, '21519'), (72, '21790')],
 'Singapore_2018-12': [],
 'Singapore_2019-06': [],
 'Singapore_2019-10': [(100, '22197'), (96, '22339'), (94, '22336')],
 'Singapore_2019-08': [],
 'Switzerland_2019-02': [(72, '21829'), (60, '22858'), (30, '20728')],
 'Switzerland_2019-05': [(60, '22436'), (60, '22440'), (48, '22417')],
 'Switzerland_2019-04': [(100, '23199'), (48, '21976'), (26, '85099B')],
 'Switzerland_2019-11': [(108, '22632'), (96, '22969'), (72, '72741')],
 'Switzerland_2019-03': [(156, '22857'), (108, '22858'), (60, '22860')],
 'Switzerland_2019-07': [(132, '22551'), (132, '22554'), (96, '84077')],
 'Switzerland_2019-09': [(180, '21680'), (132, '23432'), (120, '21212')],
 'Switzerland_2019-12': [],
 'Switzerland_2019-01': [(144, '22326'), (120, '84012'), (97, '22554')],
 'Switzerland_2018-12': [(36, '22554'), (30, '22326'), (24, '22540')],
 'Switzerland_2019-06': [(125, '22045'), (120, '21976'), (120, '22417')],
 'Switzerland_2019-10': [(100, '22704'), (96, '22336'), (72, '23379')],
 'Switzerland_2019-08': [(288, '84568'), (48, '21080'), (48, '21086')],
 'Unspecified_2019-02': [],
 'Unspecified_2019-05': [(48, '47021G'), (25, '22985'), (25, '23231')],
 'Unspecified_2019-04': [(24, '21976'), (24, '84991'), (24, '21977')],
 'Unspecified_2019-11': [],
 'Unspecified_2019-03': [],
 'Unspecified_2019-07': [(48, '84077'), (40, '22439'), (25, '23546')],
 'Unspecified_2019-09': [(48, '84077'), (36, '23310'), (24, '23076')],
 'Unspecified_2019-12': [],
 'Unspecified_2019-01': [],
 'Unspecified_2018-12': [(25, '22047'), (12, '17021'), (12, '21833')],
 'Unspecified_2019-06': [(36, '23119'), (12, '23122'), (6, '23237')],
 'Unspecified_2019-10': [],
 'Unspecified_2019-08': [(36, '22952'), (24, '23236'), (24, '23234')],
 'United Arab Emirates_2019-02': [(72, '85215'), (72, '21700'), (24, '82552')],
 'United Arab Emirates_2019-05': [],
 'United Arab Emirates_2019-04': [],
 'United Arab Emirates_2019-11': [],
 'United Arab Emirates_2019-03': [],
 'United Arab Emirates_2019-07': [],
 'United Arab Emirates_2019-09': [(36, '22092'), (36, '22492'), (25, '23231')],
 'United Arab Emirates_2019-12': [],
 'United Arab Emirates_2019-01': [],
 'United Arab Emirates_2018-12': [],
 'United Arab Emirates_2019-06': [],
 'United Arab Emirates_2019-10': [],
 'United Arab Emirates_2019-08': [],
 'Brazil_2019-02': [],
 'Brazil_2019-05': [],
 'Brazil_2019-04': [(24, '22630'), (24, '22698'), (24, '22697')],
 'Brazil_2019-11': [],
 'Brazil_2019-03': [],
 'Brazil_2019-07': [],
 'Brazil_2019-09': [],
 'Brazil_2019-12': [],
 'Brazil_2019-01': [],
 'Brazil_2018-12': [],
 'Brazil_2019-06': [],
 'Brazil_2019-10': [],
 'Brazil_2019-08': [],
 'Lebanon_2019-02': [],
 'Lebanon_2019-05': [],
 'Lebanon_2019-04': [],
 'Lebanon_2019-11': [],
 'Lebanon_2019-03': [],
 'Lebanon_2019-07': [],
 'Lebanon_2019-09': [],
 'Lebanon_2019-12': [],
 'Lebanon_2019-01': [(24, '84929'), (15, '47566'), (12, '82600')],
 'Lebanon_2018-12': [],
 'Lebanon_2019-06': [],
 'Lebanon_2019-10': [],
 'Lebanon_2019-08': [],
 'Bahrain_2019-02': [],
 'Bahrain_2019-05': [(96, '23076'), (60, '23077'), (24, '22693')],
 'Bahrain_2019-04': [],
 'Bahrain_2019-11': [],
 'Bahrain_2019-03': [],
 'Bahrain_2019-07': [],
 'Bahrain_2019-09': [],
 'Bahrain_2019-12': [],
 'Bahrain_2019-01': [],
 'Bahrain_2018-12': [],
 'Bahrain_2019-06': [],
 'Bahrain_2019-10': [],
 'Bahrain_2019-08': [],
 'Sweden_2019-02': [(48, '22435'), (25, '23230'), (25, '21499')],
 'Sweden_2019-05': [(576, '84077'), (576, '22492'), (432, '22489')],
 'Sweden_2019-04': [(24, '21124'), (20, '23206'), (20, '20725')],
 'Sweden_2019-11': [(288, '84077'), (256, '23293'), (128, '23296')],
 'Sweden_2019-03': [(768, '20975'), (576, '22492'), (480, '21977')],
 'Sweden_2019-07': [(576, '84077'), (504, '23308'), (480, '23307')],
 'Sweden_2019-09': [(720, '23310'), (576, '22492'), (480, '23297')],
 'Sweden_2019-12': [(0, '23494')],
 'Sweden_2019-01': [(576, '22492'), (240, '22546'), (240, '22544')],
 'Sweden_2018-12': [(576, '84077'), (288, '21210'), (288, '22348')],
 'Sweden_2019-06': [(36, '22492'), (24, '23084'), (24, '23307')],
 'Sweden_2019-10': [(576, '22492'), (480, '22952'), (384, '23367')],
 'Sweden_2019-08': [(720, '15036'), (240, '51014A'), (24, '20974')],
 'Lithuania_2019-02': [],
 'Lithuania_2019-05': [],
 'Lithuania_2019-04': [],
 'Lithuania_2019-11': [],
 'Lithuania_2019-03': [],
 'Lithuania_2019-07': [],
 'Lithuania_2019-09': [],
 'Lithuania_2019-12': [],
 'Lithuania_2019-01': [],
 'Lithuania_2018-12': [(48, '21915'), (48, '22271'), (36, '22307')],
 'Lithuania_2019-06': [],
 'Lithuania_2019-10': [],
 'Lithuania_2019-08': [],
 'Germany_2019-02': [(300, '22585'), (205, '10133'), (144, '22991')],
 'Germany_2019-05': [(890, '15036'), (210, '20719'), (181, '23206')],
 'Germany_2019-04': [(288, '22893'), (204, '84945'), (100, '21035')],
 'Germany_2019-11': [(264, '23084'), (228, '22629'), (180, '23212')],
 'Germany_2019-03': [(312, '22585'), (176, '22243'), (120, '23158')],
 'Germany_2019-07': [(144, '23307'), (136, '23293'), (130, '22326')],
 'Germany_2019-09': [(170, '21212'), (150, '21500'), (150, '21498')],
 'Germany_2019-12': [(81, '21232'), (76, '22629'), (75, '23232')],
 'Germany_2019-01': [(170, '22585'), (150, '84692'), (101, '21880')],
 'Germany_2018-12': [(156, '22961'), (120, '21700'), (116, '22326')],
 'Germany_2019-06': [(360, '15036'), (288, '84568'), (108, '22492')],
 'Germany_2019-10': [(600, '16045'), (456, '23379'), (168, '23210')],
 'Germany_2019-08': [(208, '23295'), (208, '23293'), (192, '22741')],
 'Canada_2019-02': [],
 'Canada_2019-05': [(504, '37370')],
 'Canada_2019-04': [],
 'Canada_2019-11': [],
 'Canada_2019-03': [(16, '84755'), (12, '79000'), (12, '71459')],
 'Canada_2019-07': [(48, '47593B'), (36, '21829'), (36, '22093')],
 'Canada_2019-09': [],
 'Canada_2019-12': [],
 'Canada_2019-01': [],
 'Canada_2018-12': [],
 'Canada_2019-06': [(288, '84077'), (50, '20727'), (40, '10133')],
 'Canada_2019-10': [],
 'Canada_2019-08': [(16, '23293'), (12, '21993'), (8, '23294')],
 'Spain_2019-02': [(288, '22335'), (96, '71459'), (96, '22252')],
 'Spain_2019-05': [(80, '84879'), (50, '23230'), (48, '21977')],
 'Spain_2019-04': [(32, '21239'), (32, '21243'), (32, '21244')],
 'Spain_2019-11': [(56, '84879'), (48, '22065'), (48, '22741')],
 'Spain_2019-03': [(48, '22077'), (48, '21124'), (48, '21213')],
 'Spain_2019-07': [(144, '23297'), (128, '23294'), (128, '23293')],
 'Spain_2019-09': [(48, '84077'), (48, '22741'), (48, '21213')],
 'Spain_2019-12': [(25, '23546'), (24, '21981'), (24, '21980')],
 'Spain_2019-01': [(49, '22077'), (48, '84879'), (48, '84077')],
 'Spain_2018-12': [(48, '84077'), (36, '84347'), (24, '21506')],
 'Spain_2019-06': [(50, '23231'), (48, '21394'), (48, '22066')],
 'Spain_2019-10': [(96, '23167'), (96, '23187'), (72, '22599')],
 'Spain_2019-08': [(96, '84077'), (60, '84826'), (40, '84879')],
 'Japan_2019-02': [(144, '22549'), (108, '22859'), (108, '22858')],
 'Japan_2019-05': [(96, '21078'), (96, '20992'), (96, '21080')],
 'Japan_2019-04': [(576, '22489'), (576, '22531'), (576, '22533')],
 'Japan_2019-11': [(2160, '23084'), (192, '22621'), (144, '23380')],
 'Japan_2019-03': [(6, '22967'), (4, '22630'), (4, '22749')],
 'Japan_2019-07': [(100, '22652'), (100, '22662'), (100, '22661')],
 'Japan_2019-09': [(72, '21787'), (24, '21789'), (24, '21788')],
 'Japan_2019-12': [(-1, '22621'), (-1, '23238'), (-2, '21731')],
 'Japan_2019-01': [(-1, '22244'), (-1, '21155'), (-3, '22567')],
 'Japan_2018-12': [(1488, '22328'), (120, '84988'), (100, '22661')],
 'Japan_2019-06': [(576, '21918'), (576, '22491'), (432, '22489')],
 'Japan_2019-10': [(960, '23084'), (24, '21976'), (24, '22951')],
 'Japan_2019-08': [(-1, '23238'), (-1, '22662'), (-1, '23229')],
 'Hong Kong_2019-02': [(3, '46000U')],
 'Hong Kong_2019-05': [],
 'Hong Kong_2019-04': [(48, '22418'), (48, '20675'), (48, '21239')],
 'Hong Kong_2019-11': [],
 'Hong Kong_2019-03': [],
 'Hong Kong_2019-07': [],
 'Hong Kong_2019-09': [(12, '21985'), (6, '22092'), (6, '21821')],
 'Hong Kong_2019-12': [],
 'Hong Kong_2019-01': [(96, '22326'), (60, '22620'), (60, '22382')],
 'Hong Kong_2018-12': [],
 'Hong Kong_2019-06': [],
 'Hong Kong_2019-10': [(36, '21829'), (36, '22492'), (36, '21915')],
 'Hong Kong_2019-08': [],
 'Poland_2019-02': [(12, '22567'), (12, '84832'), (12, '21868')],
 'Poland_2019-05': [(40, '16014'), (20, '16016'), (12, '22979')],
 'Poland_2019-04': [],
 'Poland_2019-11': [(48, '35953'), (24, '22340'), (24, '22998')],
 'Poland_2019-03': [],
 'Poland_2019-07': [(40, '16016'), (40, '16014'), (12, '84970L')],
 'Poland_2019-09': [(24, '23198'), (24, '20836'), (24, '22342')],
 'Poland_2019-12': [],
 'Poland_2019-01': [],
 'Poland_2018-12': [],
 'Poland_2019-06': [(12, '22962'), (10, '22652'), (10, '16016')],
 'Poland_2019-10': [],
 'Poland_2019-08': [(48, '23084'), (25, '22710'), (25, '16161U')],
 'Portugal_2019-02': [(25, '21498'), (25, '21500'), (25, '23231')],
 'Portugal_2019-05': [(36, '22593'), (12, '21980'), (10, '22411')],
 'Portugal_2019-04': [(72, '22857'), (48, '21383'), (48, '84991')],
 'Portugal_2019-11': [(60, '23581'), (50, '23583'), (40, '23582')],
 'Portugal_2019-03': [(108, '22492'), (48, '22996'), (48, '22995')],
 'Portugal_2019-07': [(144, '22740'), (60, '23209'), (50, '21498')],
 'Portugal_2019-09': [(72, '23078'), (48, '23076'), (40, '22101')],
 'Portugal_2019-12': [(120, '22924'), (120, '22923'), (120, '22922')],
 'Portugal_2019-01': [(144, '84991'), (120, '84992'), (72, '21231')],
 'Portugal_2018-12': [(34, '20728'), (24, '22540'), (24, '22444')],
 'Portugal_2019-06': [(24, '22280'), (24, '22279'), (12, '21080')],
 'Portugal_2019-10': [(75, '21498'), (72, '21212'), (50, '16161P')],
 'Portugal_2019-08': [(50, '22050'), (50, '16161P'), (50, '16161U')],
 'European Community_2019-02': [],
 'European Community_2019-05': [],
 'European Community_2019-04': [(6, '22314'), (6, '22312'), (6, '22457')],
 'European Community_2019-11': [],
 'European Community_2019-03': [],
 'European Community_2019-07': [(24, '23308'), (24, '23211'), (24, '23210')],
 'European Community_2019-09': [],
 'European Community_2019-12': [],
 'European Community_2019-01': [],
 'European Community_2018-12': [],
 'European Community_2019-06': [(12, '22314'), (12, '22319'), (12, '22961')],
 'European Community_2019-10': [],
 'European Community_2019-08': [],
 'Greece_2019-02': [],
 'Greece_2019-05': [],
 'Greece_2019-04': [],
 'Greece_2019-11': [],
 'Greece_2019-03': [],
 'Greece_2019-07': [],
 'Greece_2019-09': [],
 'Greece_2019-12': [(12, '20982'), (12, '21891'), (12, '22029')],
 'Greece_2019-01': [(48, '21615'), (48, '21616'), (32, '22604')],
 'Greece_2018-12': [],
 'Greece_2019-06': [],
 'Greece_2019-10': [],
 'Greece_2019-08': [],
 'Cyprus_2019-02': [(25, '23230'), (25, '22709'), (24, '22616')],
 'Cyprus_2019-05': [],
 'Cyprus_2019-04': [(-2, '22666'), (-2, '22839')],
 'Cyprus_2019-11': [(28, '16238'), (24, '22818'), (20, '23500')],
 'Cyprus_2019-03': [(288, '84568'), (288, '84598'), (24, '22566')],
 'Cyprus_2019-07': [],
 'Cyprus_2019-09': [],
 'Cyprus_2019-12': [(-1, '22826'), (-1, '22720'), (-2, '22797')],
 'Cyprus_2019-01': [(60, '82613A'), (12, '82484'), (12, '85054')],
 'Cyprus_2018-12': [(96, '22335'), (64, '85123A'), (48, '22297')],
 'Cyprus_2019-06': [(24, '23182'), (24, '22993'), (12, '82600')],
 'Cyprus_2019-10': [(96, '85204'), (48, '22066'), (48, '22154')],
 'Cyprus_2019-08': [],
 'Norway_2019-02': [(12, '21232'), (12, '21700'), (12, '22064')],
 'Norway_2019-05': [],
 'Norway_2019-04': [],
 'Norway_2019-11': [(240, '16008'), (192, '22693'), (144, '72232')],
 'Norway_2019-03': [(24, '84050'), (12, '37448'), (12, '22645')],
 'Norway_2019-07': [(48, '16219'), (36, '16258A'), (36, '21829')],
 'Norway_2019-09': [(144, '21212'), (144, '21977'), (120, '23307')],
 'Norway_2019-12': [(240, '16008'), (192, '22693'), (144, '72232')],
 'Norway_2019-01': [],
 'Norway_2018-12': [(144, '84050'), (144, '22197'), (100, '84692')],
 'Norway_2019-06': [(24, '23160'), (12, '22772'), (12, '84970L')],
 'Norway_2019-10': [(120, '21213'), (96, '22693'), (96, '15034')],
 'Norway_2019-08': [(36, '22492'), (25, '16169E'), (24, '35471D')],
 'USA_2019-02': [],
 'USA_2019-05': [],
 'USA_2019-04': [(36, '22129'), (12, '22128'), (7, '22722')],
 'USA_2019-11': [(24, '20973'), (16, '23371'), (12, '21891')],
 'USA_2019-03': [],
 'USA_2019-07': [],
 'USA_2019-09': [],
 'USA_2019-12': [(72, '23366'), (72, '20975'), (24, '23328')],
 'USA_2019-01': [],
 'USA_2018-12': [(14, '22963'), (6, '22439'), (4, '22962')],
 'USA_2019-06': [],
 'USA_2019-10': [(48, '21123'), (48, '21121'), (48, '21122')],
 'USA_2019-08': [(53, '22355'), (23, '20719'), (22, '20724')],
 'Australia_2019-02': [(480, '22969'), (384, '22962'), (384, '20973')],
 'Australia_2019-05': [(600, '15036'), (576, '21899'), (576, '21902')],
 'Australia_2019-04': [(30, '20725'), (30, '22383'), (30, '22662')],
 'Australia_2019-11': [(1632, '23084'), (216, '23234'), (216, '23247')],
 'Australia_2019-03': [(432, '21981'), (432, '22615'), (432, '21984')],
 'Australia_2019-07': [(408, '23296'), (408, '23294'), (408, '23293')],
 'Australia_2019-09': [(1152, '22492'), (732, '21915'), (240, '22751')],
 'Australia_2019-12': [],
 'Australia_2019-01': [(576, '22492'), (252, '21915'), (243, '22720')],
 'Australia_2018-12': [(120, '22915'), (50, '79067'), (48, '22196')],
 'Australia_2019-06': [(576, '22492'), (400, '22704'), (400, '16161P')],
 'Australia_2019-10': [(360, '22722'), (250, '23510'), (250, '23507')],
 'Australia_2019-08': [(720, '21731'), (576, '22492'), (336, '22940')],
 'Malta_2019-02': [],
 'Malta_2019-05': [],
 'Malta_2019-04': [],
 'Malta_2019-11': [(48, '22065'), (42, '72741'), (23, '85034C')],
 'Malta_2019-03': [],
 'Malta_2019-07': [],
 'Malta_2019-09': [],
 'Malta_2019-12': [(-1, '22307'), (-1, '72807C'), (-1, '85034C')],
 'Malta_2019-01': [],
 'Malta_2018-12': [],
 'Malta_2019-06': [(24, '85230A'), (24, '21982'), (24, '23226')],
 'Malta_2019-10': [],
 'Malta_2019-08': [(25, '22959'), (18, '72741'), (12, '23171')],
 'Netherlands_2019-02': [(448, '22630'), (360, '21684'), (320, '22629')],
 'Netherlands_2019-05': [(1200, '21212'), (1152, '22243'), (480, '84212')],
 'Netherlands_2019-04': [(200, '85099B'), (144, '22326'), (100, '21929')],
 'Netherlands_2019-11': [(1152, '22492'), (432, '22152'), (400, '22356')],
 'Netherlands_2019-03': [(652, '22630'), (652, '22629'), (300, '20719')],
 'Netherlands_2019-07': [(1, '23297'), (1, '23296'), (1, '23295')],
 'Netherlands_2019-09': [(400, '23346'), (400, '23345'), (384, '23293')],
 'Netherlands_2019-12': [(1440, '23084'), (216, '22029'), (216, '22712')],
 'Netherlands_2019-01': [(1680, '21212'), (672, '22551'), (576, '22629')],
 'Netherlands_2018-12': [(300, '22378'), (288, '22856'), (288, '21731')],
 'Netherlands_2019-06': [(540, '22326'), (524, '22629'), (524, '22630')],
 'Netherlands_2019-10': [(2400, '23084'), (1872, '22595'), (576, '22492')],
 'Netherlands_2019-08': [(896, '22629'), (832, '22630'), (768, '23268')],
 'Italy_2019-02': [(12, '84375'), (12, '22556'), (10, '20712')],
 'Italy_2019-05': [(24, '22466'), (20, '20724'), (20, '20719')],
 'Italy_2019-04': [(96, '47593B'), (96, '51014A'), (72, '21700')],
 'Italy_2019-11': [(144, '51014A'), (100, '22197'), (96, '51014C')],
 'Italy_2019-03': [(40, '20719'), (30, '20724'), (24, '21700')],
 'Italy_2019-07': [(9, '22720'), (4, '23243'), (3, '21533')],
 'Italy_2019-09': [(6, '22804'), (6, '22960'), (6, '23423')],
 'Italy_2019-12': [(18, '85123A'), (9, '22720'), (6, '22667')],
 'Italy_2019-01': [(24, '22134'), (24, '21786'), (24, '22558')],
 'Italy_2018-12': [(24, '85078'), (12, '85111'), (12, '20956')],
 'Italy_2019-06': [(24, '23084'), (12, '35810A'), (4, '22804')],
 'Italy_2019-10': [(200, '23445'), (36, '22966'), (25, '21498')],
 'Italy_2019-08': [(72, '21306'), (48, '21365'), (48, '21371')],
 'Finland_2019-02': [(24, '21212'), (16, '20677'), (16, '21238')],
 'Finland_2019-05': [],
 'Finland_2019-04': [(96, '23078'), (80, '23077'), (72, '23076')],
 'Finland_2019-11': [(144, '84997D'), (96, '23084'), (72, '22597')],
 'Finland_2019-03': [(66, '21394'), (48, '21399'), (48, '37342')],
 'Finland_2019-07': [(72, '84997D'), (48, '21394'), (48, '21986')],
 'Finland_2019-09': [(120, '23077'), (96, '23078'), (44, '84997D')],
 'Finland_2019-12': [(72, '84997C'), (72, '84997D'), (72, '84997A')],
 'Finland_2019-01': [(144, '21980'), (144, '21983'), (144, '21985')],
 'Finland_2018-12': [(144, '84991'), (144, '22952'), (144, '21977')],
 'Finland_2019-06': [(48, '23034'), (13, '22670'), (12, '22554')],
 'Finland_2019-10': [(76, '84997D'), (48, '84997C'), (48, '23307')],
 'Finland_2019-08': [(48, '84536A'), (40, '85099B'), (36, '84970S')],
 'Israel_2019-02': [(48, '22326'), (36, '22630'), (36, '22399')],
 'Israel_2019-05': [],
 'Israel_2019-04': [(9, '22440'), (6, '84997B'), (4, '21244')],
 'Israel_2019-11': [],
 'Israel_2019-03': [],
 'Israel_2019-07': [(48, '23170'), (48, '23240'), (48, '21294')],
 'Israel_2019-09': [(48, '22153'), (36, '23433'), (23, '22321')],
 'Israel_2019-12': [],
 'Israel_2019-01': [],
 'Israel_2018-12': [(16, '20828'), (12, '84247E'), (9, '84997B')],
 'Israel_2019-06': [(10, '23256'), (10, '84997D'), (7, '84997C')],
 'Israel_2019-10': [(25, '16161P'), (12, '23431'), (12, '23432')],
 'Israel_2019-08': [(100, '20724'), (100, '20719'), (96, '21669')],
 'RSA_2019-02': [],
 'RSA_2019-05': [],
 'RSA_2019-04': [],
 'RSA_2019-11': [],
 'RSA_2019-03': [],
 'RSA_2019-07': [],
 'RSA_2019-09': [],
 'RSA_2019-12': [],
 'RSA_2019-01': [],
 'RSA_2018-12': [],
 'RSA_2019-06': [],
 'RSA_2019-10': [(12, '84375'), (12, '22585'), (12, '22620')],
 'RSA_2019-08': [],
 'France_2019-02': [(252, '22492'), (97, '21086'), (96, '22740')],
 'France_2019-05': [(326, '23084'), (180, '22492'), (179, '22090')],
 'France_2019-04': [(120, '10002'), (96, '23076'), (60, '20725')],
 'France_2019-11': [(1509, '23084'), (360, '22492'), (275, '22959')],
 'France_2019-03': [(288, '22492'), (252, '21086'), (240, '21094')],
 'France_2019-07': [(192, '23084'), (120, '23307'), (104, '23285')],
 'France_2019-09': [(252, '22492'), (200, '23445'), (193, '21731')],
 'France_2019-12': [(282, '23084'), (112, '22435'), (60, '22556')],
 'France_2019-01': [(576, '21381'), (216, '22492'), (192, '22551')],
 'France_2018-12': [(258, '22355'), (192, '22264'), (192, '21731')],
 'France_2019-06': [(360, '22610'), (258, '23084'), (240, '16218')],
 'France_2019-10': [(1014, '23084'), (326, '22386'), (325, '23203')],
 'France_2019-08': [(432, '23084'), (192, '21746'), (168, '21380')],
 'Saudi Arabia_2019-02': [(12, '22553'), (12, '22555'), (12, '22556')],
 'Saudi Arabia_2019-05': [],
 'Saudi Arabia_2019-04': [],
 'Saudi Arabia_2019-11': [],
 'Saudi Arabia_2019-03': [(-5, '22361')],
 'Saudi Arabia_2019-07': [],
 'Saudi Arabia_2019-09': [],
 'Saudi Arabia_2019-12': [],
 'Saudi Arabia_2019-01': [],
 'Saudi Arabia_2018-12': [],
 'Saudi Arabia_2019-06': [],
 'Saudi Arabia_2019-10': [],
 'Saudi Arabia_2019-08': [],
 'Denmark_2019-02': [(24, '22544'), (24, '22539'), (24, '22538')],

In [37]:
fechas = list(set(df['year-month']))

['2019-02',
 '2019-04',
 '2019-03',
 '2019-05',
 '2019-07',
 '2019-11',
 '2019-09',
 '2019-12',
 '2019-01',
 '2018-12',
 '2019-06',
 '2019-10',
 '2019-08']

In [38]:
fechas.sort()

In [39]:
fechas

['2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12']

In [40]:
df_tabla = pd.DataFrame(columns=fechas,index = dffinal.index)

In [41]:
df_tabla

,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
Country,,,,,,,,,,,,,
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EIRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
European Community,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
len(results["Austria_2019-05"])

3

In [84]:
for pais in list(df_tabla.index):
    for fecha in fechas:
        if len(results[pais+"_"+fecha])==0:
            df_tabla[fecha][pais]=[(0,0),(0,0),(0,0)]
        else:
            df_tabla[fecha][pais]=results[pais+"_"+fecha]

In [85]:
df_tabla

,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
Country,,,,,,,,,,,,,
Australia,"[(120, 22915), (50, 79067), (48, 22196)]","[(576, 22492), (252, 21915), (243, 22720)]","[(480, 22969), (384, 22962), (384, 20973)]","[(432, 21981), (432, 22615), (432, 21984)]","[(30, 20725), (30, 22383), (30, 22662)]","[(600, 15036), (576, 21899), (576, 21902)]","[(576, 22492), (400, 22704), (400, 16161P)]","[(408, 23296), (408, 23294), (408, 23293)]","[(720, 21731), (576, 22492), (336, 22940)]","[(1152, 22492), (732, 21915), (240, 22751)]","[(360, 22722), (250, 23510), (250, 23507)]","[(1632, 23084), (216, 23234), (216, 23247)]","[(0, 0), (0, 0), (0, 0)]"
Austria,"[(-48, 22153)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(288, 21918), (240, 22546), (144, 22582)]","[(0, 0), (0, 0), (0, 0)]","[(36, 22492), (24, 22693), (12, 21675)]","[(-1, 22697), (-5, 22357)]","[(25, 21499), (25, 23545), (25, 22051)]","[(24, 21402), (24, 22029), (24, 22348)]","[(0, 0), (0, 0), (0, 0)]","[(24, 21789), (24, 21788), (24, 72817)]","[(279, 23084), (49, 22154), (31, 23353)]","[(36, 22646), (24, 15056N), (24, 20679)]"
Bahrain,"[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(96, 23076), (60, 23077), (24, 22693)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Belgium,"[(148, 21212), (144, 22417), (123, 21977)]","[(144, 22489), (48, 22547), (48, 22544)]","[(48, 22740), (48, 22540), (24, 85230G)]","[(110, 20724), (100, 22355), (60, 20668)]","[(72, 21212), (72, 21977), (36, 21829)]","[(96, 21976), (96, 84991), (96, 22951)]","[(108, 22492), (96, 22740), (60, 20724)]","[(288, 84536B), (72, 22027), (40, 23077)]","[(50, 23545), (50, 23546), (48, 21981)]","[(180, 23310), (90, 22326), (78, 22328)]","[(96, 21212), (96, 22417), (96, 22951)]","[(112, 22629), (108, 23084), (102, 22326)]","[(50, 21499), (27, 79190B), (25, 16156S)]"
Brazil,"[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(24, 22630), (24, 22698), (24, 22697)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Canada,"[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(16, 84755), (12, 79000), (12, 71459)]","[(0, 0), (0, 0), (0, 0)]","[(504, 37370)]","[(288, 84077), (50, 20727), (40, 10133)]","[(48, 47593B), (36, 21829), (36, 22093)]","[(16, 23293), (12, 21993), (8, 23294)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Channel Islands,"[(0, 0), (0, 0), (0, 0)]","[(25, 21500), (25, 16161P), (25, 21498)]","[(407, 21785), (96, 22720), (60, 22748)]","[(96, 22740), (48, 21212), (48, 22151)]","[(24, 22908), (20, 23206), (12, 22960)]","[(25, 21500), (25, 21498), (25, 21499)]","[(25, 22985), (24, 21121), (24, 84992)]","[(0, 0), (0, 0), (0, 0)]","[(210, 85099B), (200, 85099C), (200, 22386)]","[(96, 22741), (48, 22197), (36, 22492)]","[(72, 85123A), (48, 22945), (48, 23327)]","[(36, 22771), (24, 21213), (24, 21212)]","[(24, 23503), (20, 23355), (6, 22086)]"
Cyprus,"[(96, 22335), (64, 85123A), (48, 22297)]","[(60, 82613A), (12, 82484), (12, 85054)]","[(25, 23230), (25, 22709), (24, 22616)]","[(288, 84568), (288, 84598), (24, 22566)]","[(-2, 22666), (-2, 22839)]","[(0, 0), (0, 0), (0, 0)]","[(24, 23182), (24, 22993), (12, 82600)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(96, 85204), (48, 22066), (48, 22154)]","[(28, 16238), (24, 22818), (20, 23500)]","[(-1, 22826), (-1, 22720), (-2, 22797)]"
Czech Republic,"[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(48, 84755), (36, 22231), (32, 22250)]","[(0, 0), (0, 0), (0, 0)]","[(-15, 22231), (-24, 84459A)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(72, 22578), (72, 22579), (48, 23271)]","[(-15, 22231), (-24, 84459A)]","[(0, 0), (0, 0), (0, 0)]"
Denmark,"[(120, 22951), (48, 22779), (48, 22956)]","[(0, 0), (0, 0), (0, 0)]","[(24, 22544), (24, 22539), (24, 22538)]","[(144, 22467), (144, 22693), (72, 22179)]","[(24, 21212), (24, 21977), (24, 22539)]","[(36, 22556), (36, 22630), (36, 22629)]","[(125, 22383), (96, 84077), (54, 22467)]","[(24, 23289), (24, 22820), (24, 23290)]","[(25, 22704), (25, 23233), (25, 22707)]","[(240, 21915), (100, 23201), (100, 20713)]","[(256, 23296), (256, 23295), (48, 23293)]","[(48, 23186), (48, 21175), (36, 23084)]","[(60, 16237), (25, 22708), (25, 22045)]"
EIRE,"[(1440, 17084R), (96, 84991), (84, 84945)]","[(384, 21292), (312, 22957), (300, 22908)]","[(400, 22197), (300, 22985), (300, 23230)]","[(264, 21212), (264, 84991), (241, 21977)]","[(151, 21908), (144, 21181), (144, 82583)]","[(305, 21212), (264, 21977), (200, 23232)]","[(442, 21171), (288, 21787), (276, 21166)]","[(588, 22950), (480, 21212), (432, 22151)]","[(240, 23157), (184, 21790), (180, 22966)]","[(960, 84212), (480, 22952), (444, 22950)]","[(704, 22266), (540, 22197), (264, 85078)]","[(432, 22578), (432, 85123A), (336, 22952)]","[(96, 22197), (88, 85123A), (72, 23320)]"
European Community,"[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(6, 22314), (6, 22312), (6, 22457)]","[(0, 0), (0, 0), (0, 0)]","[(12, 22314), (12, 22319), (12, 22961)]","[(24, 23308), (24, 23211), (24, 23210)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Finland,"[(144, 84991), (144, 22952), (144, 21977)]","[(144, 21980), (144, 21983), (144, 21985)]","[(24, 21212), (16, 20677), (16, 21238)]","[(66, 21394), (48, 21399), (48, 37342)]","[(96, 23078), (80, 23077), (72, 23076)]","[(0, 0), (0, 0), (0, 0)]","[(48, 23034), (13, 22670), (12, 22554)]","[(72, 84997D), (48, 21394), (48, 21986)]","[(48, 84536A), (40, 85099B), (36, 84970S)]","[(120, 23077), (96, 23078), (44, 84997D)]","[(76, 84997D), (48, 84997C), (48, 23307)]","[(144, 84997D), (96, 23084), (72, 22597)]","[(72, 84997C), (72, 84997D), (72, 84997A)]"
France,"[(258, 22355), (192, 22264), (192, 21731)]","[(576, 21381), (216, 22492), (192, 22551)]","[(252, 22492), (97, 21086), (96, 22740)]","[(288, 22492), (252, 21086), (240, 21094)]","[(120, 10002), (96, 23076), (60, 20725)]","[(326, 23084), (180, 22492), (179, 22090)]","[(360, 22610), (258, 23084), (240, 16218)]","[(192, 23084), (120, 23307), (104, 23285)]","[(432, 23084), (192, 21746), (168, 21380)]","[(252, 22492), (200, 23445), (193, 21731)]","[(1014, 23084), (326, 22386), (325, 23203)]","[(1509, 23084), (360, 22492), (275, 22959)]","[(282, 23084), (112, 22435), (60, 22556)]"
Germany,"[(156, 22961), (120, 21700), (116, 22326)]","[(170, 22585), (150, 84692), (101, 21880)]","[(300, 22585), (205, 10133), (144, 22991)]","[(312, 22585), (176, 22243), (120, 23158)]","[(288, 22893), (204, 84945), (100, 21035)]","[(890, 15036), (210, 20719), (181, 23206)]","[(360, 15036), (288, 84568), (108, 22492)]","[(144, 23307), (136, 23293), (130, 22326)]","[(208, 23295), (208, 23293), (192, 22741)]","[(170, 21212), (150, 21500), (150, 21498)]","[(600, 16045), (456, 23379), (168, 23210)]","[(264, 23084), (228, 22629), (180, 23212)]","[(81, 21232), (76, 22629), (75, 23232)]"
Greece,"[(0, 0), (0, 0), (0, 0)]","[(48, 21615), (48, 21616), (32, 22604)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(12, 20982), (12, 21891), (12, 22029)]"
Hong Kong,"[(0, 0), (0, 0), (0, 0)]","[(96, 22326), (60, 22620), (60, 22382)]","[(3, 46000U)]","[(0, 0), (0, 0), (0, 0)]","[(48, 22418), (48, 20675), (48, 21239)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(12, 21985), (6, 22092), (6, 21821)]","[(36, 21829), (36, 22492), (36, 21915)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Iceland,"[(36, 22492), (30, 85167B), (24, 84558A)]","[(24, 84992), (24, 22417), (24, 21976)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(240, 23076), (36, 22492), (24, 21975)]","[(0, 0), (0, 0), (0, 0)]","[(36, 17021), (24, 22196), (18, 84558A)]","[(0, 0), (0, 0), (0, 0)]","[(36, 84558A), (24, 23308), (24, 21975)]","[(0, 0), (0, 0), (0, 0)]","[(48, 23084), (36, 84558A), (36, 22492)]","[(44, 23084), (21, 84568), (18, 22944)]","[(24, 84625A), (24, 23084), (24, 21731)]"
Israel,"[(16, 20828), (12, 84247E), (9, 84997B)]","[(0, 0), (0, 0), (0, 0)]","[(48, 22326), (36, 22630), (36, 22399)]","[(0, 0), (0, 0), (0, 0)]","[(9, 22440), (6, 84997B), (4, 21244)]","[(0, 0), (0, 0), (0, 0)]","[(10, 23256), (10, 84997D), (7, 84997C)]","[(48, 23170), (48, 23240), (48, 21294)]","[(100, 20724), (100, 20719), (96, 21669)]","[(48, 22153), (36, 23433), (23, 22321)]","[(25, 16161P), (12, 23431), (12, 23432)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Italy,"[(24, 85078), (12, 85111), (12, 20956)]","[(24, 22134), (24, 21786), (24, 22558)]","[(12, 84375), (12, 22556), (10, 20712)]","[(40, 20719), (30, 20724), (24, 21700)]","[(96, 47593B), (96, 51014A), (72, 21700)]","[(24, 22466), (20, 20724), (20, 20719)]","[(24, 23084), (12, 35810A), (4, 22804)]","[(9, 22720), (4, 23243), (3, 21533)]","[(72, 21306), (48, 21365), (48, 21371)]","[(6, 22804), (6, 22960), (6, 23423)]","[(200, 23445), (36, 22966), (25, 21498)]","[(144, 51014A), (100, 22197), (96, 51014C)]","[(18, 85123A), (9, 22720), (6, 22667)]"
Japan,"[(1488, 22328), (120, 84988), (100, 22661)]","[(-1, 22244), (-1, 21155), (-3, 22567)]","[(144, 22549), (108, 22859), (108, 22858)]","[(6, 22967), (4, 22630), (4, 22749)]","[(576, 22489), (576, 22531), (576, 22533)]","[(96, 21078), (96, 20992), (96, 21080)]","[(576, 21918), (576, 22491), (432, 22489)]","[(100, 22652), (100, 22662), (100, 22661)]","[(-1, 23238), (-1, 22662), (-1, 23229)]","[(72, 21787), (24, 21789), (24, 21788)]","[(960, 23084), (24, 21976), (24, 22951)]","[(2160, 23084), (192, 22621), (144, 23380)]","[(-1, 22621), (-1, 23238), (-2, 21731)]"
Lebanon,"[(0, 0), (0, 0), (0, 0)]","[(24, 84929), (15, 47566), (12, 82600)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Lithuania,"[(48, 21915), (48, 22271), (36, 22307)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Malta,"[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(24, 85230A), (24, 21982), (24, 23226)]","[(0, 0), (0, 0), (0, 0)]","[(25, 22959), (18, 72741), (12, 23171)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(48, 22065), (42, 72741), (23, 85034C)]","[(-1, 22307), (-1, 72807C), (-1, 85034C)]"
Netherlands,"[(300, 22378), (288, 22856), (288, 21731)]","[(1680, 21212), (672, 22551), (576, 22629)]","[(448, 22630), (360, 21684), (320, 22629)]","[(652, 22630), (652, 22629), (300, 20719)]","[(200, 85099B), (144, 22326), (100, 21929)]","[(1200, 21212), (1152, 22243), (480, 84212)]","[(540, 22326), (524, 22629), (524, 22630)]","[(1, 23297), (1, 23296), (1, 23295)]","[(896, 22629), (832, 22630), (768, 23268)]","[(400, 23346), (400, 23345), (384, 23293)]","[(2400, 23084), (1872, 22595), (576, 22492)]","[(1152, 22492), (432, 22152), (400, 22356)]","[(1440, 23084), (216, 22029), (216, 22712)]"
Norway,"[(144, 84050), (144, 22197), (100, 84692)]","[(0, 0), (0, 0), (0, 0)]","[(12, 21232), (12, 21700), (12, 22064)]","[(24, 84050), (12, 37448), (12, 22645)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(24, 23160), (12, 22772), (12, 84970L)]","[(48, 16219), (36, 16258A), (36, 21829)]","[(36, 22492), (25, 16169E), (24, 35471D)]","[(144, 21212), (144, 21977), (120, 23307)]","[(120, 21213), (96, 22693), (96, 15034)]","[(240, 16008), (192, 22693), (144, 72232)]","[(240, 16008), (192, 22693), (144, 72232)]"
Poland,"[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(12, 22567), (12, 84832), (12, 21868)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(40, 16014), (20, 16016), (12, 22979)]","[(12, 22962), (10, 22652), (10, 16016)]","[(40, 16016), (40, 16014), (12, 84970L)]","[(48, 23084), (25, 22710), (25, 16161U)]","[(24, 23198), (24, 20836), (24, 22342)]","[(0, 0), (0, 0), (0, 0)]","[(48, 35953), (24, 22340), (24, 22998)]","[(0, 0), (0, 0), (0, 0)]"
Portugal,"[(34, 20728), (24, 22540), (24, 22444)]","[(144, 84991), (120, 84992), (72, 21231)]","[(25, 21498), (25, 21500), (25, 23231)]","[(108, 22492), (48, 22996), (48, 22995)]","[(72, 22857), (48, 21383), (48, 84991)]","[(36, 22593), (12, 21980), (10, 22411)]","[(24, 22280), (24, 22279), (12, 21080)]","[(144, 22740), (60, 23209), (50, 21498)]","[(50, 22050), (50, 16161P), (50, 16161U)]","[(72, 23078), (48, 23076), (40, 22101)]","[(75, 21498), (72, 21212), (50, 16161P)]","[(60, 23581), (50, 23583), (40, 23582)]","[(120, 22924), (120, 22923), (120, 22922)]"
RSA,"[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(12, 84375), (12, 22585), (12, 22620)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Saudi Arabia,"[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(12, 22553), (12, 22555), (12, 22556)]","[(-5, 22361)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Singapore,"[(0, 0), (0, 0), (0, 0)]","[(100, 22197), (72, 21519), (72, 21790)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(100, 22197), (72, 22346), (72, 72741)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(288, 22339), (72, 35970), (72, 22343)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(100, 22197), (96, 22339), (94, 22336)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
Spain,"[(48, 84077), (36, 84347), (24, 21506)]","[(49, 22077), (48, 84879), (48, 84077)]","[(288, 22335), (96, 71459), (96, 22252)]","[(48, 22077), (48, 21124), (48, 21213)]","[(32, 21239), (32, 21243), (32, 21244)]","[(80, 84879), (50, 23230), (48, 21977)]","[(50, 23231), (48, 21394), (48, 22066)]","[(144, 23297), (128, 23294), (128, 23293)]","[(96, 84077), (60, 84826), (40, 84879)]","[(48, 84077), (48, 22741), (48, 21213)]","[(96, 23167), (96, 23187), (72, 22599)]","[(56, 84879), (48, 22065), (48, 22741)]","[(25, 23546), (24, 21981), (24, 21980)]"
Sweden,"[(576, 84077), (288, 21210), (288, 22348)]","[(576, 22492), (240, 22546), (240, 22544)]","[(48, 22435), (25, 23230), (25, 21499)]","[(768, 20975), (576, 22492), (480, 21977)]","[(24, 21124), (20, 23206), (20, 20725)]","[(576, 84077), (576, 22492), (432, 22489)]","[(36, 22492), (24, 23084), (24, 23307)]","[(576, 84077), (504, 23308), (480, 23307)]","[(720, 15036), (240, 51014A), (24, 20974)]","[(720, 23310), (576, 22492), (480, 23297)]","[(576, 22492), (480, 22952), (384, 23367)]","[(288, 84077), (256, 23293), (128, 23296)]","[(0, 23494)]"
Switzerland,"[(36, 22554), (30, 22326), (24, 22540)]","[(144, 22326), (120, 84012), (97, 22554)]","[(72, 21829), (60, 22858), (30, 20728)]","[(156, 22857), (108, 22858), (60, 22860)]","[(100, 23199), (48, 21976), (26, 85099B)]","[(60, 22436), (60, 22440), (48, 22417)]","[(125, 22045), (120, 21976), (120, 22417)]","[(132, 22551), (132, 22554), (96, 84077)]","[(288, 84568), (48, 21080), (48, 21086)]","[(180, 21680), (132, 23432), (120, 21212)]","[(100, 22704), (96, 22336), (72, 23379)]","[(108, 22632), (96, 22969), (72, 72741)]","[(0, 0), (0, 0), (0, 0)]"
USA,"[(14, 22963), (6, 22439), (4, 22962)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(36, 22129), (12, 22128), (7, 22722)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(53, 22355), (23, 20719), (22, 20724)]","[(0, 0), (0, 0), (0, 0)]","[(48, 21123), (48, 21121), (48, 21122)]","[(24, 20973), (16, 23371), (12, 21891)]","[(72, 23366), (72, 20975), (24, 23328)]"
United Arab Emirates,"[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(72, 85215), (72, 21700), (24, 82552)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(36, 22092), (36, 22492), (25, 23231)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"
United Kingdom,"[(4570, 84077), (3206, 22834), (3168, 85123A)]","[(5227, 85123A), (3227, 21108), (3181, 17003)]","[(3976, 22053), (3747, 22693), (3469, 84077)]","[(5076, 85099B), (3744, 84077), (3477, 22616)]","[(9471, 84077), (2707, 21212), (2635, 22440)]","[(6722, 22197), (3931, 85123A), (3741, 21977)]","[(3149, 85099B), (2989, 17003), (2926, 15036)]","[(5019, 84568), (3366, 15036), (3207, 18007)]","[(6496, 84879), (5229, 22197), (4667, 85099B)]","[(3919, 85099B), (3817, 22197), (2919, 22952)]","[(8084, 84077), (5150, 22197), (4273, 85099B)]","[(12551, 84826), (11728, 22197), (8335, 23084)]","[(6002, 22197), (2397, 23084), (2083, 22086)]"
Unspecified,"[(25, 22047), (12, 17021), (12, 21833)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(24, 21976), (24, 84991), (24, 21977)]","[(48, 47021G), (25, 22985), (25, 23231)]","[(36, 23119), (12, 23122), (6, 23237)]","[(48, 84077), (40, 22439), (25, 23546)]","[(36, 22952), (24, 23236), (24, 23234)]","[(48, 84077), (36, 23310), (24, 23076)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]","[(0, 0), (0, 0), (0, 0)]"

In [86]:
path = "/Users/jesusarredondo/Documents/Diplomado/Modulo1/Data/"
archivo = "ecommerce_Arredondo_GInda_JesusAntonio.csv"
df_tabla.to_csv(path+archivo,encoding = "utf-8")

### Con precio

In [92]:
df["Price"]= df["Price"].astype("str")
df['key'] = df['Country'] + '_' + df['year-month'] + '_' + df['ProductNo']+'_'+df["Price"]
aux4 = df[['key', 'Quantity']].groupby('key').sum().sort_values(by = ('Quantity'), ascending = False)

In [93]:
aux4

                                    Quantity
key
United Kingdom_2019-11_84826_1.5       12540
United Kingdom_2019-04_84077_1.53       7968
United Kingdom_2019-05_22197_1.61       5760
United Kingdom_2019-11_22197_1.61       5577
United Kingdom_2019-10_84077_1.53       5376
...                                      ...
United Kingdom_2019-08_21877_1.66       -828
United Kingdom_2019-04_85123A_1.88     -1066
United Kingdom_2019-04_47566B_1.88     -1300
United Kingdom_2019-04_21175_1.78      -2000
United Kingdom_2018-12_84347_1.5       -9360

[105460 rows x 1 columns]

In [95]:
aux4['country'] = aux4.index.astype(str).map(lambda x:x.strip().split('_')[0])
aux4['year-month'] = aux4.index.astype(str).map(lambda x:x.strip().split('_')[1])
aux4['prod'] = aux4.index.astype(str).map(lambda x:x.strip().split('_')[2])
aux4['price']=aux4.index.astype(str).map(lambda x:x.strip().split('_')[3])

In [96]:
aux4['price']=aux4['price'].astype(float)

In [97]:
aux4

,Quantity,country,year-month,prod,price
key,,,,,
United Kingdom_2019-11_84826_1.5,12540,United Kingdom,2019-11,84826,1.50
United Kingdom_2019-04_84077_1.53,7968,United Kingdom,2019-04,84077,1.53
United Kingdom_2019-05_22197_1.61,5760,United Kingdom,2019-05,22197,1.61
United Kingdom_2019-11_22197_1.61,5577,United Kingdom,2019-11,22197,1.61
United Kingdom_2019-10_84077_1.53,5376,United Kingdom,2019-10,84077,1.53
...,...,...,...,...,...
United Kingdom_2019-08_21877_1.66,-828,United Kingdom,2019-08,21877,1.66
United Kingdom_2019-04_85123A_1.88,-1066,United Kingdom,2019-04,85123A,1.88
United Kingdom_2019-04_47566B_1.88,-1300,United Kingdom,2019-04,47566B,1.88
United Kingdom_2019-04_21175_1.78,-2000,United Kingdom,2019-04,21175,1.78
United Kingdom_2018-12_84347_1.5,-9360,United Kingdom,2018-12,84347,1.50

In [99]:
columns = list(set(aux4['year-month']))
Country = list(set(aux4['country']))
results = dict()
for p in Country:
    aux5 = aux4.loc[aux4['country'] == p]
    for c in columns:
        aux6 = aux5.loc[aux5['year-month'] == c].sort_values(by = 'Quantity', ascending = False)
        result = (aux6[['prod','Quantity','price']].head(3)).to_numpy().tolist()
        result_2 = [tuple(x) for x in result]
        results[p + '_' + c] = result_2

In [100]:
results

{'Austria_2019-02': [],
 'Austria_2019-05': [('22492', 36, 1.6),
  ('22693', 24, 1.69),
  ('21988', 12, 1.63)],
 'Austria_2019-04': [],
 'Austria_2019-11': [('23084', 279, 2.12),
  ('22154', 48, 1.56),
  ('22604', 30, 2.24)],
 'Austria_2019-07': [('21498', 25, 1.56),
  ('23545', 25, 1.56),
  ('21500', 25, 1.56)],
 'Austria_2019-03': [('21918', 288, 1.55),
  ('22546', 240, 1.55),
  ('22584', 144, 1.81)],
 'Austria_2019-09': [],
 'Austria_2019-12': [('22646', 36, 1.56),
  ('15056N', 24, 2.39),
  ('20679', 24, 2.39)],
 'Austria_2019-01': [],
 'Austria_2018-12': [('22153', -48, 1.56)],
 'Austria_2019-06': [('22697', -1, 1.94), ('22357', -5, 2.14)],
 'Austria_2019-10': [('21789', 24, 1.63),
  ('72817', 24, 1.62),
  ('21788', 24, 1.63)],
 'Austria_2019-08': [('21402', 24, 1.52),
  ('22029', 24, 1.56),
  ('22348', 24, 1.63)],
 'Singapore_2019-02': [],
 'Singapore_2019-05': [],
 'Singapore_2019-04': [('22197', 100, 1.61),
  ('22346', 72, 1.61),
  ('22343', 72, 1.61)],
 'Singapore_2019-11': [],
 'Singapore_2019-07': [('22339', 288, 1.58),
  ('35970', 72, 1.72),
  ('22343', 72, 1.61)],
 'Singapore_2019-03': [],
 'Singapore_2019-09': [],
 'Singapore_2019-12': [],
 'Singapore_2019-01': [('22197', 100, 1.61),
  ('21790', 72, 1.61),
  ('21519', 72, 1.55)],
 'Singapore_2018-12': [],
 'Singapore_2019-06': [],
 'Singapore_2019-10': [('22197', 100, 1.61),
  ('22339', 96, 1.53),
  ('22336', 94, 1.53)],
 'Singapore_2019-08': [],
 'Switzerland_2019-02': [('21829', 72, 1.53),
  ('22858', 60, 1.75),
  ('20728', 30, 1.75)],
 'Switzerland_2019-05': [('22436', 60, 1.6),
  ('22440', 60, 1.56),
  ('21680', 48, 1.63)],
 'Switzerland_2019-04': [('23199', 100, 1.77),
  ('21976', 48, 1.58),
  ('21981', 24, 1.54)],
 'Switzerland_2019-11': [('22969', 96, 1.69),
  ('22632', 96, 1.78),
  ('85038', 72, 1.78)],
 'Switzerland_2019-07': [('84077', 96, 1.54),
  ('22554', 96, 1.72),
  ('22551', 96, 1.72)],
 'Switzerland_2019-03': [('22857', 144, 1.61),
  ('22858', 108, 1.72),
  ('22860', 60, 1.75)],
 'Switzerland_2019-09': [('21680', 180, 1.63),
  ('23432', 132, 1.62),
  ('21212', 120, 1.56)],
 'Switzerland_2019-12': [],
 'Switzerland_2019-01': [('84012', 120, 1.63),
  ('21982', 96, 1.54),
  ('22326', 96, 1.88)],
 'Switzerland_2018-12': [('22554', 36, 1.75),
  ('22326', 30, 1.94),
  ('22953', 24, 1.69)],
 'Switzerland_2019-06': [('22045', 125, 1.56),
  ('21976', 120, 1.56),
  ('21212', 120, 1.56)],
 'Switzerland_2019-10': [('22704', 100, 1.56),
  ('22336', 96, 1.53),
  ('23379', 72, 1.56)],
 'Switzerland_2019-08': [('84568', 288, 1.53),
  ('21094', 48, 1.63),
  ('21086', 48, 1.6)],
 'Unspecified_2019-02': [],
 'Unspecified_2019-05': [('47021G', 48, 1.56),
  ('21497', 25, 1.56),
  ('22711', 25, 1.56)],
 'Unspecified_2019-04': [('84992', 24, 1.58),
  ('84991', 24, 1.58),
  ('21977', 24, 1.58)],
 'Unspecified_2019-11': [],
 'Unspecified_2019-07': [('84077', 48, 1.54),
  ('22439', 40, 1.6),
  ('16161P', 25, 1.56)],
 'Unspecified_2019-03': [],
 'Unspecified_2019-09': [('84077', 48, 1.54),
  ('23310', 36, 1.56),
  ('23076', 24, 1.69)],
 'Unspecified_2019-12': [],
 'Unspecified_2019-01': [],
 'Unspecified_2018-12': [('22047', 25, 1.56),
  ('21833', 12, 1.75),
  ('17021', 12, 1.55)],
 'Unspecified_2019-06': [('23119', 36, 1.59),
  ('23122', 12, 1.62),
  ('23237', 6, 2.12)],
 'Unspecified_2019-10': [],
 'Unspecified_2019-08': [('22952', 36, 1.58),
  ('23236', 24, 1.93),
  ('23234', 24, 1.93)],
 'United Arab Emirates_2019-02': [('85215', 72, 1.6),
  ('21700', 72, 1.63),
  ('82552', 24, 1.72)],
 'United Arab Emirates_2019-05': [],
 'United Arab Emirates_2019-04': [],
 'United Arab Emirates_2019-11': [],
 'United Arab Emirates_2019-07': [],
 'United Arab Emirates_2019-03': [],
 'United Arab Emirates_2019-09': [('22492', 36, 1.6),
  ('22092', 36, 1.56),
  ('22045', 25, 1.56)],
 'United Arab Emirates_2019-12': [],
 'United Arab Emirates_2019-01': [],
 'United Arab Emirates_2018-12': [],
 'United Arab Emirates_2019-06': [],
 'United Arab Emirates_2019-10': [],
 'United Arab Emirates_2019-08': [],
 'Brazil_2019-02': [],
 'Brazil_2019-05': [],
 'Brazil_2019-04': [('21430', 24, 2.01),
  ('22697', 24, 1.88),
  ('22698', 24, 1.88)],
 'Brazil_2019-11': [],
 'Brazil_2019-07': [],
 'Brazil_2019-03': [],
 'Brazil_2019-09': [],
 'Brazil_2019-12': [],
 'Brazil_2019-01': [],
 'Brazil_2018-12': [],
 'Brazil_2019-06': [],
 'Brazil_2019-10': [],
 'Brazil_2019-08': [],
 'Lebanon_2019-02': [],
 'Lebanon_2019-05': [],
 'Lebanon_2019-04': [],
 'Lebanon_2019-11': [],
 'Lebanon_2019-07': [],
 'Lebanon_2019-03': [],
 'Lebanon_2019-09': [],
 'Lebanon_2019-12': [],
 'Lebanon_2019-01': [('84929', 24, 1.58),
  ('47566', 15, 2.2),
  ('82551', 12, 1.72)],
 'Lebanon_2018-12': [],
 'Lebanon_2019-06': [],
 'Lebanon_2019-10': [],
 'Lebanon_2019-08': [],
 'Bahrain_2019-02': [],
 'Bahrain_2019-05': [('23076', 96, 1.69),
  ('23077', 60, 1.69),
  ('22693', 24, 1.69)],
 'Bahrain_2019-04': [],
 'Bahrain_2019-11': [],
 'Bahrain_2019-07': [],
 'Bahrain_2019-03': [],
 'Bahrain_2019-09': [],
 'Bahrain_2019-12': [],
 'Bahrain_2019-01': [],
 'Bahrain_2018-12': [],
 'Bahrain_2019-06': [],
 'Bahrain_2019-10': [],
 'Bahrain_2019-08': [],
 'Sweden_2019-02': [('22435', 48, 1.69),
  ('23230', 25, 1.56),
  ('21500', 25, 1.56)],
 'Sweden_2019-05': [('22492', 576, 1.6),
  ('84077', 576, 1.54),
  ('22489', 432, 1.56)],
 'Sweden_2019-04': [('21124', 24, 1.69),
  ('20725', 20, 1.75),
  ('23206', 20, 1.75)],
 'Sweden_2019-11': [('84077', 288, 1.54),
  ('23293', 256, 1.62),
  ('23296', 128, 1.69)],
 'Sweden_2019-07': [('84077', 576, 1.54),
  ('23308', 504, 1.58),
  ('23307', 480, 1.58)],
 'Sweden_2019-03': [('20975', 768, 1.6),
  ('22492', 576, 1.6),
  ('21212', 480, 1.58)],
 'Sweden_2019-09': [('23310', 720, 1.56),
  ('22492', 576, 1.6),
  ('23297', 480, 1.75)],
 'Sweden_2019-12': [('23494', 0, 2.39)],
 'Sweden_2019-01': [('22492', 576, 1.6),
  ('22539', 240, 1.56),
  ('22546', 240, 1.56)],
 'Sweden_2018-12': [('84077', 576, 1.54),
  ('21210', 288, 1.72),
  ('22348', 288, 1.63)],
 'Sweden_2019-06': [('22492', 36, 1.6),
  ('21788', 24, 1.63),
  ('21731', 24, 1.75)],
 'Sweden_2019-10': [('22492', 576, 1.6),
  ('22952', 480, 1.56),
  ('23367', 384, 1.6)],
 'Sweden_2019-08': [('15036', 720, 1.61),
  ('51014A', 240, 1.56),
  ('21213', 24, 1.58)],
 'Lithuania_2019-02': [],
 'Lithuania_2019-05': [],
 'Lithuania_2019-04': [],
 'Lithuania_2019-11': [],
 'Lithuania_2019-07': [],
 'Lithuania_2019-03': [],
 'Lithuania_2019-09': [],
 'Lithuania_2019-12': [],
 'Lithuania_2019-01': [],
 'Lithuania_2018-12': [('21915', 48, 1.69),
  ('22271', 48, 1.88),
  ('20967', 36, 2.06)],
 'Lithuania_2019-06': [],
 'Lithuania_2019-10': [],
 'Lithuania_2019-08': [],
 'Germany_2019-02': [('22585', 288, 1.66),
  ('10133', 200, 1.66),
  ('22991', 144, 1.75)],
 'Germany_2019-05': [('15036', 600, 1.6),
  ('15036', 290, 1.62),
  ('23204', 180, 1.63)],
 'Germany_2019-04': [('22893', 288, 1.55),
  ('84945', 192, 1.61),
  ('47599A', 100, 1.75)],
 'Germany_2019-11': [('23084', 216, 1.77),
  ('22629', 192, 1.75),
  ('21212', 180, 1.58)],
 'Germany_2019-07': [('23307', 144, 1.58),
  ('23294', 128, 1.61),
  ('23293', 128, 1.61)],
 'Germany_2019-03': [('22585', 288, 1.66),
  ('23156', 120, 1.78),
  ('23154', 120, 1.78)],
 'Germany_2019-09': [('21212', 168, 1.58),
  ('21495', 150, 1.56),
  ('21500', 150, 1.56)],
 'Germany_2019-12': [('21232', 81, 1.69),
  ('23232', 75, 1.56),
  ('84012', 72, 1.63)],
 'Germany_2019-01': [('84692', 150, 1.56),
  ('22585', 144, 1.66),
  ('21981', 96, 1.54)],
 'Germany_2018-12': [('22961', 144, 1.72),
  ('21700', 120, 1.63),
  ('22326', 114, 1.94)],
 'Germany_2019-06': [('15036', 360, 1.62),
  ('84568', 288, 1.53),
  ('22492', 108, 1.6)],
 'Germany_2019-10': [('16045', 600, 1.51),
  ('23379', 432, 1.55),
  ('22077', 156, 1.79)],
 'Germany_2019-08': [('22741', 192, 1.63),
  ('23295', 128, 1.61),
  ('23293', 128, 1.61)],
 'Canada_2019-02': [],
 'Canada_2019-05': [('37370', 504, 1.66)],
 'Canada_2019-04': [],
 'Canada_2019-11': [],
 'Canada_2019-07': [('47593B', 48, 1.56),
  ('21829', 36, 1.53),
  ('22094', 36, 1.56)],
 'Canada_2019-03': [('84755', 16, 1.6),
  ('79000', 12, 1.63),
  ('71459', 12, 1.63)],
 'Canada_2019-09': [],
 'Canada_2019-12': [],
 'Canada_2019-01': [],
 'Canada_2018-12': [],
 'Canada_2019-06': [('84077', 288, 1.53),
  ('20727', 50, 1.75),
  ('21871', 36, 1.69)],
 'Canada_2019-10': [],
 'Canada_2019-08': [('23293', 16, 1.62),
  ('21993', 12, 1.69),
  ('23294', 8, 1.62)],
 'Spain_2019-02': [('22335', 288, 1.58),
  ('22252', 96, 1.66),
  ('71459', 96, 1.61)],
 'Spain_2019-05': [('84879', 80, 1.75),
  ('23230', 50, 1.56),
  ('21977', 48, 1.58)],
 'Spain_2019-04': [('21244', 32, 1.75),
  ('21240', 32, 1.63),
  ('21239', 32, 1.63)],
 'Spain_2019-11': [('84879', 56, 1.75),
  ('22065', 48, 1.56),
  ('35953', 48, 1.56)],
 'Spain_2019-07': [('23297', 144, 1.72),
  ('23295', 128, 1.61),
  ('23294', 128, 1.61)],
 'Spain_2019-03': [('22077', 48, 1.75),
  ('21124', 48, 1.69),
  ('21122', 48, 1.69)],
 'Spain_2019-09': [('22741', 48, 1.63),
  ('21212', 48, 1.58),
  ('84879', 48, 1.75)],
 'Spain_2019-12': [('23546', 25, 1.56),
  ('21982', 24, 1.56),
  ('21981', 24, 1.56)],
 'Spain_2019-01': [('22077', 48, 1.75),
  ('21122', 48, 1.69),
  ('21121', 48, 1.69)],
 'Spain_2018-12': [('84077', 48, 1.54),
  ('84347', 36, 1.88),
  ('21506', 24, 1.56)],
 'Spain_2019-06': [('23231', 50, 1.56),
  ('21394', 48, 1.56),
  ('22066', 48, 1.56)],
 'Spain_2019-10': [('23167', 96, 1.6),
  ('23187', 96, 1.54),
  ('22599', 72, 1.54)],
 'Spain_2019-08': [('84077', 96, 1.54),
  ('84826', 60, 1.63),
  ('84879', 40, 1.75)],
 'Japan_2019-02': [('22549', 144, 1.69),
  ('22858', 108, 1.72),
  ('22859', 108, 1.72)],
 'Japan_2019-05': [('21080', 96, 1.61),
  ('22613', 96, 1.61),
  ('20992', 96, 1.61)],
 'Japan_2019-04': [('84077', 576, 1.53),
  ('22531', 576, 1.55),
  ('22489', 576, 1.55)],
 'Japan_2019-11': [('23084', 2160, 1.77),
  ('22621', 192, 1.72),
  ('23380', 144, 1.56)],
 'Japan_2019-07': [('22662', 100, 1.72),
  ('22652', 100, 1.75),
  ('22661', 100, 1.61)],
 'Japan_2019-03': [('22967', 6, 1.88), ('22662', 4, 1.75), ('22630', 4, 1.79)],
 'Japan_2019-09': [('21787', 72, 1.63),
  ('21789', 24, 1.63),
  ('21788', 24, 1.63)],
 'Japan_2019-12': [('23238', -1, 2.06),
  ('22621', -1, 1.72),
  ('21731', -2, 1.72)],
 'Japan_2019-01': [('22244', -1, 1.79),
  ('21155', -1, 1.81),
  ('22567', -3, 1.69)],
 'Japan_2018-12': [('22328', 1488, 1.88),
  ('22661', 100, 1.61),
  ('84988', 96, 1.69)],
 'Japan_2019-06': [('21918', 576, 1.55),
  ('22491', 576, 1.61),
  ('22489', 432, 1.55)],
 'Japan_2019-10': [('23084', 960, 1.77),
  ('21976', 24, 1.58),
  ('23307', 24, 1.58)],
 'Japan_2019-08': [('22662', -1, 1.75),
  ('23229', -1, 2.01),
  ('23238', -1, 2.06)],
 'Hong Kong_2019-02': [('46000U', 3, 1.69)],
 'Hong Kong_2019-05': [],
 'Hong Kong_2019-04': [('21238', 48, 1.63),
  ('20675', 48, 1.69),
  ('47422', 48, 1.56)],
 'Hong Kong_2019-11': [],
 'Hong Kong_2019-07': [],
 'Hong Kong_2019-03': [],
 'Hong Kong_2019-09': [('21985', 12, 1.56),
  ('22092', 6, 1.56),
  ('21821', 6, 2.06)],
 'Hong Kong_2019-12': [],
 'Hong Kong_2019-01': [('22326', 96, 1.88),
  ('22620', 60, 1.69),
  ('22382', 60, 1.75)],
 'Hong Kong_2018-12': [],
 'Hong Kong_2019-06': [],
 'Hong Kong_2019-10': [('21915', 36, 1.69),
  ('21829', 36, 1.53),
  ('22492', 36, 1.6)],
 'Hong Kong_2019-08': [],
 'Poland_2019-02': [('22920', 12, 1.6),
  ('22759', 12, 1.75),
  ('21868', 12, 1.69)],
 'Poland_2019-05': [('16014', 40, 1.56),
  ('16016', 20, 1.63),
  ('23167', 12, 1.62)],
 'Poland_2019-04': [],
 'Poland_2019-11': [('35953', 48, 1.56),
  ('22998', 24, 1.56),
  ('22340', 24, 1.56)],
 'Poland_2019-07': [('16014', 40, 1.56),
  ('16016', 40, 1.63),
  ('84970L', 12, 1.64)],
 'Poland_2019-03': [],
 'Poland_2019-09': [('22342', 24, 1.61),
  ('23198', 24, 1.72),
  ('16016', 20, 1.63)],
 'Poland_2019-12': [],
 'Poland_2019-01': [],
 'Poland_2018-12': [],
 'Poland_2019-06': [('22962', 12, 1.63),
  ('16016', 10, 1.63),
  ('22652', 10, 1.75)],
 'Poland_2019-10': [],
 'Poland_2019-08': [('23084', 48, 1.77),
  ('23231', 25, 1.56),
  ('16161U', 25, 1.56)],
 'Portugal_2019-02': [('23231', 25, 1.56),
  ('21500', 25, 1.56),
  ('21498', 25, 1.56)],
 'Portugal_2019-05': [('22593', 36, 1.63),
  ('21980', 12, 1.54),
  ('23202', 10, 1.81)],
 'Portugal_2019-04': [('22857', 72, 1.63),
  ('21383', 48, 1.6),
  ('84991', 48, 1.58)],
 'Portugal_2019-11': [('23581', 60, 1.81),
  ('23583', 50, 1.75),
  ('23582', 40, 1.81)],
 'Portugal_2019-07': [('22740', 144, 1.63),
  ('23209', 60, 1.75),
  ('21498', 50, 1.56)],
 'Portugal_2019-03': [('22492', 108, 1.6),
  ('22996', 48, 1.56),
  ('23006', 48, 1.56)],
 'Portugal_2019-09': [('23078', 72, 1.69),
  ('23076', 48, 1.69),
  ('23077', 40, 1.69)],
 'Portugal_2019-12': [('22923', 120, 1.61),
  ('22922', 120, 1.61),
  ('22924', 120, 1.61)],
 'Portugal_2019-01': [('84992', 120, 1.56),
  ('84991', 120, 1.56),
  ('21231', 72, 1.66)],
 'Portugal_2018-12': [('20728', 34, 1.75),
  ('22540', 24, 1.56),
  ('22759', 24, 1.75)],
 'Portugal_2019-06': [('22280', 24, 1.69),
  ('22279', 24, 1.69),
  ('21080', 12, 1.63)],
 'Portugal_2019-10': [('21498', 75, 1.56),
  ('21212', 72, 1.58),
  ('16161P', 50, 1.56)],
 'Portugal_2019-08': [('16161P', 50, 1.56),
  ('22050', 50, 1.56),
  ('16161U', 50, 1.56)],
 'European Community_2019-02': [],
 'European Community_2019-05': [],
 'European Community_2019-04': [('22457', 6, 1.94),
  ('22314', 6, 1.94),
  ('22312', 6, 1.94)],
 'European Community_2019-11': [],
 'European Community_2019-07': [('22571', 24, 1.63),
  ('23210', 24, 1.69),
  ('23211', 24, 1.69)],
 'European Community_2019-03': [],
 'European Community_2019-09': [],
 'European Community_2019-12': [],
 'European Community_2019-01': [],
 'European Community_2018-12': [],
 'European Community_2019-06': [('21675', 12, 1.63),
  ('21676', 12, 1.63),
  ('21677', 12, 1.63)],
 'European Community_2019-10': [],
 'European Community_2019-08': [],
 'Greece_2019-02': [],
 'Greece_2019-05': [],
 'Greece_2019-04': [],
 'Greece_2019-11': [],
 'Greece_2019-07': [],
 'Greece_2019-03': [],
 'Greece_2019-09': [],
 'Greece_2019-12': [('22029', 12, 1.56),
  ('20983', 12, 1.63),
  ('20982', 12, 1.63)],
 'Greece_2019-01': [('21616', 48, 1.69),
  ('21615', 48, 1.69),
  ('22604', 32, 1.81)],
 'Greece_2018-12': [],
 'Greece_2019-06': [],
 'Greece_2019-10': [],
 'Greece_2019-08': [],
 'Cyprus_2019-02': [('23230', 25, 1.56),
  ('22709', 25, 1.56),
  ('22616', 24, 1.54)],
 'Cyprus_2019-05': [],
 'Cyprus_2019-04': [('22839', -2, 3.74), ('22666', -2, 1.94)],
 'Cyprus_2019-11': [('16238', 28, 1.53),
  ('22818', 24, 1.56),
  ('23077', 20, 1.69)],
 'Cyprus_2019-07': [],
 'Cyprus_2019-03': [('84598', 288, 1.53),
  ('84568', 288, 1.53),
  ('85199S', 24, 1.56)],
 'Cyprus_2019-09': [],
 'Cyprus_2019-12': [('22826', -1, 7.88),
  ('22720', -1, 2.24),
  ('22797', -2, 4.04)],
 'Cyprus_2019-01': [('82613A', 60, 1.56),
  ('85054', 12, 1.69),
  ('82484', 12, 2.33)],
 'Cyprus_2018-12': [('22335', 96, 1.6),
  ('85123A', 64, 1.88),
  ('22297', 48, 1.69)],
 'Cyprus_2019-06': [('22993', 24, 1.69),
  ('23182', 24, 1.62),
  ('82600', 12, 1.81)],
 'Cyprus_2019-10': [('85204', 96, 1.52),
  ('22153', 48, 1.56),
  ('22154', 48, 1.56)],
 'Cyprus_2019-08': [],
 'Norway_2019-02': [('22646', 12, 1.72),
  ('22630', 12, 1.79),
  ('22064', 12, 1.75)],
 'Norway_2019-05': [],
 'Norway_2019-04': [],
 'Norway_2019-11': [('16008', 240, 1.52),
  ('22693', 192, 1.66),
  ('72232', 144, 1.53)],
 'Norway_2019-07': [('16219', 48, 1.51),
  ('21829', 36, 1.53),
  ('23310', 36, 1.56)],
 'Norway_2019-03': [('84050', 24, 1.75),
  ('21914', 12, 1.69),
  ('22645', 12, 1.72)],
 'Norway_2019-09': [('23307', 120, 1.56),
  ('21212', 120, 1.56),
  ('21977', 120, 1.56)],
 'Norway_2019-12': [('16008', 240, 1.52),
  ('22693', 192, 1.66),
  ('72232', 144, 1.53)],
 'Norway_2019-01': [],
 'Norway_2018-12': [('22197', 144, 1.63),
  ('84050', 144, 1.69),
  ('84692', 100, 1.56)],
 'Norway_2019-06': [('23160', 24, 1.69),
  ('22772', 12, 1.69),
  ('85231B', 12, 1.63)],
 'Norway_2019-10': [('21213', 120, 1.56),
  ('15034', 96, 1.52),
  ('22693', 96, 1.66)],
 'Norway_2019-08': [('22492', 36, 1.6),
  ('16169E', 25, 1.56),
  ('23308', 24, 1.58)],
 'USA_2019-02': [],
 'USA_2019-05': [],
 'USA_2019-04': [('22129', 36, 1.63), ('22128', 12, 1.69), ('22147', 7, 1.72)],
 'USA_2019-11': [('20973', 24, 1.6), ('23371', 16, 1.69), ('22554', 12, 1.75)],
 'USA_2019-07': [],
 'USA_2019-03': [],
 'USA_2019-09': [],
 'USA_2019-12': [('23366', 72, 1.6), ('20975', 72, 1.6), ('23328', 24, 2.01)],
 'USA_2019-01': [],
 'USA_2018-12': [('22963', 14, 1.63), ('22439', 6, 1.6), ('22962', 4, 1.63)],
 'USA_2019-06': [],
 'USA_2019-10': [('21121', 48, 1.69),
  ('21122', 48, 1.69),
  ('21123', 48, 1.69)],
 'USA_2019-08': [('22355', 53, 1.87),
  ('20719', 23, 1.87),
  ('20724', 22, 1.87)],
 'Australia_2019-02': [('22969', 480, 1.69),
  ('22962', 384, 1.61),
  ('20973', 384, 1.58)],
 'Australia_2019-05': [('15036', 600, 1.61),
  ('21902', 576, 1.58),
  ('21899', 576, 1.58)],
 'Australia_2019-04': [('22383', 30, 1.75),
  ('22662', 30, 1.75),
  ('20725', 30, 1.75)],
 'Australia_2019-11': [('23084', 1632, 1.77),
  ('23247', 216, 1.93),
  ('23234', 216, 1.5)],
 'Australia_2019-07': [('23293', 384, 1.61),
  ('23296', 384, 1.66),
  ('23294', 384, 1.61)],
 'Australia_2019-03': [('22615', 432, 1.54),
  ('21981', 432, 1.54),
  ('21984', 432, 1.54)],
 'Australia_2019-09': [('22492', 1152, 1.58),
  ('21915', 720, 1.66),
  ('22751', 240, 2.01)],
 'Australia_2019-12': [],
 'Australia_2019-01': [('22492', 576, 1.58),
  ('22720', 240, 2.14),
  ('21915', 240, 1.66)],
 'Australia_2018-12': [('22915', 120, 1.55),
  ('79067', 50, 1.94),
  ('22196', 48, 1.63)],
 'Australia_2019-06': [('22492', 576, 1.58),
  ('16161P', 400, 1.55),
  ('22704', 400, 1.55)],
 'Australia_2019-10': [('22722', 360, 2.02),
  ('23507', 250, 1.55),
  ('23510', 250, 1.55)],
 'Australia_2019-08': [('21731', 720, 1.72),
  ('22492', 576, 1.58),
  ('22940', 336, 2.06)],
 'Malta_2019-02': [],
 'Malta_2019-05': [],
 'Malta_2019-04': [],
 'Malta_2019-11': [('22065', 48, 1.56),
  ('72741', 42, 1.72),
  ('85034C', 23, 1.69)],
 'Malta_2019-07': [],
 'Malta_2019-03': [],
 'Malta_2019-09': [],
 'Malta_2019-12': [('22307', -1, 1.66),
  ('72807C', -1, 2.14),
  ('85034C', -1, 1.69)],
 'Malta_2019-01': [],
 'Malta_2018-12': [],
 'Malta_2019-06': [('23226', 24, 1.69),
  ('21982', 24, 1.54),
  ('23228', 24, 1.69)],
 'Malta_2019-10': [],
 'Malta_2019-08': [('22959', 25, 1.56),
  ('72741', 18, 1.72),
  ('23170', 12, 1.75)],
 'Netherlands_2019-02': [('22630', 448, 1.75),
  ('21684', 360, 1.6),
  ('22629', 320, 1.75)],
 'Netherlands_2019-05': [('21212', 1200, 1.56),
  ('22243', 1152, 1.72),
  ('84212', 480, 1.56)],
 'Netherlands_2019-04': [('85099B', 200, 1.75),
  ('22326', 144, 1.88),
  ('20726', 100, 1.72)],
 'Netherlands_2019-11': [('22492', 1152, 1.58),
  ('22152', 432, 1.55),
  ('22356', 400, 1.61)],
 'Netherlands_2019-07': [('23297', 1, 1.75),
  ('23296', 1, 1.69),
  ('23295', 1, 1.62)],
 'Netherlands_2019-03': [('22629', 640, 1.75),
  ('22630', 640, 1.75),
  ('20712', 300, 1.75)],
 'Netherlands_2019-09': [('23345', 400, 1.66),
  ('23346', 400, 1.66),
  ('23293', 384, 1.61)],
 'Netherlands_2019-12': [('23084', 1440, 1.77),
  ('22712', 216, 1.55),
  ('22029', 216, 1.55)],
 'Netherlands_2019-01': [('21212', 1680, 1.56),
  ('22551', 672, 1.72),
  ('22629', 576, 1.75)],
 'Netherlands_2018-12': [('22378', 300, 1.63),
  ('21731', 288, 1.72),
  ('22856', 288, 1.66)],
 'Netherlands_2019-06': [('22326', 528, 1.88),
  ('22629', 512, 1.75),
  ('22630', 512, 1.75)],
 'Netherlands_2019-10': [('23084', 2400, 1.81),
  ('22595', 1872, 1.61),
  ('22492', 576, 1.58)],
 'Netherlands_2019-08': [('22629', 896, 1.75),
  ('22630', 832, 1.75),
  ('23203', 600, 1.77)],
 'Italy_2019-02': [('84375', 12, 1.81),
  ('22556', 12, 1.75),
  ('22381', 10, 1.81)],
 'Italy_2019-05': [('22466', 24, 1.79),
  ('20724', 20, 1.63),
  ('20719', 20, 1.63)],
 'Italy_2019-04': [('47593B', 96, 1.56),
  ('51014A', 96, 1.63),
  ('21700', 72, 1.63)],

In [102]:
fechas = list(set(df['year-month']))

In [103]:
fechas.sort()

In [104]:
fechas

['2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12']

In [105]:
df_tabla = pd.DataFrame(columns=fechas,index = dffinal.index)

In [106]:
df_tabla

,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
Country,,,,,,,,,,,,,
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EIRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
European Community,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
for pais in list(df_tabla.index):
    for fecha in fechas:
        if len(results[pais+"_"+fecha])==0:
            df_tabla[fecha][pais]=[(0,0,0),(0,0,0),(0,0,0)]
        else:
            df_tabla[fecha][pais]=results[pais+"_"+fecha]

In [108]:
df_tabla

,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
Country,,,,,,,,,,,,,
Australia,"[(22915, 120, 1.55), (79067, 50, 1.94), (22196...","[(22492, 576, 1.58), (22720, 240, 2.14), (2191...","[(22969, 480, 1.69), (22962, 384, 1.61), (2097...","[(22615, 432, 1.54), (21981, 432, 1.54), (2198...","[(22383, 30, 1.75), (22662, 30, 1.75), (20725,...","[(15036, 600, 1.61), (21902, 576, 1.58), (2189...","[(22492, 576, 1.58), (16161P, 400, 1.55), (227...","[(23293, 384, 1.61), (23296, 384, 1.66), (2329...","[(21731, 720, 1.72), (22492, 576, 1.58), (2294...","[(22492, 1152, 1.58), (21915, 720, 1.66), (227...","[(22722, 360, 2.02), (23507, 250, 1.55), (2351...","[(23084, 1632, 1.77), (23247, 216, 1.93), (232...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Austria,"[(22153, -48, 1.56)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21918, 288, 1.55), (22546, 240, 1.55), (2258...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22492, 36, 1.6), (22693, 24, 1.69), (21988, ...","[(22697, -1, 1.94), (22357, -5, 2.14)]","[(21498, 25, 1.56), (23545, 25, 1.56), (21500,...","[(21402, 24, 1.52), (22029, 24, 1.56), (22348,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21789, 24, 1.63), (72817, 24, 1.62), (21788,...","[(23084, 279, 2.12), (22154, 48, 1.56), (22604...","[(22646, 36, 1.56), (15056N, 24, 2.39), (20679..."
Bahrain,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23076, 96, 1.69), (23077, 60, 1.69), (22693,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Belgium,"[(22417, 120, 1.56), (21977, 120, 1.56), (2121...","[(22489, 144, 1.55), (22544, 48, 1.56), (22547...","[(22540, 48, 1.56), (22740, 48, 1.63), (85230G...","[(22355, 100, 1.61), (20724, 100, 1.61), (2241...","[(21977, 72, 1.58), (21212, 72, 1.58), (21829,...","[(21976, 96, 1.58), (22951, 96, 1.58), (84991,...","[(22492, 108, 1.6), (22740, 96, 1.63), (20724,...","[(84536B, 272, 1.55), (22027, 72, 1.55), (2307...","[(23546, 50, 1.56), (23545, 50, 1.56), (21981,...","[(23310, 180, 1.55), (22492, 72, 1.6), (22630,...","[(22951, 96, 1.58), (22417, 96, 1.58), (21212,...","[(23084, 96, 1.77), (21731, 72, 1.75), (22629,...","[(21499, 50, 1.56), (21500, 25, 1.56), (22959,..."
Brazil,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21430, 24, 2.01), (22697, 24, 1.88), (22698,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Canada,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(84755, 16, 1.6), (79000, 12, 1.63), (71459, ...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(37370, 504, 1.66)]","[(84077, 288, 1.53), (20727, 50, 1.75), (21871...","[(47593B, 48, 1.56), (21829, 36, 1.53), (22094...","[(23293, 16, 1.62), (21993, 12, 1.69), (23294,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Channel Islands,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21500, 25, 1.56), (16161P, 25, 1.56), (21498...","[(21785, 407, 1.6), (22720, 96, 2.14), (22745,...","[(22740, 96, 1.63), (21212, 48, 1.58), (22741,...","[(22908, 24, 1.63), (23206, 20, 1.75), (22666,...","[(21498, 25, 1.56), (21500, 25, 1.56), (21499,...","[(22985, 25, 1.56), (22151, 24, 1.56), (21080,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(85099C, 200, 1.77), (85099B, 200, 1.77), (23...","[(22741, 96, 1.63), (22197, 48, 1.63), (22492,...","[(85123A, 72, 1.94), (22945, 48, 1.63), (23327...","[(22771, 36, 1.69), (21213, 24, 1.58), (21975,...","[(23503, 24, 1.69), (23355, 20, 2.24), (22086,..."
Cyprus,"[(22335, 96, 1.6), (85123A, 64, 1.88), (22297,...","[(82613A, 60, 1.56), (85054, 12, 1.69), (82484...","[(23230, 25, 1.56), (22709, 25, 1.56), (22616,...","[(84598, 288, 1.53), (84568, 288, 1.53), (8519...","[(22839, -2, 3.74), (22666, -2, 1.94)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22993, 24, 1.69), (23182, 24, 1.62), (82600,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(85204, 96, 1.52), (22153, 48, 1.56), (22154,...","[(16238, 28, 1.53), (22818, 24, 1.56), (23077,...","[(22826, -1, 7.88), (22720, -1, 2.24), (22797,..."
Czech Republic,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(84755, 48, 1.6), (22231, 36, 1.72), (22250, ...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22231, -15, 1.72), (84459A, -24, 1.72)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22579, 72, 1.54), (22578, 72, 1.54), (23271,...","[(22231, -15, 1.72), (84459A, -24, 1.72)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Denmark,"[(22951, 120, 1.56), (22956, 48, 1.78), (22779...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22544, 24, 1.56), (22539, 24, 1.56), (22538,...","[(22467, 144, 1.81), (22693, 144, 1.66), (2217...","[(21212, 24, 1.58), (21977, 24, 1.58), (22539,...","[(22556, 36, 1.75), (22630, 36, 1.79), (22629,...","[(22383, 100, 1.72), (84077, 96, 1.54), (23308...","[(23290, 24, 1.69), (22820, 24, 1.6), (23289, ...","[(23547, 25, 1.56), (21499, 25, 1.56), (22704,...","[(21915, 240, 1.66), (20713, 100, 1.77), (2320...","[(23296, 256, 1.66), (23295, 256, 1.61), (2329...","[(21175, 48, 1.81), (23186, 48, 1.54), (72598,...","[(16237, 60, 1.53), (22045, 25, 1.56), (22708,..."
EIRE,"[(17084R, 1440, 1.52), (84991, 96, 1.58), (849...","[(21292, 384, 1.6), (22957, 312, 1.88), (22908...","[(22197, 400, 1.61), (22985, 300, 1.55), (2323...","[(21212, 240, 1.56), (21977, 240, 1.56), (8499...","[(21908, 144, 1.78), (21169, 144, 1.72), (2118...","[(21977, 240, 1.56), (21212, 240, 1.56), (2323...","[(21787, 288, 1.6), (21171, 250, 1.58), (21166...","[(21212, 480, 1.58), (22151, 432, 1.56), (2266...","[(23157, 240, 1.5), (22560, 144, 1.66), (22966...","[(84212, 960, 1.56), (22952, 480, 1.56), (2295...","[(22266, 704, 1.53), (22197, 500, 1.61), (8507...","[(22578, 432, 1.54), (85123A, 384, 1.88), (229...","[(22197, 96, 1.63), (84817, 72, 1.56), (85123A..."
European Community,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22457, 6, 1.94), (22314, 6, 1.94), (22312, 6...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21675, 12, 1.63), (21676, 12, 1.63), (21677,...","[(22571, 24, 1.63), (23210, 24, 1.69), (23211,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Finland,"[(21981, 144, 1.54), (21982, 144, 1.54), (2197...","[(21985, 144, 1.54), (21983, 144, 1.54), (2198...","[(21212, 24, 1.58), (20677, 16, 1.69), (21238,...","[(21399, 48, 1.56), (37342, 48, 1.62), (21394,...","[(23078, 96, 1.69), (23077, 80, 1.69), (23076,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23034, 48, 1.72), (22675, 12, 1.69), (23032,...","[(84997D, 72, 2.06), (21977, 48, 1.58), (21981...","[(84536A, 48, 1.56), (85099B, 40, 1.81), (8497...","[(23077, 120, 1.69), (23078, 96, 1.69), (84997...","[(84997D, 72, 2.06), (84997C, 48, 2.12), (2121...","[(84997D, 144, 2.06), (23084, 96, 1.77), (2259...","[(84997A, 72, 2.06), (84997D, 72, 2.06), (8499..."
France,"[(22355, 258, 1.88), (21731, 192, 1.75), (2226...","[(21381, 576, 1.72), (22492, 216, 1.6), (84879...","[(22492, 252, 1.6), (21212, 96, 1.58), (21086,...","[(22492, 288, 1.6), (21086, 252, 1.6), (22386,...","[(10002, 120, 1.63), (23076, 96, 1.69), (20725...","[(23084, 264, 1.77), (22492, 180, 1.6), (23206...","[(22610, 360, 1.53), (16218, 240, 1.51), (2308...","[(23084, 192, 1.77), (23307, 120, 1.58), (1012...","[(23084, 432, 1.77), (21380, 168, 1.88), (2174...","[(22492, 252, 1.6), (23445, 200, 1.62), (21731...","[(23084, 1008, 1.77), (23203, 300, 1.77), (223...","[(23084, 1392, 1.77), (22492, 360, 1.6), (2295...","[(23084, 264, 1.77), (22435, 100, 1.66), (2255..."
Germany,"[(22961, 144, 1.72), (21700, 120, 1.63), (2232...","[(84692, 150, 1.56), (22585, 144, 1.66), (2198...","[(22585, 288, 1.66), (10133, 200, 1.66), (2299...","[(22585, 288, 1.66), (23156, 120, 1.78), (2315...","[(22893, 288, 1.55), (84945, 192, 1.61), (4759...","[(15036, 600, 1.6), (15036, 290, 1.62), (23204...","[(15036, 360, 1.62), (84568, 288, 1.53), (2249...","[(23307, 144, 1.58), (23294, 128, 1.61), (2329...","[(22741, 192, 1.63), (23295, 128, 1.61), (2329...","[(21212, 168, 1.58), (21495, 150, 1.56), (2150...","[(16045, 600, 1.51), (23379, 432, 1.55), (2207...","[(23084, 216, 1.77), (22629, 192, 1.75), (2121...","[(21232, 81, 1.69), (23232, 75, 1.56), (84012,..."
Greece,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21616, 48, 1.69), (21615, 48, 1.69), (22604,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22029, 12, 1.56), (20983, 12, 1.63), (20982,..."
Hong Kong,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22326, 96, 1.88), (22620, 60, 1.69), (22382,...","[(46000U, 3, 1.69)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21238, 48, 1.63), (20675, 48, 1.69), (47422,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21985, 12, 1.56), (22092, 6, 1.56), (21821, ...","[(21915, 36, 1.69), (21829, 36, 1.53), (22492,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Iceland,"[(22492, 36, 1.6), (85167B, 30, 1.69), (84558A...","[(84625A, 24, 1.63), (84625C, 24, 1.63), (8499...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23076, 240, 1.66), (22492, 36, 1.6), (21975,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(17021, 36, 1.55), (22196, 24, 1.63), (84558A...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(84558A, 36, 1.94), (21791, 24, 1.69), (21975...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23084, 48, 1.77), (84558A, 36, 1.94), (22492...","[(23084, 44, 2.12), (84568, 21, 1.56), (22944,...","[(84625A, 24, 1.63), (21064, 24, 1.69), (21731..."
Israel,"[(20828, 16, 1.88), (84247E, 12, 1.94), (84997...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22326, 48, 1.88), (22399, 36, 1.69), (22630,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22440, 9, 1.56), (84997B, 6, 2.12), (21244, ...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23256, 10, 2.12), (84997D, 10, 2.12), (84997...","[(23240, 48, 2.06), (23236, 48, 1.87), (21294,...","[(20719, 100, 1.61), (20724, 100, 1.61), (2166...","[(22153, 48, 1.56), (23433, 36, 1.62), (22321,...","[(16161P, 25, 1.56), (23431, 12, 1.62), (22319...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Italy,"[(85078, 24, 1.6), (22791, 12, 1.69), (21287, ...","[(84988, 24, 1.72), (84380, 24, 1.69), (21786,...","[(84375, 12, 1.81), (22556, 12, 1.75), (22381,...","[(20719, 40, 1.63), (20724, 30, 1.63), (21700,...","[(47593B, 96, 1.56), (51014A, 96, 1.63), (2170...","[(22466, 24, 1.79), (20724, 20, 1.63), (20719,...","[(23084, 24, 1.77), (35810A, 12, 1.62), (22804...","[(22720, 9, 2.24), (23243, 4, 2.24), (21533, 3...","[(21306, 72, 1.54), (21371, 48, 1.61), (21365,...","[(23423, 6, 2.06), (22960, 6, 2.14), (22804, 6...","[(23445, 200, 1.61), (22966, 36, 1.69), (21498...","[(51014A, 144, 1.56), (22197, 100, 1.61), (510...","[(85123A, 18, 1.94), (22720, 9, 2.24), (22667,..."
Japan,"[(22328, 1488, 1.88), (22661, 100, 1.61), (849...","[(22244, -1, 1.79), (21155, -1, 1.81), (22567,...","[(22549, 144, 1.69), (22858, 108, 1.72), (2285...","[(22967, 6, 1.88), (22662, 4, 1.75), (22630, 4...","[(84077, 576, 1.53), (22531, 576, 1.55), (2248...","[(21080, 96, 1.61), (22613, 96, 1.61), (20992,...","[(21918, 576, 1.55), (22491, 576, 1.61), (2248...","[(22662, 100, 1.72), (22652, 100, 1.75), (2266...","[(22662, -1, 1.75), (23229, -1, 2.01), (23238,...","[(21787, 72, 1.63), (21789, 24, 1.63), (21788,...","[(23084, 960, 1.77), (21976, 24, 1.58), (23307...","[(23084, 2160, 1.77), (22621, 192, 1.72), (233...","[(23238, -1, 2.06), (22621, -1, 1.72), (21731,..."
Lebanon,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(84929, 24, 1.58), (47566, 15, 2.2), (82551, ...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Lithuania,"[(21915, 48, 1.69), (22271, 48, 1.88), (20967,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Malta,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23226, 24, 1.69), (21982, 24, 1.54), (23228,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22959, 25, 1.56), (72741, 18, 1.72), (23170,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22065, 48, 1.56), (72741, 42, 1.72), (85034C...","[(22307, -1, 1.66), (72807C, -1, 2.14), (85034..."
Netherlands,"[(22378, 300, 1.63), (21731, 288, 1.72), (2285...","[(21212, 1680, 1.56), (22551, 672, 1.72), (226...","[(22630, 448, 1.75), (21684, 360, 1.6), (22629...","[(22629, 640, 1.75), (22630, 640, 1.75), (2071...","[(85099B, 200, 1.75), (22326, 144, 1.88), (207...","[(21212, 1200, 1.56), (22243, 1152, 1.72), (84...","[(22326, 528, 1.88), (22629, 512, 1.75), (2263...","[(23297, 1, 1.75), (23296, 1, 1.69), (23295, 1...","[(22629, 896, 1.75), (22630, 832, 1.75), (2320...","[(23345, 400, 1.66), (23346, 400, 1.66), (2329...","[(23084, 2400, 1.81), (22595, 1872, 1.61), (22...","[(22492, 1152, 1.58), (22152, 432, 1.55), (223...","[(23084, 1440, 1.77), (22712, 216, 1.55), (220..."
Norway,"[(22197, 144, 1.63), (84050, 144, 1.69), (8469...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22646, 12, 1.72), (22630, 12, 1.79), (22064,...","[(84050, 24, 1.75), (21914, 12, 1.69), (22645,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23160, 24, 1.69), (22772, 12, 1.69), (85231B...","[(16219, 48, 1.51), (21829, 36, 1.53), (23310,...","[(22492, 36, 1.6), (16169E, 25, 1.56), (23308,...","[(23307, 120, 1.56), (21212, 120, 1.56), (2197...","[(21213, 120, 1.56), (15034, 96, 1.52), (22693...","[(16008, 240, 1.52), (22693, 192, 1.66), (7223...","[(16008, 240, 1.52), (22693, 192, 1.66), (7223..."
Poland,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22920, 12, 1.6), (22759, 12, 1.75), (21868, ...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(16014, 40, 1.56), (16016, 20, 1.63), (23167,...","[(22962, 12, 1.63), (16016, 10, 1.63), (22652,...","[(16014, 40, 1.56), (16016, 40, 1.63), (84970L...","[(23084, 48, 1.77), (23231, 25, 1.56), (16161U...","[(22342, 24, 1.61), (23198, 24, 1.72), (16016,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(35953, 48, 1.56), (22998, 24, 1.56), (22340,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Portugal,"[(20728, 34, 1.75), (22540, 24, 1.56), (22759,...","[(84992, 120, 1.56), (84991, 120, 1.56), (2123...","[(23231, 25, 1.56), (21500, 25, 1.56), (21498,...","[(22492, 108, 1.6), (22996, 48, 1.56), (23006,...","[(22857, 72, 1.63), (21383, 48, 1.6), (84991, ...","[(22593, 36, 1.63), (21980, 12, 1.54), (23202,...","[(22280, 24, 1.69), (22279, 24, 1.69), (21080,...","[(22740, 144, 1.63), (23209, 60, 1.75), (21498...","[(16161P, 50, 1.56), (22050, 50, 1.56), (16161...","[(23078, 72, 1.69), (23076, 48, 1.69), (23077,...","[(21498, 75, 1.56), (21212, 72, 1.58), (16161P...","[(23581, 60, 1.81), (23583, 50, 1.75), (23582,...","[(22923, 120, 1.61), (22922, 120, 1.61), (2292..."
RSA,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(84375, 12, 1.81), (22620, 12, 1.72), (22585,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Saudi Arabia,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22969, 12, 1.72), (22915, 12, 1.56), (22556,...","[(22361, -5, 1.94)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Singapore,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22197, 100, 1.61), (21790, 72, 1.61), (21519...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22197, 100, 1.61), (22346, 72, 1.61), (22343...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22339, 288, 1.58), (35970, 72, 1.72), (22343...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22197, 100, 1.61), (22339, 96, 1.53), (22336...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Spain,"[(84077, 48, 1.54), (84347, 36, 1.88), (21506,...","[(22077, 48, 1.75), (21122, 48, 1.69), (21121,...","[(22335, 288, 1.58), (22252, 96, 1.66), (71459...","[(22077, 48, 1.75), (21124, 48, 1.69), (21122,...","[(21244, 32, 1.75), (21240, 32, 1.63), (21239,...","[(84879, 80, 1.75), (23230, 50, 1.56), (21977,...","[(23231, 50, 1.56), (21394, 48, 1.56), (22066,...","[(23297, 144, 1.72), (23295, 128, 1.61), (2329...","[(84077, 96, 1.54), (84826, 60, 1.63), (84879,...","[(22741, 48, 1.63), (21212, 48, 1.58), (84879,...","[(23167, 96, 1.6), (23187, 96, 1.54), (22599, ...","[(84879, 56, 1.75), (22065, 48, 1.56), (35953,...","[(23546, 25, 1.56), (21982, 24, 1.56), (21981,..."
Sweden,"[(84077, 576, 1.54), (21210, 288, 1.72), (2234...","[(22492, 576, 1.6), (22539, 240, 1.56), (22546...","[(22435, 48, 1.69), (23230, 25, 1.56), (21500,...","[(20975, 768, 1.6), (22492, 576, 1.6), (21212,...","[(21124, 24, 1.69), (20725, 20, 1.75), (23206,...","[(22492, 576, 1.6), (84077, 576, 1.54), (22489...","[(22492, 36, 1.6), (21788, 24, 1.63), (21731, ...","[(84077, 576, 1.54), (23308, 504, 1.58), (2330...","[(15036, 720, 1.61), (51014A, 240, 1.56), (212...","[(23310, 720, 1.56), (22492, 576, 1.6), (23297...","[(22492, 576, 1.6), (22952, 480, 1.56), (23367...","[(84077, 288, 1.54), (23293, 256, 1.62), (2329...","[(23494, 0, 2.39)]"

In [109]:
path = "/Users/jesusarredondo/Documents/Diplomado/Modulo1/Data/"
archivo = "ecommerce_Arredondo_GInda_JesusAntonio.csv"
df_tabla.to_csv(path+archivo,encoding = "utf-8")