In [9]:
import pandas as pd
import os

pd.set_option('display.max_columns', 500)

data_path = os.getcwd()[:-len('notebooks')] + 'Data/'
db_credit_card_fraud_detection_small = data_path + 'Credit_card_fraud_detection_small/'
db_beijing_path = data_path + 'Beijing_winter_Olympic_Games/'
transactional_data = data_path + 'Transactional_data/'

In [6]:
os.listdir(transactional_data)

['.DS_Store',
 'goat of tennis.csv',
 'Highest Holywood Grossing Movies.csv',
 'trains vs planes.csv',
 'Loan_Default.csv',
 'New York Citibike Trips.csv',
 'Business Sales Transaction.csv']

# Beijing

In [18]:
os.listdir(db_beijing_path)

['hockey_results.csv',
 'curling_results.csv',
 'athletes.csv',
 'technical_officials.csv',
 'medals_total.csv',
 'coaches.csv',
 'entries_discipline.csv',
 'hockey_players_stats.csv',
 'medals.csv',
 'events.csv']

# Ejercicio Práctica sábado:

Como comité olímpico, nos solicitan analizar la relación que existe entre el número de participantes enviados por cada país y el número de medallas obtenidos en los tres niveles. 

Nos interesa analizar este proceso a nivel país, y nos gustaría poder revisar la cantidad de atletas enviados por cada país (cantidad total, cantidad de mujeres y cantidad de hombres), total de medallas obtenidas, total de medallas de oro, total de medallas de plata y total de medallas de bronce (segmentados por hombres y mujeres). Además de esto, nos interesa contar la cantidad de coaches que envió cada país, de igual forma, divido por mujeres y hombres. Y por último agregar las columnas para los referies, la intención es analizar si la cantidad de personas enviadas por cada país está relacionada con la cantidad de medallas traidas por cada país.

# Ecommerce

In [16]:
sales_ecommerce = pd.read_csv(transactional_data + 'Business Sales Transaction.csv', low_memory = False)
sales_ecommerce.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,536365,2018-12-01,85123A,Cream Hanging Heart T-Light Holder,1.88,6,17850.0,United Kingdom
1,536365,2018-12-01,71053,White Moroccan Metal Lantern,2.01,6,17850.0,United Kingdom
2,536365,2018-12-01,84406B,Cream Cupid Hearts Coat Hanger,1.91,8,17850.0,United Kingdom
3,536365,2018-12-01,84029G,Knitted Union Flag Hot Water Bottle,2.01,6,17850.0,United Kingdom
4,536365,2018-12-01,84029E,Red Woolly Hottie White Heart,2.01,6,17850.0,United Kingdom

# Ejercicio:

Nos solicitan revisar si es posible establecer una relación entre el país y la demanda de ciertos productos. La idea es que conociendo el país se pueda predecir las cantidades de los top tres productos para cada país (su precio, la cantidad de unidades vendidas) esto agrupado por mes.

* 1. Unidad muestral: País.
* 2. Quantity variable auxiliar para el cálculo de la demanda.
* 3. Segunda variable auxiliar precio.
* 4. Esto para los 3 productos más vendidos por cada país. 
* 5. Agrupación a nivel mes.

In [19]:
sales_ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536350 entries, 0 to 536349
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536350 non-null  object
 1   Date           536350 non-null  object
 2   ProductNo      536350 non-null  object
 3   ProductName    536350 non-null  object
 4   Price          536350 non-null  float64
 5   Quantity       536350 non-null  int64
 6   CustomerNo     536295 non-null  float64
 7   Country        536350 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.7+ MB

In [25]:
sales_ecommerce['Date'][0][8:]

'01'

In [21]:
# Checar si todos son del mismo año
sales_ecommerce['Date'].value_counts(1, dropna = False)

2019-12-05    0.009880
2019-12-08    0.009179
2019-11-29    0.007999
2019-11-16    0.007749
2019-11-11    0.007568
                ...
2019-03-13    0.000996
2018-12-19    0.000970
2019-05-01    0.000839
2018-12-22    0.000539
2019-02-06    0.000520
Name: Date, Length: 305, dtype: float64

In [26]:
sales_ecommerce['Date'].value_counts(1)

2019-12-05    0.009880
2019-12-08    0.009179
2019-11-29    0.007999
2019-11-16    0.007749
2019-11-11    0.007568
                ...
2019-03-13    0.000996
2018-12-19    0.000970
2019-05-01    0.000839
2018-12-22    0.000539
2019-02-06    0.000520
Name: Date, Length: 305, dtype: float64

In [40]:
sales_ecommerce['Date'][0][:7]

'2018-12'

In [38]:
' 2018-12-23 '.strip()[:4]

'2018'

In [39]:
' 2018-12-23 '.strip().split('-')

['2018', '12', '23']

In [42]:
df = sales_ecommerce.copy()

In [45]:
df['year'] = df['Date'].map(lambda x:x.strip()[:4])
df['month'] = df['Date'].map(lambda x:x.strip()[5:7])
df['day'] = df['Date'].map(lambda x:x.strip()[8:])
df['year-month'] = df['Date'].map(lambda x:x.strip()[:7])

df['year'].value_counts(1, dropna = False)

2019    0.921518
2018    0.078482
Name: year, dtype: float64

In [47]:
df.head(1)

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country,year,month,day,year-month
0,536365,2018-12-01,85123A,Cream Hanging Heart T-Light Holder,1.88,6,17850.0,United Kingdom,2018,12,01,2018-12

In [51]:
df.loc[df['Country'] == 'United Kingdom'][['Quantity', 'ProductNo']].groupby('ProductNo').agg(['sum']).sort_values(by = ('Quantity', 'sum'), ascending = False)

          Quantity
               sum
ProductNo
22197        52821
84077        48504
85099B       43107
84879        33569
85123A       33227
...            ...
79323P          -4
79323W          -8
21645          -24
23001         -200
84347         -337

[3759 rows x 1 columns]

In [ ]:
df[['Country', 'Quantity', 'ProductNo']]

In [52]:
# Opciones:

# 1. For
# 2. GroupBy
# 3. Creación de llave

In [64]:
# 1. For
%time
pa = list(set(df['Country']))
mo = list(set(df['year-month']))
products = dict()

for p in pa:
    aux = df.loc[df['Country'] == p].copy()
    for m in mo:
        aux1 = aux.loc[df['year-month'] == m].copy()
        aux2 = aux1[['Quantity', 'ProductNo']].groupby('ProductNo').agg(['sum']).sort_values(by = ('Quantity', 'sum'), ascending = False)[:3]
        products[p  + '_' + m] = aux2

products

CPU times: user 5 µs, sys: 2 µs, total: 7 µs
Wall time: 10 µs

{'Finland_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Finland_2019-10':           Quantity
                sum
 ProductNo
 84997D          76
 21212           48
 23307           48,
 'Finland_2019-01':           Quantity
                sum
 ProductNo
 21967          144
 21980          144
 21983          144,
 'Finland_2019-11':           Quantity
                sum
 ProductNo
 84997D         144
 23084           96
 22598           72,
 'Finland_2019-02':           Quantity
                sum
 ProductNo
 21212           24
 20677           16
 21238           16,
 'Finland_2019-04':           Quantity
                sum
 ProductNo
 23078           96
 23077           80
 23076           72,
 'Finland_2019-09':           Quantity
                sum
 ProductNo
 23077          120
 23078           96
 84997D          44,
 'Finland_2018-12':           Quantity
                sum
 ProductNo
 21213          144
 21977          144
 21981          144,
 'Finland_2019-12':           Quantity
                sum
 ProductNo
 84997A          72
 84997C          72
 84997D          72,
 'Finland_2019-07':           Quantity
                sum
 ProductNo
 84997D          72
 21981           48
 22614           48,
 'Finland_2019-08':           Quantity
                sum
 ProductNo
 84536A          48
 85099B          40
 84970S          36,
 'Finland_2019-03':           Quantity
                sum
 ProductNo
 21394           66
 21395           48
 21398           48,
 'Finland_2019-06':           Quantity
                sum
 ProductNo
 23034           48
 22670           13
 23084           12,
 'USA_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'USA_2019-10':           Quantity
                sum
 ProductNo
 21121           48
 21122           48
 21123           48,
 'USA_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'USA_2019-11':           Quantity
                sum
 ProductNo
 20973           24
 23371           16
 22555           12,
 'USA_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'USA_2019-04':           Quantity
                sum
 ProductNo
 22129           36
 22128           12
 22147            7,
 'USA_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'USA_2018-12':           Quantity
                sum
 ProductNo
 22963           14
 22439            6
 22962            4,
 'USA_2019-12':           Quantity
                sum
 ProductNo
 23366           72
 20975           72
 23328           24,
 'USA_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'USA_2019-08':           Quantity
                sum
 ProductNo
 22355           53
 20719           23
 20724           22,
 'USA_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'USA_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-10':           Quantity
                sum
 ProductNo
 21829           36
 21915           36
 22492           36,
 'Hong Kong_2019-01':           Quantity
                sum
 ProductNo
 22326           96
 22620           60
 22382           60,
 'Hong Kong_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-02':           Quantity
                sum
 ProductNo
 46000U           3,
 'Hong Kong_2019-04':           Quantity
                sum
 ProductNo
 20674           48
 21238           48
 20676           48,
 'Hong Kong_2019-09':           Quantity
                sum
 ProductNo
 21985           12
 21821            6
 22092            6,
 'Hong Kong_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Hong Kong_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'EIRE_2019-05':           Quantity
                sum
 ProductNo
 21212          305
 21977          264
 23230          200,
 'EIRE_2019-10':           Quantity
                sum
 ProductNo
 22266          704
 22197          540
 85078          264,
 'EIRE_2019-01':           Quantity
                sum
 ProductNo
 21292          384
 22957          312
 22908          300,
 'EIRE_2019-11':           Quantity
                sum
 ProductNo
 85123A         432
 22578          432
 22952          336,
 'EIRE_2019-02':           Quantity
                sum
 ProductNo
 22197          400
 23230          300
 22985          300,
 'EIRE_2019-04':           Quantity
                sum
 ProductNo
 21908          151
 21181          144
 21166          144,
 'EIRE_2019-09':           Quantity
                sum
 ProductNo
 84212          960
 22952          480
 22950          444,
 'EIRE_2018-12':           Quantity
                sum
 ProductNo
 17084R        1440
 84991           96
 84945           84,
 'EIRE_2019-12':           Quantity
                sum
 ProductNo
 22197           96
 85123A          88
 23320           72,
 'EIRE_2019-07':           Quantity
                sum
 ProductNo
 22950          588
 21212          480
 22151          432,
 'EIRE_2019-08':           Quantity
                sum
 ProductNo
 23157          240
 21790          184
 22966          180,
 'EIRE_2019-03':           Quantity
                sum
 ProductNo
 21212          264
 84991          264
 21977          241,
 'EIRE_2019-06':           Quantity
                sum
 ProductNo
 21171          442
 21787          288
 21166          276,
 'Brazil_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-10': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-04':           Quantity
                sum
 ProductNo
 22630           24
 22697           24
 22993           24,
 'Brazil_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Brazil_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2019-10': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2019-04':           Quantity
                sum
 ProductNo
 22312            6
 22314            6
 22457            6,
 'European Community_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2019-07':           Quantity
                sum
 ProductNo
 23308           24
 23307           24
 22571           24,
 'European Community_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'European Community_2019-06':           Quantity
                sum
 ProductNo
 21675           12
 21676           12
 21677           12,
 'Iceland_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Iceland_2019-10':           Quantity
                sum
 ProductNo
 23084           48
 22492           36
 84558A          36,
 'Iceland_2019-01':           Quantity
                sum
 ProductNo
 84992           24
 84991           24
 84625A          24,
 'Iceland_2019-11':           Quantity
                sum
 ProductNo
 23084           44
 84568           21
 22944           18,
 'Iceland_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Iceland_2019-04':           Quantity
                sum
 ProductNo
 23076          240
 22492           36
 16008           24,
 'Iceland_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Iceland_2018-12':           Quantity
                sum
 ProductNo
 22492           36
 85167B          30
 84558A          24,
 'Iceland_2019-12':           Quantity
                sum
 ProductNo
 21064           24
 21731           24
 23084           24,
 'Iceland_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Iceland_2019-08':           Quantity
                sum
 ProductNo
 84558A          36
 84992           24
 21791           24,
 'Iceland_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Iceland_2019-06':           Quantity
                sum
 ProductNo
 17021           36
 22196           24
 84558A          18,
 'Portugal_2019-05':           Quantity
                sum
 ProductNo
 22593           36
 21980           12
 23203           10,
 'Portugal_2019-10':           Quantity
                sum
 ProductNo
 21498           75
 21212           72
 16161P          50,
 'Portugal_2019-01':           Quantity
                sum
 ProductNo
 84991          144
 84992          120
 21231           72,
 'Portugal_2019-11':           Quantity
                sum
 ProductNo
 23581           60
 23583           50
 23209           40,
 'Portugal_2019-02':           Quantity
                sum
 ProductNo
 23231           25
 21498           25
 21500           25,
 'Portugal_2019-04':           Quantity
                sum
 ProductNo
 22857           72
 84991           48
 21383           48,
 'Portugal_2019-09':           Quantity
                sum
 ProductNo
 23078           72
 23076           48
 22101           40,
 'Portugal_2018-12':           Quantity
                sum
 ProductNo
 20728           34
 22759           24
 21915           24,
 'Portugal_2019-12':           Quantity
                sum
 ProductNo
 22924          120
 22923          120
 22922          120,
 'Portugal_2019-07':           Quantity
                sum
 ProductNo
 22740          144
 23209           60
 21498           50,
 'Portugal_2019-08':           Quantity
                sum
 ProductNo
 16161P          50
 16161U          50
 22050           50,
 'Portugal_2019-03':           Quantity
                sum
 ProductNo
 22492          108
 22994           48
 22740           48,
 'Portugal_2019-06':           Quantity
                sum
 ProductNo
 22280           24
 22279           24
 21080           12,
 'Poland_2019-05':           Quantity
                sum
 ProductNo
 16014           40
 16016           20
 22962           12,
 'Poland_2019-10': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2019-11':           Quantity
                sum
 ProductNo
 35953           48
 22340           24
 22998           24,
 'Poland_2019-02':           Quantity
                sum
 ProductNo
 21868           12
 22918           12
 84832           12,
 'Poland_2019-04': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2019-09':           Quantity
                sum
 ProductNo
 23198           24
 22342           24
 20836           24,
 'Poland_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2019-07':           Quantity
                sum
 ProductNo
 16016           40
 16014           40
 22672           12,
 'Poland_2019-08':           Quantity
                sum
 ProductNo
 23084           48
 16161U          25
 22710           25,
 'Poland_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Poland_2019-06':           Quantity
                sum
 ProductNo
 22962           12
 16016           10
 22652           10,
 'Italy_2019-05':           Quantity
                sum
 ProductNo
 22466           24
 20711           20
 20719           20,
 'Italy_2019-10':           Quantity
                sum
 ProductNo
 23445          200
 22966           36
 21498           25,
 'Italy_2019-01':           Quantity
                sum
 ProductNo
 71270           24
 84380           24
 22444           24,
 'Italy_2019-11':           Quantity
                sum
 ProductNo
 51014A         144
 22197          100
 51014C          96,
 'Italy_2019-02':           Quantity
                sum
 ProductNo
 22556           12
 84375           12
 20711           10,
 'Italy_2019-04':           Quantity
                sum
 ProductNo
 51014A          96
 47593B          96
 51014C          72,
 'Italy_2019-09':           Quantity
                sum
 ProductNo
 22804            6
 22960            6
 23423            6,
 'Italy_2018-12':           Quantity
                sum
 ProductNo
 85078           24
 20956           12
 22791           12,
 'Italy_2019-12':           Quantity
                sum
 ProductNo
 85123A          18
 22720            9
 21733            6,
 'Italy_2019-07':           Quantity
                sum
 ProductNo
 22720            9
 23243            4
 21533            3,
 'Italy_2019-08':           Quantity
                sum
 ProductNo
 21306           72
 21365           48
 21371           48,
 'Italy_2019-03':           Quantity
                sum
 ProductNo
 20719           40
 20724           30
 21700           24,
 'Italy_2019-06':           Quantity
                sum
 ProductNo
 23084           24
 35810A          12
 22804            4,
 'Lebanon_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-10': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-01':           Quantity
                sum
 ProductNo
 84929           24
 47566           15
 21165           12,
 'Lebanon_2019-11': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-02': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-04': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-09': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2018-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-12': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-07': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-08': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-03': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Lebanon_2019-06': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Belgium_2019-05':           Quantity
                sum
 ProductNo
 84991           96
 22951           96
 21976           96,
 'Belgium_2019-10':           Quantity
                sum
 ProductNo
 22951           96
 21212           96
 22417           96,
 'Belgium_2019-01':           Quantity
                sum
 ProductNo
 22489          144
 22540           48
 22544           48,
 'Belgium_2019-11':           Quantity
                sum
 ProductNo
 22629          112
 23084          108
 22326          102,
 'Belgium_2019-02':           Quantity
                sum
 ProductNo
 22740           48
 22540           48
 22531           24,
 'Belgium_2019-04':           Quantity
                sum
 ProductNo
 21212           72
 21977           72
 21829           36,
 'Belgium_2019-09':           Quantity
                sum
 ProductNo
 23310          180
 22326           90
 22328           78,
 'Belgium_2018-12':           Quantity
                sum
 ProductNo
 21212          148
 22417          144
 21977          123,
 'Belgium_2019-12':           Quantity
                sum
 ProductNo
 21499           50
 79190B          27
 16156L          25,
 'Belgium_2019-07':           Quantity
                sum
 ProductNo
 84536B         288
 22027           72
 23077           40,
 'Belgium_2019-08':           Quantity
                sum
 ProductNo
 23546           50
 23545           50
 21981           48,
 'Belgium_2019-03':           Quantity
                sum
 ProductNo
 20724          110
 22355          100
 20668           60,
 'Belgium_2019-06':           Quantity
                sum
 ProductNo
 22492          108
 22740           96
 20724           60,
 'Norway_2019-05': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Norway_2019-10':           Quantity
                sum
 ProductNo
 21213          120
 15034           96
 22693           96,
 'Norway_2019-01': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Norway_2019-11':           Quantity
                sum
 ProductNo
 16008          240
 22693          192
 72232          144,
 'Norway_2019-02':           Quantity
                sum
 ProductNo
 21232           12
 21700           12
 22064           12,
 'Norway_2019-04': Empty DataFrame
 Columns: [(Quantity, sum)]
 Index: [],
 'Norway_2019-09':           Quantity
                sum
 ProductNo
 21977          144
 21212          144
 84991          120,
 'Norway_2018-12':           Quantity
                sum
 ProductNo
 84050          144
 22197          144
 84692          100,
 'Norway_2019-12':           Quantity
                sum
 ProductNo
 16008          240
 22693          192
 72232          144,
 'Norway_2019-07':           Quantity
                sum
 ProductNo
 16219           48
 21829           36
 16258A          36,
 'Norway_2019-08':           Quantity
                sum
 ProductNo
 22492           36
 16169E          25
 22418           24,
 'Norway_2019-03':           Quantity
                sum
 ProductNo
 84050           24
 21914           12
 22645           12,
 'Norway_2019-06':           Quantity
                sum
 ProductNo
 23160           24
 20837           12
 22494           12,
 'Netherlands_2019-05':           Quantity
                sum
 ProductNo
 21212         1200
 22243         1152
 84212          480,
 'Netherlands_2019-10':           Quantity
                sum
 ProductNo
 23084         2400
 22595         1872
 22492          576,
 'Netherlands_2019-01':           Quantity
                sum
 ProductNo
 21212         1680
 22551          672
 22629          576,
 'Netherlands_2019-11':           Quantity
                sum
 ProductNo
 22492         1152
 22152          432
 22356          400,
 'Netherlands_2019-02':           Quantity
                sum
 ProductNo
 22630          448
 21684          360
 22629          320,
 'Netherlands_2019-04':           Quantity
                sum
 ProductNo
 85099B         200
 22326          144
 20711          100,
 'Netherlands_2019-09':           Quantity
                sum
 ProductNo
 23346          400
 23345          400
 23293          384,
 'Netherlands_2018-12':           Quantity
                sum
 ProductNo
 22378          300
 21731          288
 22856          288,
 'Netherlands_2019-12':           Quantity
                sum
 ProductNo
 23084         1440
 22712          216
 22029          216,
 'Netherlands_2019-07':           Quantity
                sum
 ProductNo
 22567            1
 22758            1
 22902            1,
 'Netherlands_2019-08':           Quantity

In [68]:
# 2. GroupBy
%time
aux3 = df[['Country', 'year-month', 'ProductNo', 'Quantity']].groupby(['Country', 'year-month', 'ProductNo']).agg('sum')
aux3.sort_values(by = 'Country').sort_values(by = 'year-month').sort_values(by = 'Quantity', ascending = False)

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 9.06 µs

                                     Quantity
Country        year-month ProductNo
United Kingdom 2019-11    84826         12551
                          22197         11728
               2019-04    84077          9471
               2019-11    23084          8335
               2019-10    84077          8084
...                                       ...
               2019-07    21439          -373
               2019-08    21877          -598
Japan          2019-04    22328          -624
United Kingdom 2019-04    47566B         -950
               2018-12    84347         -7078

[70902 rows x 1 columns]

In [76]:
# 3. key
%time
df['key'] = df['Country'] + '_' + df['year-month'] + '_' + df['ProductNo']
aux4 = df[['key', 'Quantity']].groupby('key').sum().sort_values(by = ('Quantity'), ascending = False)

CPU times: user 5 µs, sys: 2 µs, total: 7 µs
Wall time: 11.9 µs

In [74]:
dffinal = df[['Country', 'day']].groupby('Country').count()
dffinal.columns = ['Número de transcacciones por país']
dffinal

                      Número de transcacciones por país
Country
Australia                                          1704
Austria                                             887
Bahrain                                              17
Belgium                                            2539
Brazil                                               31
Canada                                              150
Channel Islands                                     629
Cyprus                                              582
Czech Republic                                       28
Denmark                                             416
EIRE                                               8048
European Community                                   58
Finland                                             692
France                                            10526
Germany                                           10675
Greece                                               67
Hong Kong                                           153
Iceland                                             787
Israel                                              358
Italy                                               661
Japan                                               371
Lebanon                                              45
Lithuania                                            34
Malta                                               149
Netherlands                                        2330
Norway                                              938
Poland                                              174
Portugal                                           1848
RSA                                                  57
Saudi Arabia                                         10
Singapore                                           215
Spain                                              2430
Sweden                                              417
Switzerland                                        2336
USA                                                 379
United Arab Emirates                                 67
United Kingdom                                   485095
Unspecified                                         447

In [78]:
aux4.index.astype(str)

Index(['United Kingdom_2019-11_84826', 'United Kingdom_2019-11_22197',
       'United Kingdom_2019-04_84077', 'United Kingdom_2019-11_23084',
       'United Kingdom_2019-10_84077', 'United Kingdom_2019-11_22086',
       'United Kingdom_2019-05_22197', 'United Kingdom_2019-08_84879',
       'United Kingdom_2019-12_22197', 'United Kingdom_2019-11_85099B',
       ...
       'United Kingdom_2019-07_23001', 'United Kingdom_2019-12_46000M',
       'United Kingdom_2019-12_22313', 'United Kingdom_2019-12_46000S',
       'United Kingdom_2019-09_18097C', 'United Kingdom_2019-07_21439',
       'United Kingdom_2019-08_21877', 'Japan_2019-04_22328',
       'United Kingdom_2019-04_47566B', 'United Kingdom_2018-12_84347'],
      dtype='object', name='key', length=70902)

In [82]:
aux4['country'] = aux4.index.astype(str).map(lambda x:x.strip().split('_')[0])
aux4['year-month'] = aux4.index.astype(str).map(lambda x:x.strip().split('_')[1])
aux4['prod'] = aux4.index.astype(str).map(lambda x:x.strip().split('_')[2])

In [86]:
columns = list(set(aux4['year-month']))
Country = list(set(aux4['country']))
results = dict()
for p in Country[:2]:
    aux5 = aux4.loc[aux4['country'] == p]
    for c in columns[:2]:
        aux6 = aux5.loc[aux5['year-month'] == c].sort_values(by = 'Quantity', ascending = False)
        result = aux6[['Quantity', 'prod']].head(3)
        results[p + '_' + c] = result

In [87]:
results

{'Finland_2019-05': Empty DataFrame
 Columns: [Quantity, prod]
 Index: [],
 'Finland_2019-01':                        Quantity   prod
 key
 Finland_2019-01_21980       144  21980
 Finland_2019-01_21983       144  21983
 Finland_2019-01_21985       144  21985,
 'USA_2019-05': Empty DataFrame
 Columns: [Quantity, prod]
 Index: [],
 'USA_2019-01': Empty DataFrame
 Columns: [Quantity, prod]
 Index: []}