# Metodos que vamos a usar en el examen

* Groupby
* Pivot
* Merge
* Append
* Map y Apply
* iloc

## Ejercicio 1

Nos solicitan revisar si es posible establecer una relación entre el país y la demanda de ciertos productos. La idea es que conociendo el país se pueda predecir las cantidades de los top tres productos para cada país (su precio, la cantidad de unidades vendidas) esto agrupado por mes.

* 1. Unidad muestral: País.
* 2. Quantity variable auxiliar para el cálculo de la demanda.
* 3. Segunda variable auxiliar precio.
* 4. Esto para los 3 productos más vendidos por cada país. 
* 5. Agrupación a nivel mes.

In [1]:
"""Importamos la data"""
import pandas as pd
import os

pd.set_option('display.max_columns', 500)

"""Para acceder al directorio donde estamos se usa os.getcwd() y le quitamos el directorio notebooks"""
data_path = os.getcwd()[:-len('notebooks')] + 'Data/'
"""Una vez en la carpeta Data accedemos al archivo"""
transactional_data = data_path + 'Business Sales Transaction.csv'

"""Importamos el archivo con pandas"""
sales_ecommerce = pd.read_csv(transactional_data, low_memory = False)
sales_ecommerce.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,536365,2018-12-01,85123A,Cream Hanging Heart T-Light Holder,1.88,6,17850.0,United Kingdom
1,536365,2018-12-01,71053,White Moroccan Metal Lantern,2.01,6,17850.0,United Kingdom
2,536365,2018-12-01,84406B,Cream Cupid Hearts Coat Hanger,1.91,8,17850.0,United Kingdom
3,536365,2018-12-01,84029G,Knitted Union Flag Hot Water Bottle,2.01,6,17850.0,United Kingdom
4,536365,2018-12-01,84029E,Red Woolly Hottie White Heart,2.01,6,17850.0,United Kingdom

In [2]:
"""Copiamos el dataframe dentro de uno nuevo"""
df = sales_ecommerce.copy()
"""Creamos una nueva columna llamada llave donde en ella usaremos los
primeros 6 digitos de la fecha recordando que python itera desde el 0
y [:7] indica que va del 0 al digito 6"""
"""El metodo map nos permite que a un tipo series de pandas aplicarle
una función en una sola línea, en este caso el x.strip()[:7] lo que
hace es que primero eliminamos en cada uno de los valores de cada fila
de date los espacios a los extremos y seguido de esos datos sin espacio
tomamos los primeros 6"""
df["key"]=df['Date'].map(lambda x:x.strip()[:7])
df.head(3)

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country,key
0,536365,2018-12-01,85123A,Cream Hanging Heart T-Light Holder,1.88,6,17850.0,United Kingdom,2018-12
1,536365,2018-12-01,71053,White Moroccan Metal Lantern,2.01,6,17850.0,United Kingdom,2018-12
2,536365,2018-12-01,84406B,Cream Cupid Hearts Coat Hanger,1.91,8,17850.0,United Kingdom,2018-12

Observaciones el la funcion strip() es para eliminar espacioes en blanco y es recomendable usarla cuando usamos iteraciones sobre strings para evitar errores

In [3]:
"""En esta parte lo que hacemos es que de un subconjunto del data frame
solo tomamos los valores de la columna country y key, ahi agrupamos
por country es decir ese sera nuestro indice y vamos a contar cuantas
llaves tiene cada pais"""
df[['Country', 'key']].groupby('Country').count().head(3)

            key
Country
Australia  1704
Austria     887
Bahrain      17

In [4]:
"""Con base a la instruccioón anterior vemos que arroja un dataframe,
a ese dataframe le vamos a agarrar los indices y los vamos a usar como
indices en nuestro nuevo dataframe final"""
dffinal = pd.DataFrame(index = df[['Country', 'key']].groupby('Country').count().index)
dffinal.head(3)

Empty DataFrame
Columns: []
Index: [Australia, Austria, Bahrain]

In [5]:
"""Pasamos a filtrar la información, usando un groupby partiendo a
un sub dataframe solo con country,key,ProductNo,Quantity y Price
de esos agrupanos prinero por pais, luego por llave la cual es el 
año -mes y por el productNo, de ahi partimos a sacar las funciones de
agregación en donde es Titulo:Funcion, es decir en Quantity vamos a 
sumar los registros y en price vamos a a sacar la media"""
# Filtrado de características
aux = (df[['Country', 'key', 'ProductNo', 'Quantity', 'Price']] # En esta línea está el filtrado
       .groupby(['Country', 'key', 'ProductNo']).agg({'Quantity': 'sum', 'Price': 'mean'}))
aux

                               Quantity  Price
Country     key     ProductNo
Australia   2018-12 20685             4   2.69
                    20725            10   1.75
                    21217            -1   2.99
                    21622             8   2.24
                    21791            12   1.69
...                                 ...    ...
Unspecified 2019-09 84378             2   1.72
                    84991             2   1.58
                    84997C            2   2.12
                    85019B            2   1.69
                    85227            10   1.63

[70902 rows x 2 columns]

In [6]:
"""Ahora pasamos al proceso de extracción en donde vamos a usar
diccionarios para llenar el data frame, procedemos llenando la variable
keys con un lista de todos los meses llenandolo con un for,
Y se crea una lista rows que se llenará en un for"""

keys = ['2018-12'] + [f'2019-0{i}' for i in range(1,10,1)] + [f'2019-{i}' for i in range(10,13,1)]
rows = []

for f in dffinal.index: #Empezamos iterando sobre los indices finales, que son los paises
    l = [] #Creamos una lista vacia que vamos a llenar con la tupla indicada
    for k in keys: #Iteramos sobre las llaves para llenar en cada pais todas las fechas 
        try: #Hacemos que corra el codigo de abajo cuando no haya errores
            """Abajo lo que hacemos es que con el auxiliar creado arriba, que es
            un data frame, vamos a usar el iloc para filtrar la info, pedimos que
            como es un multi-index, nos traiga los objetos con pais f y fecha k,
            de esos datos vamos ordenas los valores de manera no ascendente en la
            columna quantity para seleccionar a los más vendidos usando el head(3)
            que se traduce a obtener el top 3. Y en aux_ vamos a meter los precios y en
            aux2 vamos a meter las cantidades.
            Al momento de vaciarlo, lo haremos en una lista, que estara conformada por
            tuplas, en esta tupla el primer elemento es el Numero del producto,
            la cantidad y el precio dado que el .get nos da el valor 
            dandole la llave del diccionario"""
            aux_ = dict(aux.loc[(f, k)].sort_values(by=('Quantity'), ascending = False).head(3)['Quantity'])
            aux_2 = dict(aux.loc[(f, k)].sort_values(by=('Quantity'), ascending = False).head(3)['Price'])
            l.append([(i, aux_.get(i), aux_2.get(i)) for i in aux_])
        except:
            l.append([(0,0,0) for i in range(3)])
    rows.append(l)

In [7]:
#ejemplo 
prueba = dict(aux.loc[("Australia","2018-12")].sort_values(by = "Quantity", ascending = False).head(3)["Price"])
prueba

{'22915': 1.55, '79067': 1.94, '22196': 1.63}

In [8]:
lista = []
lista.append([(i,prueba.get(i)) for i in prueba])
lista

[[('22915', 1.55), ('79067', 1.94), ('22196', 1.63)]]

In [9]:
for i in prueba:
    print(i)

22915
79067
22196

In [10]:
rows[:2]

[[[('22915', 120, 1.55), ('79067', 50, 1.94), ('22196', 48, 1.63)],
  [('22492', 576, 1.58),
   ('21915', 252, 1.6749999999999998),
   ('22720', 243, 2.1900000000000004)],
  [('22969', 480, 1.69), ('20973', 384, 1.58), ('22962', 384, 1.61)],
  [('22615', 432, 1.54), ('21984', 432, 1.54), ('21981', 432, 1.54)],
  [('20725', 30, 1.75), ('22662', 30, 1.75), ('22384', 30, 1.75)],
  [('15036', 600, 1.61), ('21902', 576, 1.58), ('21900', 576, 1.58)],
  [('22492', 576, 1.58), ('16161P', 400, 1.55), ('22704', 400, 1.55)],
  [('23295', 408, 1.6175000000000002),
   ('23293', 408, 1.6175000000000002),
   ('23296', 408, 1.6824999999999999)],
  [('21731', 720, 1.72), ('22492', 576, 1.58), ('22940', 336, 2.06)],
  [('22492', 1152, 1.58),
   ('21915', 732, 1.6749999999999998),
   ('22751', 240, 2.01)],
  [('22722', 360, 2.02), ('23507', 250, 1.55), ('23510', 250, 1.55)],
  [('23084', 1632, 1.77), ('23247', 216, 1.93), ('23234', 216, 1.5)],
  [(0, 0, 0), (0, 0, 0), (0, 0, 0)]],
 [[('22153', -48, 1.56)],
  [(0, 0, 0), (0, 0, 0), (0, 0, 0)],
  [(0, 0, 0), (0, 0, 0), (0, 0, 0)],
  [('21918', 288, 1.55), ('22546', 240, 1.55), ('22582', 144, 1.81)],
  [(0, 0, 0), (0, 0, 0), (0, 0, 0)],
  [('22492', 36, 1.6), ('22693', 24, 1.69), ('21723', 12, 1.63)],
  [('22697', -1, 1.94), ('22357', -5, 2.14)],
  [('21500', 25, 1.56), ('23545', 25, 1.56), ('21498', 25, 1.56)],
  [('21402', 24, 1.52), ('21403', 24, 1.52), ('22814', 24, 1.56)],
  [(0, 0, 0), (0, 0, 0), (0, 0, 0)],
  [('72817', 24, 1.62), ('21788', 24, 1.63), ('21789', 24, 1.63)],
  [('23084', 279, 2.12),
   ('22154', 49, 1.59),
   ('23353', 31, 1.6600000000000001)],
  [('22646', 36, 1.56), ('15056N', 24, 2.39), ('20679', 24, 2.39)]]]

Observación podemos ver que cuando iteramos sobre un duccionario solo nos va a dar la llave, para obtener el value es con .get

In [11]:
"""Ahora solo llenamos el data frame con los datos obtenidos, en 
donde rows son los valores que estan en la lista de tuplas por
pais y año y esto se ve porque es una lista dentro de dos listotas"""
dff = pd.DataFrame(rows, index = dffinal.index, columns = keys)
dff

,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
Country,,,,,,,,,,,,,
Australia,"[(22915, 120, 1.55), (79067, 50, 1.94), (22196...","[(22492, 576, 1.58), (21915, 252, 1.6749999999...","[(22969, 480, 1.69), (20973, 384, 1.58), (2296...","[(22615, 432, 1.54), (21984, 432, 1.54), (2198...","[(20725, 30, 1.75), (22662, 30, 1.75), (22384,...","[(15036, 600, 1.61), (21902, 576, 1.58), (2190...","[(22492, 576, 1.58), (16161P, 400, 1.55), (227...","[(23295, 408, 1.6175000000000002), (23293, 408...","[(21731, 720, 1.72), (22492, 576, 1.58), (2294...","[(22492, 1152, 1.58), (21915, 732, 1.674999999...","[(22722, 360, 2.02), (23507, 250, 1.55), (2351...","[(23084, 1632, 1.77), (23247, 216, 1.93), (232...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Austria,"[(22153, -48, 1.56)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21918, 288, 1.55), (22546, 240, 1.55), (2258...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22492, 36, 1.6), (22693, 24, 1.69), (21723, ...","[(22697, -1, 1.94), (22357, -5, 2.14)]","[(21500, 25, 1.56), (23545, 25, 1.56), (21498,...","[(21402, 24, 1.52), (21403, 24, 1.52), (22814,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(72817, 24, 1.62), (21788, 24, 1.63), (21789,...","[(23084, 279, 2.12), (22154, 49, 1.59), (23353...","[(22646, 36, 1.56), (15056N, 24, 2.39), (20679..."
Bahrain,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23076, 96, 1.69), (23077, 60, 1.69), (22693,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Belgium,"[(21212, 148, 1.61), (22417, 144, 1.57), (2197...","[(22489, 144, 1.55), (22540, 48, 1.56), (22544...","[(22740, 48, 1.63), (22540, 48, 1.56), (22531,...","[(20724, 110, 1.62), (22355, 100, 1.61), (2066...","[(21212, 72, 1.58), (21977, 72, 1.58), (21829,...","[(84991, 96, 1.58), (22951, 96, 1.58), (21976,...","[(22492, 108, 1.6), (22740, 96, 1.63), (20724,...","[(84536B, 288, 1.5550000000000002), (22027, 72...","[(23546, 50, 1.56), (23545, 50, 1.56), (21981,...","[(23310, 180, 1.55), (22326, 90, 1.93), (22328...","[(22951, 96, 1.58), (21212, 96, 1.58), (22417,...","[(22629, 112, 1.782), (23084, 108, 1.79), (223...","[(21499, 50, 1.56), (79190B, 27, 1.595), (1615..."
Brazil,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22630, 24, 1.79), (22697, 24, 1.88), (22993,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Canada,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(84755, 16, 1.6), (20886, 12, 1.79), (71459, ...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(37370, 504, 1.66)]","[(84077, 288, 1.53), (20727, 50, 1.75), (10133...","[(47593B, 48, 1.56), (22098, 36, 1.56), (22099...","[(23293, 16, 1.62), (21993, 12, 1.69), (23294,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Channel Islands,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(16161P, 25, 1.56), (21498, 25, 1.56), (21500...","[(21785, 407, 1.6), (22720, 96, 2.14), (22745,...","[(22740, 96, 1.63), (22741, 48, 1.63), (22151,...","[(22908, 24, 1.63), (23206, 20, 1.75), (22666,...","[(21499, 25, 1.56), (21500, 25, 1.56), (21498,...","[(22985, 25, 1.56), (21212, 24, 1.58), (21977,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(85099B, 210, 1.79), (85099C, 200, 1.77), (23...","[(22741, 96, 1.63), (22197, 48, 1.63), (22492,...","[(85123A, 72, 1.94), (23327, 48, 1.59), (22952...","[(22771, 36, 1.69), (84992, 24, 1.58), (84991,...","[(23503, 24, 1.69), (23355, 20, 2.24), (22086,..."
Cyprus,"[(22335, 96, 1.6), (85123A, 64, 1.88), (22297,...","[(82613A, 60, 1.5599999999999998), (82484, 12,...","[(23230, 25, 1.56), (22709, 25, 1.56), (22616,...","[(84598, 288, 1.53), (84568, 288, 1.53), (8519...","[(22666, -2, 1.94), (22839, -2, 3.74)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23182, 24, 1.62), (22993, 24, 1.69), (22908,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(85204, 96, 1.52), (22066, 48, 1.56), (22153,...","[(16238, 28, 1.53), (22818, 24, 1.56), (23500,...","[(22720, -1, 2.24), (22826, -1, 7.88), (22797,..."
Czech Republic,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(84755, 48, 1.6), (22231, 36, 1.72), (22250, ...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22231, -15, 1.72), (84459A, -24, 1.72)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22578, 72, 1.54), (22579, 72, 1.54), (23271,...","[(22231, -15, 1.72), (84459A, -24, 1.72)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Denmark,"[(22951, 120, 1.56), (22956, 48, 1.78), (22779...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22538, 24, 1.56), (22539, 24, 1.56), (22544,...","[(22467, 144, 1.81), (22693, 144, 1.66), (2217...","[(21212, 24, 1.58), (21977, 24, 1.58), (23076,...","[(22630, 36, 1.79), (22629, 36, 1.79), (22556,...","[(22383, 125, 1.7349999999999999), (84077, 96,...","[(22820, 24, 1.6), (23290, 24, 1.69), (23289, ...","[(16161P, 25, 1.56), (22704, 25, 1.56), (23546...","[(21915, 240, 1.66), (20713, 100, 1.77), (2320...","[(23296, 256, 1.66), (23295, 256, 1.61), (2329...","[(23186, 48, 1.54), (21175, 48, 1.81), (82582,...","[(16237, 60, 1.53), (22045, 25, 1.56), (22708,..."
EIRE,"[(17084R, 1440, 1.52), (84991, 96, 1.58), (849...","[(21292, 384, 1.6), (22957, 312, 1.88), (22908...","[(22197, 400, 1.61), (23230, 300, 1.55), (2298...","[(21212, 264, 1.57), (84991, 264, 1.57), (2197...","[(21908, 151, 1.8), (21181, 144, 1.78), (21166...","[(21212, 305, 1.6325), (21977, 264, 1.57), (23...","[(21171, 442, 1.635), (21787, 288, 1.6), (2116...","[(22950, 588, 1.71), (21212, 480, 1.58), (2215...","[(23157, 240, 1.6866666666666668), (21790, 184...","[(84212, 960, 1.56), (22952, 480, 1.56), (2295...","[(22266, 704, 1.53), (22197, 540, 1.626), (850...","[(85123A, 432, 1.913333333333333), (22578, 432...","[(22197, 96, 1.63), (85123A, 88, 1.91), (23320..."
European Community,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22312, 6, 1.94), (22314, 6, 1.94), (22457, 6...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21675, 12, 1.63), (21676, 12, 1.63), (21677,...","[(23308, 24, 1.58), (23307, 24, 1.58), (22571,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Finland,"[(21213, 144, 1.57), (21977, 144, 1.57), (2198...","[(21967, 144, 1.54), (21980, 144, 1.54), (2198...","[(21212, 24, 1.58), (20677, 16, 1.69), (21238,...","[(21394, 66, 1.675), (21395, 48, 1.56), (21398...","[(23078, 96, 1.69), (23077, 80, 1.69), (23076,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23034, 48, 1.72), (22670, 13, 1.78), (23084,...","[(84997D, 72, 2.06), (21981, 48, 1.54), (22614...","[(84536A, 48, 1.56), (85099B, 40, 1.8099999999...","[(23077, 120, 1.69), (23078, 96, 1.69), (84997...","[(84997D, 76, 2.09), (21212, 48, 1.58), (23307...","[(84997D, 144, 2.06), (23084, 96, 1.77), (2259...","[(84997A, 72, 2.06), (84997C, 72, 2.06), (8499..."
France,"[(22355, 258, 1.88), (22264, 192, 1.53), (2173...","[(21381, 576, 1.72), (22492, 216, 1.6000000000...","[(22492, 252, 1.6), (21086, 97, 1.619999999999...","[(22492, 288, 1.6), (21086, 252, 1.6), (21094,...","[(10002, 120, 1.63), (23076, 96, 1.69), (20725...","[(23084, 326, 1.8191666666666668), (22492, 180...","[(22610, 360, 1.53), (23084, 258, 1.786), (162...","[(23084, 192, 1.77), (23307, 120, 1.58), (2328...","[(23084, 432, 1.7700000000000002), (21746, 192...","[(22492, 252, 1.6000000000000003), (23445, 200...","[(23084, 1014, 1.9200000000000002), (22386, 32...","[(23084, 1509, 1.7844444444444443), (22492, 36...","[(23084, 282, 1.7757142857142856), (22435, 112..."
Germany,"[(22961, 156, 1.751111111111111), (21700, 120,...","[(22585, 170, 1.73), (84692, 150, 1.5599999999...","[(22585, 300, 1.6749999999999998), (10133, 205...","[(22585, 312, 1.67), (22243, 176, 1.7457142857...","[(22893, 288, 1.55), (84945, 204, 1.62), (2103...","[(15036, 890, 1.6150000000000002), (20719, 210...","[(15036, 360, 1.62), (84568, 288, 1.53), (2249...","[(23307, 144, 1.58), (23293, 136, 1.6150000000...","[(23295, 208, 1.6185714285714285), (23293, 208...","[(21212, 170, 1.5957142857142856), (21500, 150...","[(16045, 600, 1.51), (23379, 456, 1.5550000000...","[(23084, 264, 1.7915384615384615), (22629, 228...","[(21232, 81, 1.69), (22629, 76, 1.77), (23232,..."
Greece,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21616, 48, 1.69), (21615, 48, 1.69), (22604,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22712, 12, 1.56), (20982, 12, 1.63), (20983,..."
Hong Kong,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22326, 96, 1.88), (22620, 60, 1.69), (22382,...","[(46000U, 3, 1.69)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(20674, 48, 1.69), (21238, 48, 1.63), (20676,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21985, 12, 1.56), (21821, 6, 2.06), (22092, ...","[(21829, 36, 1.53), (21915, 36, 1.69), (22492,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Iceland,"[(22492, 36, 1.6), (85167B, 30, 1.69), (84558A...","[(84992, 24, 1.58), (84991, 24, 1.58), (84625A...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23076, 240, 1.66), (22492, 36, 1.6), (16008,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(17021, 36, 1.55), (22196, 24, 1.63), (84558A...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(84558A, 36, 1.94), (84992, 24, 1.58), (21791...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23084, 48, 1.77), (22492, 36, 1.6), (84558A,...","[(23084, 44, 2.12), (84568, 21, 1.56), (22944,...","[(21064, 24, 1.69), (21731, 24, 1.75), (23084,..."
Israel,"[(20828, 16, 1.88), (84247E, 12, 1.94), (84997...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22326, 48, 1.88), (22399, 36, 1.69), (22630,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22440, 9, 1.56), (84997B, 6, 2.12), (21892, ...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(84997D, 10, 2.12), (23256, 10, 2.12), (84997...","[(23236, 48, 1.87), (23170, 48, 1.72), (21294,...","[(20724, 100, 1.61), (20719, 100, 1.61), (2166...","[(22153, 48, 1.56), (23433, 36, 1.62), (22321,...","[(16161P, 25, 1.56), (22319, 12, 1.6), (23432,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Italy,"[(85078, 24, 1.6), (20956, 12, 1.69), (22791, ...","[(71270, 24, 1.69), (84380, 24, 1.69), (22444,...","[(22556, 12, 1.75), (84375, 12, 1.81), (20711,...","[(20719, 40, 1.63), (20724, 30, 1.63), (21700,...","[(51014A, 96, 1.63), (47593B, 96, 1.56), (5101...","[(22466, 24, 1.79), (20711, 20, 1.81), (20719,...","[(23084, 24, 1.77), (35810A, 12, 1.62), (22804...","[(22720, 9, 2.24), (23243, 4, 2.24), (21533, 3...","[(21306, 72, 1.54), (21365, 48, 1.61), (21371,...","[(22804, 6, 1.94), (22960, 6, 2.14), (23423, 6...","[(23445, 200, 1.61), (22966, 36, 1.69), (21498...","[(51014A, 144, 1.56), (22197, 100, 1.61), (510...","[(85123A, 18, 1.94), (22720, 9, 2.24), (21733,..."
Japan,"[(22328, 1488, 1.88), (84988, 120, 1.705), (22...","[(21155, -1, 1.81), (22244, -1, 1.79), (22567,...","[(22549, 144, 1.69), (22859, 108, 1.72), (2285...","[(22967, 6, 1.88), (22662, 4, 1.75), (22749, 4...","[(22533, 576, 1.55), (22531, 576, 1.55), (8407...","[(20992, 96, 1.61), (21078, 96, 1.61), (21080,...","[(21918, 576, 1.55), (22491, 576, 1.61), (2248...","[(22652, 100, 1.75), (22662, 100, 1.72), (2266...","[(22662, -1, 1.75), (23229, -1, 2.01), (23238,...","[(21787, 72, 1.63), (21786, 24, 1.56), (21788,...","[(23084, 960, 1.77), (21976, 24, 1.58), (22951...","[(23084, 2160, 1.77), (22621, 192, 1.72), (217...","[(22621, -1, 1.72), (23238, -1, 2.06), (21731,..."
Lebanon,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(84929, 24, 1.58), (47566, 15, 2.2), (21165, ...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Lithuania,"[(21915, 48, 1.69), (22271, 48, 1.88), (22307,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Malta,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(85230A, 24, 1.54), (21982, 24, 1.54), (23228...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22959, 25, 1.56), (72741, 18, 1.72), (22984,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22065, 48, 1.56), (72741, 42, 1.72), (22307,...","[(22307, -1, 1.66), (72807C, -1, 2.14), (85034..."
Netherlands,"[(22378, 300, 1.63), (21731, 288, 1.72), (2285...","[(21212, 1680, 1.5599999999999998), (22551, 67...","[(22630, 448, 1.75), (21684, 360, 1.6), (22629...","[(22630, 652, 1.77), (22629, 652, 1.77), (2071...","[(85099B, 200, 1.75), (22326, 144, 1.88), (207...","[(21212, 1200, 1.56), (22243, 1152, 1.72), (84...","[(22326, 540, 1.892), (22630, 524, 1.76), (226...","[(22567, 1, 1.72), (22758, 1, 1.69), (22902, 1...","[(22629, 896, 1.75), (22630, 832, 1.75), (2326...","[(23346, 400, 1.66), (23345, 400, 1.66), (2329...","[(23084, 2400, 1.81), (22595, 1872, 1.61), (22...","[(22492, 1152, 1.58), (22152, 432, 1.55), (223...","[(23084, 1440, 1.77), (22712, 216, 1.55), (220..."
Norway,"[(84050, 144, 1.69), (22197, 144, 1.63), (8469...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21232, 12, 1.69), (21700, 12, 1.63), (22064,...","[(84050, 24, 1.75), (21914, 12, 1.690000000000...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(23160, 24, 1.69), (20837, 12, 1.63), (22494,...","[(16219, 48, 1.51), (21829, 36, 1.53), (16258A...","[(22492, 36, 1.6), (16169E, 25, 1.56), (22418,...","[(21977, 144, 1.57), (21212, 144, 1.57), (8499...","[(21213, 120, 1.56), (15034, 96, 1.52), (22693...","[(16008, 240, 1.52), (22693, 192, 1.66), (7223...","[(16008, 240, 1.52), (22693, 192, 1.66), (7223..."
Poland,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21868, 12, 1.69), (22918, 12, 1.6), (84832, ...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(16014, 40, 1.56), (16016, 20, 1.63), (22962,...","[(22962, 12, 1.63), (16016, 10, 1.63), (22652,...","[(16016, 40, 1.63), (16014, 40, 1.56), (22672,...","[(23084, 48, 1.77), (16161U, 25, 1.56), (22710...","[(23198, 24, 1.72), (22342, 24, 1.61), (20836,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(35953, 48, 1.56), (22340, 24, 1.56), (22998,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Portugal,"[(20728, 34, 1.75), (22759, 24, 1.75), (21915,...","[(84991, 144, 1.57), (84992, 120, 1.56), (2123...","[(23231, 25, 1.56), (21498, 25, 1.56), (21500,...","[(22492, 108, 1.6), (22994, 48, 1.56), (22740,...","[(22857, 72, 1.63), (84991, 48, 1.58), (21383,...","[(22593, 36, 1.63), (21980, 12, 1.54), (23203,...","[(22280, 24, 1.69), (22279, 24, 1.69), (21080,...","[(22740, 144, 1.63), (23209, 60, 1.75), (21498...","[(16161P, 50, 1.56), (16161U, 50, 1.56), (2205...","[(23078, 72, 1.69), (23076, 48, 1.69), (22101,...","[(21498, 75, 1.56), (21212, 72, 1.58), (16161P...","[(23581, 60, 1.81), (23583, 50, 1.75), (23209,...","[(22924, 120, 1.61), (22923, 120, 1.61), (2292..."
RSA,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(21889, 12, 1.69), (22585, 12, 1.69), (84375,...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Saudi Arabia,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22553, 12, 1.75), (22555, 12, 1.75), (22556,...","[(22361, -5, 1.94)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Singapore,"[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22197, 100, 1.61), (21790, 72, 1.61), (21519...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22197, 100, 1.61), (22346, 72, 1.61), (22348...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22339, 288, 1.58), (35970, 72, 1.72), (22343...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(22197, 100, 1.61), (22339, 96, 1.53), (22336...","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]","[(0, 0, 0), (0, 0, 0), (0, 0, 0)]"
Spain,"[(84077, 48, 1.54), (84347, 36, 1.88), (22553,...","[(22077, 49, 1.81), (21977, 48, 1.58), (84077,...","[(22335, 288, 1.58), (84950, 96, 1.58), (22252...","[(21212, 48, 1.58), (21213, 48, 1.58), (22077,...","[(21244, 32, 1.75), (21243, 32, 1.75), (21240,...","[(84879, 80, 1.75), (23230, 50, 1.56), (84077,...","[(23231, 50, 1.56), (21395, 48, 1.56), (22066,...","[(23297, 144, 1.72), (23295, 128, 1.61), (2329...","[(84077, 96, 1.54), (84826, 60, 1.63), (84879,...","[(21212, 48, 1.58), (21213, 48, 1.58), (84077,...","[(23167, 96, 1.6), (23187, 96, 1.54), (22597, ...","[(84879, 56, 1.75), (22741, 48, 1.63), (35953,...","[(23546, 25, 1.56), (21121, 24, 1.69), (21982,..."
Sweden,"[(84077, 576, 1.54), (22348, 288, 1.63), (2121...","[(22492, 576, 1.6), (22546, 240, 1.56), (22544...","[(22435, 48, 1.69), (21499, 25, 1.56), (21500,...","[(20975, 768, 1.6), (22492, 576, 1.6), (21212,...","[(21124, 24, 1.69), (23206, 20, 1.75), (20725,...","[(22492, 576, 1.6), (84077, 576, 1.54), (22489...","[(22492, 36, 1.6), (21122, 24, 1.69), (23084, ...","[(84077, 576, 1.54), (23308, 504, 1.58), (2330...","[(15036, 720, 1.61), (51014A, 240, 1.56), (212...","[(23310, 720, 1.56), (22492, 576, 1.6), (23297...","[(22492, 576, 1.6), (22952, 480, 1.56), (23368...","[(84077, 288, 1.54), (23293, 256, 1.62), (2329...","[(23494, 0, 2.39)]"

## Ejercicio 2

Como comité olímpico, nos solicitan analizar la relación que existe entre el número de participantes enviados por cada país y el número de medallas obtenidos en los tres niveles. 

Nos interesa analizar este proceso a nivel país, y nos gustaría poder revisar la cantidad de atletas enviados por cada país (cantidad total, cantidad de mujeres y cantidad de hombres), total de medallas obtenidas, total de medallas de oro, total de medallas de plata y total de medallas de bronce (segmentados por hombres y mujeres). Además de esto, nos interesa contar la cantidad de coaches que envió cada país, de igual forma, divido por mujeres y hombres. Y por último agregar las columnas para los referies, la intención es analizar si la cantidad de personas enviadas por cada país está relacionada con la cantidad de medallas traidas por cada país.

In [12]:
"""Procedemos a importar la data de los juegos de beijin que se
encuentran dentro una carpeta en Data"""
data_path = os.getcwd()[:-len('notebooks')] + 'Data/'
db_beijing_path = data_path + 'Beijing_winter_Olympic_Games/'

Hay que definir las tablas o los datos que usaremos, vamos a necesitar 
medallas, atletas, coaches y referies

In [13]:
"""Importamos cada una de las tablas previamente descritas"""
athletes = pd.read_csv(db_beijing_path + 'athletes.csv')
officials = pd.read_csv(db_beijing_path + 'technical_officials.csv')
coaches = pd.read_csv(db_beijing_path + 'coaches.csv')
medals = pd.read_csv(db_beijing_path + 'medals.csv')

Primero vamos a crear la columna principal de nuestra tabla TAD que son los paises aqui cabe reslara que lo haremos con los paises de cada tabla juntandolo en una sola ya que puede haber paises que no hayan mandado atletas, referies o coaches y paises que no ganaron medallas

In [14]:
"""Creamos una lista, que contiene un conjunto de las listas con paises
sin repeticion usando unique()"""

# Creamos la lista de todos los países
countries = list(set(list(athletes['country'].unique()) 
                     + list(officials['country'].unique())
                     + list(coaches['country'].unique())))
#No tomo en cuenta medallas dado que es un subconjunto de los paises de atletas
"""Ahora esa lista la vamos a convertir en una serie de pandas y 
se va a ordenas por orden alfabetico"""
countries = pd.Series(countries).sort_values()
countries

83                     Albania
4               American Samoa
70                     Andorra
31                   Argentina
15                     Armenia
                ...
89                      Turkey
85                     Ukraine
57    United States of America
32                  Uzbekistan
8           Virgin Islands, US
Length: 92, dtype: object

Procedemos ahora a analizar la primer tabla que es atletas ya que es la mas grande

In [15]:
"""Ahora vamos a comprobar que la columna de genero tenga valores
únicos para que esto no afecte al momento de hacer nuestro conteo"""
athletes['gender'].unique()

array(['Male', 'Female', 'F', 'M'], dtype=object)

In [16]:
"""Vemos que los generos son Male, Female, F y M, lo cual nos obliga a
normalizar a la variable asignanfo los F y M a Male o Female, esto lo haremos
mapenado los valores en el data frame"""

aux_athletes_dict = {
    'Male' : 'Male',
    'Female': 'Female',
    'F': 'Female',
    'M': 'Male'
} #Se crea el diccionario donde reasignamos las variables y con este vamos a hacer el mapeo

"""Ahora en la columna gender vamos a rellenas los generos ocupando map
para hacer la sustitucion"""
athletes['gender'] = athletes['gender'].map(aux_athletes_dict)
athletes['gender'].unique()

array(['Male', 'Female'], dtype=object)

Observación el map funciona con un diccionario en el que el key es el valor que rastrea y el value es por el que lo sustituye.

Procedemos a ver si este error en los generos se repite en las otras tablas:

In [17]:
# Revisamos que la variable tenga valores únicos
officials['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [18]:
# Revisamos que la variable tenga valores únicos
coaches['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [19]:
# Revisamos que la variable tenga valores únicos
medals['athlete_sex'].unique()

array(['X', 'W', 'M', 'O'], dtype=object)

**Para esta situación en particular, tendremos que idear una alternativa, para poder obtener el sexo del atleta. Para esto utilizaremos diccionarios, los cuales crearemos a partir del dataframe de atletas.**

In [20]:
#Copiamos el data frame de medals en uno nuevo donde haremos el rastreo de los sexos de los atletas

medals_ = medals.copy()

In [21]:
"""Ahora procederemos a crear el la nueva columna en medals_ donde veremos
el genero de los ganadores por medalla"""

dictionaries = dict()
vars_ = ['name', 'gender', 'country'] # Variables de interés
vars_f = ['name', 'gender'] # Llave y valor para el diccionario
f_var = 'country' # Variable de filtrado

"""Ahora en este for lo que haremos es por cada ciudad el diccionario lo vamos a
actualizar.
De la tabla de atletas agarramos el subconjunto con solo las columnas de
vars_ ahi con loc filtramos a los atltas que solo sean del pais c.
Y vamos a agarrar de ahi los valoes de nombre y genero"""

for c in countries:
    dictionaries.update(dict(athletes[vars_].loc[athletes[f_var] == c][vars_f].values))
dictionaries

{'XHEPA Denni': 'Male',
 'CRUMPTON Nathan': 'Male',
 'ESTEVE ALTIMIRAS Ireneu': 'Male',
 'ESTEVEZ Maeva': 'Female',
 'MORENO Cande': 'Female',
 'VERDU Joan': 'Male',
 'VILA OBIOLS Carola': 'Female',
 'BARUZZI FARRIOL Francesca': 'Female',
 'BIRKNER de MIGUEL Tomas': 'Male',
 'DAL FARRA Franco': 'Male',
 'DIAZ GONZALEZ Nahiara': 'Female',
 'RAVENNA Veronica Maria': 'Female',
 'RODRIGUEZ LOPEZ Maria Victoria': 'Female',
 'GALSTYAN Katya': 'Female',
 'GARABEDIAN Tina': 'Female',
 'HARUTYUNYAN Harutyun': 'Male',
 'MIKAYELYAN Mikayel': 'Male',
 'MURADYAN Angelina': 'Female',
 'PROULX SENECAL Simon': 'Male',
 'ANTHONY Jakara': 'Female',
 'ARTHUR Emily': 'Female',
 'ASH Gabi': 'Female',
 'ASH Sophie': 'Female',
 'BAFF Josie': 'Female',
 'BELLINGHAM Phil': 'Male',
 'BOLTON Cameron': 'Male',
 'BROCKHOFF Belle': 'Female',
 'COADY Tess': 'Female',
 'COREY Brendan': 'Male',
 'COX Britteny': 'Female',
 'COX Matthew': 'Male',
 'CRAINE Kailani': 'Female',
 'de CAMPO Seve': 'Male',
 'DICKSON Adam': 'Male',
 'FERLAZZO Alexander': 'Male',
 'GILL Tahli': 'Female',
 'GRAHAM Matt': 'Male',
 'GUSELI Valentino': 'Male',
 'HARRIGAN Abi': 'Female',
 'HEWITT Dean': 'Male',
 'HINCKFUSS Hugo': 'Male',
 'HOFFMAN Madison': 'Female',
 'HUGHES Jarryd': 'Male',
 'JAMES Scotty': 'Male',
 'KENNEDY-SIM Sami': 'Female',
 'KERRY Brendan': 'Male',
 'LAMBERT Adam': 'Male',
 'MATHESON James': 'Male',
 'MUHLEN-SCHULTE Louis': 'Male',
 'NARRACOTT Jaclyn': 'Female',
 'ONEILL Taylah': 'Female',
 'PARKER Kathryn': 'Female',
 'PEEL Laura': 'Female',
 'REDDINGIUS Kiara': 'Female',
 'SCOTT Danielle': 'Female',
 'SMALL Greta': 'Female',
 'SUMMERS Brodie': 'Male',
 'TIMMINGS Nicholas': 'Male',
 'VIK Lars Young': 'Male',
 'WALKER Breeana': 'Female',
 'WOODS-TOPALOVIC Cooper': 'Male',
 'WRIGHT Casey': 'Female',
 'YEATON Jessica': 'Female',
 'BACHER Daniel': 'Male',
 'BEIERL Katrin': 'Female',
 'BRENNSTEINER Stefan': 'Male',
 'BRUNNER Stephanie': 'Female',
 'DUJMOVITS Julia': 'Female',
 'DUSEK Jakob': 'Male',
 'ECKSCHLAGER Robert': 'Male',
 'EDER Lisa': 'Female',
 'EDER Simon': 'Male',
 'EGLE Madeleine': 'Female',
 'FELLER Manuel': 'Male',
 'FETTNER Manuel': 'Male',
 'FLOCK Janine': 'Female',
 'FOEDERMAYR Christina': 'Female',
 'FOETTINGER Michael': 'Male',
 'FRANZ Max': 'Male',
 'FRAUSCHER Armin': 'Male',
 'FRITZ Martin': 'Male',
 'GALLHUBER Katharina': 'Female',
 'GASSER Anna': 'Female',
 'GLEIRSCHER David': 'Male',
 'GLEIRSCHER Nico': 'Male',
 'GLUECK Markus': 'Male',
 'GREIDERER Lukas': 'Male',
 'HAASER Raphael': 'Male',
 'HAEMMERLE Alessandro': 'Male',
 'HAUSER Lisa Theresa': 'Female',
 'HEMETSBERGER Daniel': 'Male',
 'HERZOG Vanessa': 'Female',
 'HOERL Jan': 'Male',
 'HUBER Daniel': 'Male',
 'HUBER Katharina': 'Female',
 'HUBER Kristian': 'Male',
 'HUETTER Cornelia': 'Female',
 'INNERHOFER Katharina': 'Female',
 'IRASCHKO STOLZ Daniela': 'Female',
 'JAKOB Patrick': 'Male',
 'JUPPE Anna': 'Female',
 'KAPPACHER Adam': 'Male',
 'KARL Benjamin': 'Male',
 'KIEFER Severin': 'Male',
 'KINDL Wolfgang': 'Male',
 'KOLLER Lorenz': 'Male',
 'KOMATZ David': 'Male',
 'KRAFT Stefan': 'Male',
 'KRIECHMAYR Vincent': 'Male',
 'LADNER Marco': 'Male',
 'LAMPARTER Johannes': 'Male',
 'LEITNER Felix': 'Male',
 'LEMMERER Harald': 'Male',
 'LIENSBERGER Katharina': 'Female',
 'LIMBACHER Andrea': 'Female',
 'LUEFTNER Julian': 'Male',
 'MAIER Benjamin': 'Male',
 'MAIER Samuel': 'Male',
 'MATHIES Lukas': 'Male',
 'MATT Michael': 'Male',
 'MAYER Matthias': 'Male',
 'MIKUTINA Olga': 'Female',
 'MILLAUER Clemens': 'Male',
 'MITTERER Sebastian': 'Male',
 'MOSER Benjamin': 'Male',
 'MUELLER Yannick': 'Male',
 'ODOR Gabriel': 'Male',
 'OFNER Katrin': 'Female',
 'ONASANYA Jennifer': 'Female',
 'PACHNER Lukas': 'Male',
 'PAYER Alexander': 'Male',
 'PINKELNIG Eva': 'Female',
 'PROCK Hannah': 'Female',
 'PROMMEGGER Andreas': 'Male',
 'PUCHNER Mirjam': 'Female',
 'RAEDLER Ariane': 'Female',
 'RAMSAUER Katharina': 'Female',
 'REHRL Franz-Josef': 'Male',
 'ROHRWECK Johannes': 'Male',
 'SAMMER Markus': 'Male',
 'SCHEYER Christine': 'Female',
 'SCHLINTNER Alexander': 'Male',
 'SCHULTE Lisa': 'Female',
 'SCHWAIGER Julia': 'Female',
 'SCHWARZ Marco': 'Male',
 'SEIDL Mario': 'Male',
 'SIEBENHOFER Ramona': 'Female',
 'SORSCHAG Sophie': 'Female',
 'STADLOBER Teresa': 'Female',
 'STEPAN Sascha': 'Male',
 'STEU Thomas': 'Male',
 'STRIEDINGER Otmar': 'Male',
 'STROLZ Johannes': 'Male',
 'SVANCER Matej': 'Male',
 'TAKATS Tristan': 'Male',
 'TIPPLER Tamara': 'Female',
 'TREICHL Markus': 'Male',
 'TRUPPE Katharina': 'Female',
 'TSCHOFENIG Daniel': 'Male',
 'ULBING Daniela': 'Female',
 'UNTERWEGER Lisa': 'Female',
 'VERMEULEN Mika': 'Male',
 'WALLNER Laura': 'Female',
 'WINKLER Robert': 'Male',
 'WOLF Lara': 'Female',
 'ZDOUC Dunja': 'Female',
 'ZERKHOLD Pia': 'Female',
 'ZIEGLER Miriam': 'Female',
 'LITVINTSEV Vladimir': 'Male',
 'RYABOVA Ekaterina': 'Female',
 'ALIMBEKAVA Dzinara': 'Female',
 'ANDRYIANAVA Anastasiya': 'Female',
 'DERUGO Anna': 'Female',
 'DZIK Pavel': 'Male',
 'GOLOVATSIUK Ignat': 'Male',
 'GUSTIK Maksim': 'Male',
 'HLADCHENKA Stanislau': 'Male',
 'HUSKOVA Hanna': 'Female',
 'KARALIOVA Hanna': 'Female',
 'KIRILLOVA Anastasia': 'Female',
 'KRUCHYNKINA Elena': 'Female',
 'LABASTAU Mikita': 'Male',
 'LAZOUSKI Dzmitry': 'Male',
 'LESHCHANKA Iryna': 'Female',
 'MILYUKOV Konstantin': 'Male',
 'NIFANTAVA Hanna': 'Female',
 'PILCHUK Alina': 'Female',
 'SAFONOVA Viktoriia': 'Female',
 'SHKANOVA Maria': 'Female',
 'SHPUNTAU Yahor': 'Male',
 'SLOEVA Ekaterina': 'Female',
 'SMOLSKI Anton': 'Male',
 'SOLA Hanna': 'Female',
 'VARABEI Maksim': 'Male',
 'VARABYOVA Yauheniya': 'Female',
 'VORANAU Aliaksandr': 'Male',
 'YALIOTNAU Raman': 'Male',
 'ZUYEVA Maryna': 'Female',
 'AERTS Sara': 'Female',
 'BEAUVAIS Cesar': 'Male',
 'CLAUDE Florent': 'Male',
 'de MARRE Thibaut': 'Male',
 'DESMET Hanne': 'Female',
 'DESMET Stijn': 'Male',
 'HENDRICKX Loena': 'Female',
 'LAHAYE-GOFFART Tom': 'Male',
 'LANGER Thierry': 'Male',
 'LIE Lotte': 'Female',
 'MAES Sam': 'Male',
 'MARCHANT Armand': 'Male',
 'MEYLEMANS Kim': 'Female',
 'POPPE Evy': 'Female',
 'SWINGS Bart': 'Male',
 'TAS Sandrine': 'Female',
 'van den BROECKE Dries': 'Male',
 'VANNIEUWENHUYSE An': 'Female',
 'VOSTE Mathias': 'Male',
 'BREITFUSS KAMMERLANDER Simon': 'Male',
 'GRONLUND Timo Juhani': 'Male',
 'ALIC Esma': 'Female',
 'ERIC Strahinja': 'Male',
 'KUSMUK Sanja': 'Female',
 'LOKMIC Emir': 'Male',
 'MUZAFERIJA Elvedina': 'Female',
 'NIKOLAJEV Mirza': 'Male',
 'BINDILATTI Edson Luques': 'Male',
 'CASS Sabrina': 'Female',
 'GILSON VIANNA JERONIMO Erick': 'Male',
 'MACEDO Michel': 'Male',
 'MARTINS Edson Ricardo': 'Male',
 'MOURAO Jaqueline': 'Female',
 'RIBERA Eduarda': 'Female',
 'SILVA Manex': 'Male',
 'SILVEIRA Nicole Rocha': 'Female',
 'SOUZA da SILVA Rafael': 'Male',
 'ANGELOV Pavel': 'Male',
 'DEYANOV Simeon': 'Male',
 'FEIGIN Alexandra': 'Female',
 'GERDZHIKOV Dimitar': 'Male',
 'HRISTOVA Lora': 'Female',
 'ILIEV Vladimir': 'Male',
 'KADEVA Daniela': 'Female',
 'POPOV Albert': 'Male',
 'SINAPOV Anton': 'Male',
 'TODEV Blagoy': 'Male',
 'TODOROVA Milena': 'Female',
 'VUKADINOVA Eva': 'Female',
 'YANKOV Radoslav': 'Male',
 'ZDRAVKOVA Maria': 'Female',
 'ZLATKOV Kamen': 'Male',
 'ZOGRAFSKI Vladimir': 'Male',
 'AMBROSE Erin': 'Female',
 'APPIAH Cynthia': 'Female',
 'ASSELIN Olivia': 'Female',
 'AUMOND Flavie': 'Female',
 'AUSTIN Taylor': 'Male',
 'BAIRD Jasmine': 'Female',
 'BANKES Megan': 'Female',
 'BARBERIO Mark': 'Male',
 'BEATTY Dahria': 'Female',
 'BEAUDRY Sarah': 'Female',
 'BEAULIEU Sebastien': 'Male',
 'BELCHOS Jordan': 'Male',
 'BELL Ashton': 'Female',
 'BERGERMANN Zoe': 'Female',
 'BLAIS Danae': 'Female',
 'BLOEMEN Ted-Jan': 'Male',
 'BLONDIN Ivanie': 'Female',
 'BLOUIN Laurie': 'Female',
 'BOUDREAU-GUERTIN Naomy': 'Female',
 'BOUFFARD-NESBITT Olivia': 'Female',
 'BOUTIN Kim': 'Female',
 'BOWMAN Noah': 'Male',
 'BOYD-CLOWES Mackenzie': 'Male',
 'BROWNE Cendrine': 'Female',
 'BRUNELLE Florence': 'Female',
 'BUCK Kaylie': 'Female',
 'BUJNOWSKI Kristen': 'Female',
 'BURNOTTE Jules': 'Male',
 'CAMPBELL Kristen': 'Female',
 'CHANNELL Jane': 'Female',
 'CHARLES Alyson': 'Female',
 'CLARK Emily': 'Female',
 'COAKWELL Benjamin': 'Male',
 'CORLESS Natalie': 'Female',
 'CRACKNELL Adam': 'Male',
 'CRAWFORD James': 'Male',
 'CRITCHLOW Tess': 'Female',
 'CYR Antoine': 'Male',
 'D ARTOIS Simon': 'Male',
 'DAOUST Melodie': 'Female',
 'de BRUIN Christine': 'Female',
 'DEARBORN Jay': 'Male',
 'DEMERS Jason': 'Male',
 'DESBIENS Ann-Renee': 'Female',
 'DESHARNAIS David': 'Male',
 'DHONDT Brooke': 'Female',
 'DICKSON Emily': 'Female',
 'DION Pascal': 'Male',
 'DROLET Remi': 'Male',
 'DRURY Kevin': 'Male',
 'DUBOIS Steven': 'Male',
 'DUBREUIL Laurent': 'Male',
 'DUFOUR-LAPOINTE Chloe': 'Female',
 'DUFOUR-LAPOINTE Justine': 'Female',
 'DUMAIS Laurent': 'Male',
 'ELLIS Morgan': 'Male',
 'ELLIS Trinity': 'Female',
 'ENZIE Blake': 'Male',
 'EVELYN Mike': 'Male',
 'FARRELL Megan': 'Female',
 'FAST Renata': 'Female',
 'FERRARO Landon': 'Male',
 'FILLIER Sarah': 'Female',
 'FISH Graeme': 'Male',
 'FONTAINE Miha': 'Male',
 'FOURNIER BEAUDRY Laurence': 'Female',
 'FRASER Amy': 'Female',
 'GAGNON Marie-Michele': 'Female',
 'GAGNON Sofiane': 'Female',
 'GALLANT Brett': 'Male',
 'GASKELL Elena': 'Female',
 'GAUDET Arnaud': 'Male',
 'GELINAS-BEAULIEU Antoine': 'Male',
 'GIGUERE Samuel': 'Male',
 'GILL Liam': 'Male',
 'GILLES Piper': 'Female',
 'GOW Christian': 'Male',
 'GOW Scott': 'Male',
 'GRANT Alex': 'Male',
 'GRAY Cassidy': 'Female',
 'GRENIER Valerie': 'Female',
 'GRONDIN Eliot': 'Male',
 'GUSHUE Brad': 'Male',
 'HAMELIN Charles': 'Male',
 'HARLE Teal': 'Male',
 'HAWKRIGG Jennifer': 'Female',
 'HILL Kevin': 'Male',
 'HODGSON Makena': 'Female',
 'HOFFOS Courtney': 'Female',
 'HOMAN Rachel': 'Female',
 'HO-SANG Josh': 'Male',
 'HOSKING Elizabeth': 'Female',
 'HOWDEN Reece': 'Male',
 'HOWE Connor': 'Male',
 'HUDEY Marsha': 'Female',
 'IRVING Lewis': 'Male',
 'JAMES Vanessa': 'Female',
 'JENNER Brianne': 'Female',
 'JOHNSON Kent': 'Male',
 'JOHNSTON Rebecca': 'Female',
 'JONES Jennifer': 'Female',
 'JUNIO Gilmore': 'Male',
 'KARKER Rachael': 'Female',
 'KENNEDY Marc': 'Male',
 'KINGSBURY Mikael': 'Male',
 'KNIGHT Corban': 'Male',
 'KRIPPS Justin': 'Male',
 'LAGHA Zachary': 'Male',
 'LAJOIE Marjorie': 'Female',
 'LANGELAAR Tyson': 'Male',
 'LAOUN Maxime': 'Male',
 'LAROCQUE Jocelyne': 'Female',
 'LAWES Kaitlyn': 'Female',
 'LECLAIR Laura': 'Female',
 'LEFEBVRE Jules': 'Male',
 'LEMAN Brady': 'Male',
 'LEVEILLE Olivier': 'Male',
 'LEVI Devon': 'Male',
 'LOTHOLZ Melissa': 'Female',
 'LOUTITT Alexandria': 'Female',
 'LUNDER Emma': 'Female',
 'MACKAY Brendan': 'Male',
 'MALTAIS Emma': 'Female',
 'MALTAIS Valerie': 'Female',
 'MARINARO Michael': 'Male',
 'MASCHMEYER Emerance': 'Female',
 'McBAIN Jack': 'Male',
 'McDOUGALL Brooklyn': 'Female',
 'McEACHRAN Evan': 'Male',
 'McEWEN Dawn': 'Female',
 'McLEAN Heather': 'Female',
 'McMANIMAN Audrey': 'Female',
 'McMORRIS Mark': 'Male',
 'McTAVISH Mason': 'Male',
 'MESSING Keegan': 'Male',
 'MIELZYNSKI Erin': 'Female',
 'MOFFATT Liam': 'Male',
 'MOFFATT Max': 'Male',
 'MOORE-TOWERS Kirsten': 'Female',
 'MORRIS John': 'Male',
 'NADEAU Emile': 'Male',
 'NICHOLS Mark': 'Male',
 'NOREAU Maxim': 'Male',
 'NULLMEYER Ali': 'Female',
 'NURSE Sarah': 'Female',
 "O'DELL Eric": 'Male',
 'ODINE Meryeta': 'Female',
 'OLDHAM Megan': 'Female',
 'PARROT Max': 'Male',
 'PASQUALE Eddie': 'Male',
 'PATRICIAN Chris': 'Male',
 'PEARMAN Maddison': 'Female',
 'PETERMAN Jocelyn': 'Female',
 'PHELAN Brittany': 'Female',
 'PHILP Trevor': 'Male',
 'PIERRE-GILLES Jordan': 'Male',
 'POIRIER Paul': 'Male',
 'POULIN Marie-Philip': 'Female',
 'POWER Owen': 'Male',
 'RADFORD Eric': 'Male',
 'RAHNEVA Mirela': 'Female',
 'RATTRAY Jamie Lee': 'Female',
 'READ Erik': 'Male',
 'REMME Roni': 'Female',
 'RICHARDSON WILSON Dawn': 'Female',
 'RITCHIE Graham': 'Male',
 'ROBINSON Mat': 'Male',
 'RUNNALLS Adam': 'Male',
 'SADOVSKY Roman': 'Male',
 'SARAULT Courtney': 'Female',
 'SAULNIER Jill': 'Female',
 'SCHIZAS Madeline': 'Female',
 'SCHMIDT Hannah': 'Female',
 'SCHMIDT Jared': 'Male',
 'SCOTT Alexa': 'Female',
 'SEGER Brodie': 'Male',
 'SHARPE Cassie': 'Female',
 'SHARPE Darcy': 'Male',
 'SHELTON Ella': 'Female',
 'SMART Amelia': 'Female',
 'SNITH Justin': 'Male',
 'SOERENSEN Nikolaj': 'Male',
 'SOMMER Ryan': 'Male',
 'SORENSEN Cody': 'Male',
 'SOUKUP Matthew': 'Male',
 'SPOONER Natalie': 'Female',
 'SPRING Christopher': 'Male',
 'STAAL Eric': 'Male',
 'STACEY Laura': 'Female',
 'STEWART-JONES Katherine': 'Female',
 'ST-GERMAIN Laurence': 'Female',
 'STONES Cam': 'Male',
 'STRATE Abigail': 'Female',
 'STREET Ben': 'Male',
 'SUNDERLAND Daniel': 'Male',
 'TAMBELLINI Adam': 'Male',
 'THENAULT Marion': 'Female',
 'THERRIAULT Edouard': 'Male',
 'THOMPSON Broderick': 'Male',
 'THOMPSON Claire': 'Female',
 'THOMPSON Marielle': 'Female',
 'TOMKINS Matt': 'Male',
 'TOUTANT Sebastien': 'Male',
 'TURNBULL Blayre': 'Female',
 'VILLANI Sara': 'Female',
 'VOIGT Brooke': 'Female',
 'WALKER Geoff': 'Male',
 'WALKER Tristan': 'Male',
 'WATTS Reid': 'Male',
 'WEAGLE Lisa': 'Female',
 'WEAL Jordan': 'Male',
 'WEIDEMANN Isabelle': 'Female',
 'WINNIK Daniel': 'Male',
 'WOTHERSPOON Tyler': 'Male',
 'ZANDEE-HART Micah': 'Female',
 'ARAMBURO Emilia': 'Female',
 'FERNANDEZ Yonathan Jesus': 'Male',
 'OHACO Dominique': 'Female',
 'von APPEN Henrik': 'Male',
 'HO Ping-Jui': 'Male',
 'HUANG Yu Ting': 'Female',
 'LEE Wen-Yi': 'Female',
 'LIN Sin-Rong': 'Female',
 'GOMEZ Laura': 'Female',
 'POETTOZ Michael': 'Male',
 'QUINTANA Carlos Andres': 'Male',
 'ASCIC Valentina': 'Female',
 'HADZIC Tena': 'Female',
 'JUGOVAC Lea': 'Female',
 'KOLEGA Samuel': 'Male',
 'KOMSIC Andrea': 'Female',
 'LJUTIC Zrinka': 'Female',
 'MALEC Vedrana': 'Female',
 'POPOVIC Leona': 'Female',
 'SKENDER Marko': 'Male',
 'VIDOVIC Matej': 'Male',
 'ZUBCIC Filip': 'Male',
 'KOUYOUMDJIAN Yianno': 'Male',
 'BARTOSAK Patrik': 'Male',
 'BERANOVA Tereza': 'Female',
 'BIDAR Martin': 'Male',
 'BREZINA Michal': 'Male',
 'BREZINOVA Eliska': 'Female',
 'BUKOLSKA Katerina': 'Female',
 'CAJANOVA Sara': 'Female',
 'CAPOVA Gabriela': 'Female',
 'CERNY Ondrej': 'Male',
 'CERVENKA Roman': 'Male',
 'CEZIKOVA Anna': 'Female',
 'CHARVATOVA Lucie': 'Female',
 'DANEK Lukas': 'Male',
 'DAVIDOVA Marketa': 'Female',
 'DUBOVSKA Martina': 'Female',
 'DVORAK Dominik': 'Male',
 'FELLNER Adam': 'Male',
 'FERNSTAEDT Anna': 'Female',
 'FROLIK Michael': 'Male',
 'HOLIKOVA Zuzana': 'Female',
 'HOPJAKOVA Vendula': 'Female',
 'HORALKOVA Pavlina': 'Female',
 'HOUSER Radek': 'Male',
 'HRUBEC Simon': 'Male',
 'HRUZOVA Michaela': 'Female',
 'HYKA Tomas': 'Male',
 'HYMLAROVA Klara': 'Female',
 'HYNCICOVA Petra': 'Female',
 'INDRACKOVA Anezka': 'Female',
 'INDRACKOVA Karolina': 'Female',
 'JANATOVA Katerina': 'Female',
 'JERABEK Jakub': 'Male',
 'JISLOVA Jessica': 'Female',
 'KARLIK Mikulas': 'Male',
 'KLOK Lukas': 'Male',
 'KNOP Petr': 'Male',
 'KNOT Ronald': 'Male',
 'KOLOWRATOVA Samantha Ahn': 'Female',
 'KOUDELKA Roman': 'Male',
 'KOVAR Jan': 'Male',
 'KOZISEK Cestmir': 'Male',
 'KRCMAR Michal': 'Male',
 'KREJCI David': 'Male',
 'KRIZOVA Denisa': 'Female',
 'KRYZL Krystof': 'Male',
 'KUCEROVA Nikol': 'Female',
 'KUNDRATEK Tomas': 'Male',
 'LASKOVA Dominika': 'Female',
 'LEDECKA Ester': 'Female',
 'LEDLOVA Aneta': 'Female',
 'LEJSEK Michael': 'Male',
 'LENC Radan': 'Male',
 'MADEROVA Zuzana': 'Female',
 'MILLS Alena': 'Female',
 'MLYNKOVA Natalie': 'Female',
 'MOZIK Vojtech': 'Male',
 'MRAZOVA Katerina': 'Female',
 'MUSIL David': 'Male',
 'NEUBAUEROVA Noemi': 'Female',
 'NOSEK Jakub': 'Male',
 'NOVA Tereza': 'Female',
 'NOVAK Michal': 'Male',
 'NOVAKOVA Barbora': 'Female',
 'NOVAKOVA Petra': 'Female',
 'PANCOCHOVA Sarka': 'Female',
 'PATKOVA Kristyna': 'Female',
 'PAUL Tomas': 'Male',
 'PAULOVA Zuzana': 'Female',
 'PAZOUT Ondrej': 'Male',
 'PECHOUSEK Jan': 'Male',
 'PEJSOVA Daniela': 'Female',
 'PEJZLOVA Michaela': 'Female',
 'PEKNY Zdenek': 'Male',
 'PESLAROVA Klara': 'Female',
 'POLASEK Viktor': 'Male',
 'PORTYK Tomas': 'Male',
 'PRIBYLOVA Vendula': 'Female',
 'PUSKARCIKOVA Eva': 'Female',
 'RADOVA Tereza': 'Female',
 'REPIK Michal': 'Male',
 'RYDL Radek': 'Male',
 'SABLIKOVA Martina': 'Female',
 'SAKALA Filip': 'Male',
 'SEDLAK Lukas': 'Male',
 'SELLER Ludek': 'Male',
 'SERDAR Lenka': 'Female',
 'SINDELAR Jan': 'Male',
 'SKLENICKA David': 'Male',
 'SMEJKAL Jiri': 'Male',
 'SOBOTKA Vladimir': 'Male',
 'SOMMEROVA Elese': 'Female',
 'SPACEK Michael': 'Male',
 'STRANSKY Matej': 'Male',
 'STVRTECKY Jakub': 'Male',
 'SULAK Libor': 'Male',
 'SVEJDOVA Viktorie': 'Female',
 'TASCHLER Filip': 'Male',
 'TASCHLEROVA Natalie': 'Female',
 'TEJRALOVA Aneta': 'Female',
 'ULRICHOVA Klara': 'Female',
 'VACLAVIK Adam': 'Male',
 'VANISOVA Tereza': 'Female',
 'VEJDELEK Filip': 'Male',
 'VOBORNIKOVA Tereza': 'Female',
 'VYTRVAL Jan': 'Male',
 'WILL Roman': 'Male',
 'ZABYSTRAN Jan': 'Male',
 'ZALESKY Dominik': 'Male',
 'ZDRAHALOVA Nikola': 'Female',
 'ZECHOVSKA Katerina': 'Female',
 'ZEMLICKA Milan': 'Male',
 'ZOHORNA Hynek': 'Male',
 'ZOHORNA Tomas': 'Male',
 'ZUKOVA Jelizaveta': 'Female',
 'AAGAARD Mikkel': 'Male',
 'ANDERSEN Amalie': 'Female',
 'ASPERUP Josephine': 'Female',
 'ASPERUP Matthias': 'Male',
 'BAU Mathias': 'Male',
 'BAU Mia': 'Female',
 'BOEDKER Mikkel': 'Male',
 'BRIX Michele': 'Female',
 'BRUGGISSER Phillip': 'Male',
 'DAHM Sebastian': 'Male',
 'DICHOW Frederik': 'Male',
 'DUPONT Denise': 'Female',
 'DUPONT Madeleine': 'Female',
 'DYRBYE Casper': 'Male',
 'FRANDSEN Malene': 'Female',
 'FRIIS-HANSEN Lilli': 'Female',
 'GALBRAITH Patrick': 'Male',
 'GLUD Silke': 'Female',
 'HALSE Mathilde': 'Female',
 'HOLTERMANN Henrik': 'Male',
 'JACQUET Simone': 'Female',
 'JAKOBSEN Josefine': 'Female',
 'JAKOBSEN Julian': 'Male',
 'JENSEN AABO Jesper': 'Male',
 'JENSEN Jesper': 'Male',
 'JENSEN Lisa': 'Female',
 'JENSEN Nicholas B.': 'Male',
 'JENSEN Nicklas': 'Male',
 'JENSEN Nicoline': 'Female',
 'KRAUSE Mikkel': 'Male',
 'KRISTENSEN Emil': 'Male',
 'LANDER Jasmin': 'Female',
 'LARSEN My': 'Female',
 'LARSEN Oliver': 'Male',
 'LASSEN Matias': 'Male',
 'LAURIDSEN Markus': 'Male',
 'LAURIDSEN Oliver': 'Male',
 'MADSEN Morten': 'Male',
 'MELBERG Kristine': 'Female',
 'MEYER Nicolai': 'Male',
 'NIELSEN Frans': 'Male',
 'NOERGAARD Mads': 'Male',
 'NORDSTROM Emma-Sofie': 'Female',
 'OKSBJERG Julie': 'Female',
 'OLESEN Nick': 'Male',
 'OSTERGAARD Julie': 'Female',
 'PERSSON Josefine': 'Female',
 'PETERS Maria': 'Female',
 'POULSEN Morten': 'Male',
 'REFSGAARD Amanda': 'Female',
 'REGIN Peter': 'Male',
 'REPSTOCK-ROMME Cassandra': 'Female',
 'RUSSELL Emma': 'Female',
 'RUSSELL Patrick': 'Male',
 'SCHMIDT Stefan Due': 'Male',
 'SKOTT Sofie': 'Female',
 'SKRIVER Sofia': 'Female',
 'SLETTEMARK Ukaleq Astri': 'Female',
 'STORM Frederik': 'Male',
 'THORUP Viktor Hald': 'Male',
 'THUNE JACOBSEN Tobias': 'Male',
 'WEIS Michelle': 'Female',
 'WIKSTEN Kasper': 'Male',
 'ESCOBAR Sarah': 'Female',
 'ABEDA Shannon': 'Male',
 'AIGRO Artti': 'Male',
 'ALEV Alvar Johannes': 'Male',
 'ERMITS Kalev': 'Male',
 'HIMMA Martin': 'Male',
 'ILVES Kristjan': 'Male',
 'KAASIKU Kaidy': 'Female',
 'KAASIKU Keidy': 'Female',
 'KIIBUS Eva-Lotta': 'Female',
 'KILP Marko': 'Male',
 'KUELM Susan': 'Female',
 'LAINE Tormis': 'Male',
 'LIIV Marten': 'Male',
 'MALTSEV Kevin': 'Male',
 'MANNIMA Tatjana': 'Female',
 'OJA Regina': 'Female',
 'PULLES Mariel Merlii': 'Female',
 'RAENKEL Raido': 'Male',
 'ROOS Henri': 'Male',
 'SELEVKO Aleksandr': 'Male',
 'SIIMER Kristo': 'Male',
 'SILDARU Kelly': 'Female',
 'TALIHAERM Johanna': 'Female',
 'TOMINGAS Tuuli': 'Female',
 'UUSTALU Aveli': 'Female',
 'VESTERSTEIN Kaitlyn': 'Female',
 'ZAHKNA Rene': 'Male',
 'AALTO Antti': 'Male',
 'AALTONEN Miro': 'Male',
 'ANTTILA Marko': 'Male',
 'BJORNINEN Hannes': 'Male',
 'EDER Mari': 'Female',
 'FILPPULA Valtteri': 'Male',
 'FRIMAN Niklas': 'Male',
 'GRANLUND Markus': 'Male',
 'HAKALA Sanni': 'Female',
 'HAKOLA Ristomatti': 'Male',
 'HARJULA Tuomas': 'Male',
 'HARTIKAINEN Teemu': 'Male',
 'HEROLA Ilkka': 'Male',
 'HIETANEN Juuso': 'Male',

In [22]:
"""Ya que tenemos el diccionario donde tenemos nombre y genero, vamos
a mapear en una nueva columna de medals_["gender"] a los atletas ganadores"
"""
medals_['gender']=medals_['athlete_name'].map(dictionaries)
medals_['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [23]:
"""Como necesitamos contra el numero de atletas hombre y mujeres agrupado
por pais, vamos a usar el metodo pivot que por columnas separadas nos
da el conteo.
Lo que hacemos es de la df de atletas solo tomamos el country, gender y name
quitamos datos duplicados si es que hay, y con pivot_table decimos
que nuestra agrupacion sera country y vamos a seperar por genero
Vamos usar un conteo ya que es variable discreta y en values ponemos el name"
"""

# 1. Athletes
aux_athletes = (athletes[['country', 'gender', 'name']]
                .drop_duplicates()
                .pivot_table(index = 'country', columns = 'gender', aggfunc = 'count', fill_value = 0, 
                             values = 'name'))
aux_athletes.head(3)

gender          Female  Male
country
Albania              0     1
American Samoa       0     1
Andorra              3     2

In [24]:
"""Ahora se cambia el nombre de las columnas donde primero se hace minusculas
las letras es decir de Female a female y se le agrega _athletes"""

aux_athletes.columns = [c.lower() + '_athletes' for c in aux_athletes.columns]
aux_athletes.head(3)

                female_athletes  male_athletes
country
Albania                       0              1
American Samoa                0              1
Andorra                       3              2

In [25]:
"""El anterior proceso se repite para las otras tablas"""

# 2. Officials
aux_officials = (officials[['country', 'gender', 'name']]
                 .drop_duplicates()
                 .pivot_table(index = 'country', columns = 'gender', aggfunc = 'count', fill_value = 0,
                            values = 'name'))
aux_officials.columns = [c.lower() + '_officials' for c in aux_officials.columns]
# 3. Coaches
aux_coaches = (coaches[['country', 'gender', 'name']]
               .drop_duplicates()
               .pivot_table(index = 'country', columns = 'gender', aggfunc = 'count', fill_value = 0,
                            values = 'name'))
aux_coaches.columns = [c.lower() + '_coaches' for c in aux_coaches.columns]
# 4. Medals
aux_medals = (medals_[['country', 'gender', 'athlete_name']]
                .pivot_table(index = 'country', columns = 'gender', aggfunc = 'count', fill_value = 0,
                            values = 'athlete_name'))
aux_medals.columns = [c.lower() + '_total_medals' for c in aux_medals.columns]

In [26]:
"""Para las medallas de hombre y mujeres es el mismo proceso solo que
antes de usar el pivot_table filtramos por el genero y seguimos el mismo
proceso"""
# 5. Female Medals
aux_female_medals = (medals_[['country', 'gender', 'medal_type']].loc[medals_['gender'] == 'Female']
                     .pivot_table(index = 'country', columns = 'medal_type', aggfunc = 'count',
                                  values = 'gender', fill_value = 0))
aux_female_medals.columns = [f'female_{c.lower()}_medals' for c in aux_female_medals.columns]
# 6. Male Medals
aux_male_medals = (medals_[['country', 'gender', 'medal_type']].loc[medals_['gender'] == 'Male']
                     .pivot_table(index = 'country', columns = 'medal_type', aggfunc = 'count',
                                  values = 'gender', fill_value = 0))
aux_male_medals.columns = [f'male_{c.lower()}_medals' for c in aux_male_medals.columns]

In [27]:
"""Para lo atltas totales no queremos que nos separe nada en columnas,
solo queremos un conteo por lo cual haremos un groupby
Primero seleccionamos solo la columna country y name, eliminamos valores
repetidos y agrupamos por el pais para que quede como indice y contamos
sobre la columna name
"""
aux_total_athletes = pd.DataFrame(athletes[['country', 'name']].drop_duplicates().groupby('country').count()['name'])
aux_total_athletes.columns = ['athletes']

In [28]:
"""Creamos el primer data frame que es el base y agregamos la columna
country y la llenamos con el indice que es la lista de paises."""
df = pd.DataFrame(index = countries)
df['country'] = df.index
df.head(3)

                       country
Albania                Albania
American Samoa  American Samoa
Andorra                Andorra

In [29]:
"""El indice lo reseteamos borrando los valores y poniendolos como numeros"""
df.reset_index(inplace = True, drop = True)
df.head(3)

          country
0         Albania
1  American Samoa
2         Andorra

In [30]:
"""Ahora se unen las tablas con un merge al df principal, haciendo
un left join dado que tomaremos como referencia la tabla de la izquierda,
todas en country en left y right on, menos en medallas ya que ahi solo
tenemos el indice entonces ponemos right_index = True,
agregamos sufijos dependiendo la tabla"""

df = (df.merge(aux_athletes, how = 'left', left_on = 'country', right_on = 'country', suffixes=('', '_athletes'))
      .merge(aux_officials, how = 'left', left_on = 'country', right_on = 'country', suffixes=('', '_officials'))
      .merge(aux_coaches, how = 'left', left_on = 'country', right_on = 'country', suffixes=('', '_coaches'))
      .merge(aux_medals, how = 'left', left_on = 'country', right_on = 'country', suffixes=('', '_medals'))
      .merge(aux_female_medals, how = 'left', left_on = 'country', right_index = True, suffixes=('', '_medals'))
      .merge(aux_male_medals, how = 'left', left_on = 'country', right_index = True, suffixes=('', '_medals'))
      .merge(aux_total_athletes, how = 'left', left_on = 'country', right_index = True, suffixes = ('', '_tathletes'))
      .fillna(0))
df.head(3)

,country,female_athletes,male_athletes,female_officials,male_officials,female_coaches,male_coaches,female_total_medals,male_total_medals,female_bronze_medals,female_gold_medals,female_silver_medals,male_bronze_medals,male_gold_medals,male_silver_medals,athletes
0,Albania,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,American Samoa,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,Andorra,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [31]:
"""Ponemos en una lista las columnas que vamos a usar"""
columns = ['Cantidad total de atletas: athletes',
'Cantidad total de atletas hombres enviada: male_athletes',
'Cantidad total de atletas mujeres enviada: female_athletes',
'Cantidad total de coaches hombres enviada: male_coaches',
'Cantidad total de coaches mujeres enviada: female_coaches',
'Cantidad total de oficiales hombres enviada: male_officials',
'Cantidad total de oficiales mujeres enviada: female_officials',
'Cantidad total de medallas obtenidas por hombres: male_total_medals',
'Cantidad total de medallas obtenidas por mujeres: female_total_medals',
'Cantidad total de medallas de oro obtenidas por hombres: male_gold_medals',
'Cantidad total de medallas de oro obtenidas por mujeres: female_gold_medals',
'Cantidad total de medallas de plata obtenidas por hombres: male_silver_medals',
'Cantidad total de medallas de plata obtenidas por mujeres: female_silver_medals',
'Cantidad total de medallas de bronce obtenidas por hombres: male_bronze_medals',
'Cantidad total de medallas de bronce obtenidas por mujeres: female_bronze_medals']

"""En la misma lista vamos a tener solo los valores despues de dos dos
puntos"""
columns = ['country'] + [c.split(':')[1].strip() for c in columns]
columns[:3]

['country', 'athletes', 'male_athletes']

Observación split separá strings

In [32]:
"""Ordenamos según columns"""
df[columns].head(3)

,country,athletes,male_athletes,female_athletes,male_coaches,female_coaches,male_officials,female_officials,male_total_medals,female_total_medals,male_gold_medals,female_gold_medals,male_silver_medals,female_silver_medals,male_bronze_medals,female_bronze_medals
0,Albania,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,American Samoa,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Andorra,5.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
"""Para escribirlo en terminal"""
df[columns].to_clipboard()

In [34]:
df[columns]

,country,athletes,male_athletes,female_athletes,male_coaches,female_coaches,male_officials,female_officials,male_total_medals,female_total_medals,male_gold_medals,female_gold_medals,male_silver_medals,female_silver_medals,male_bronze_medals,female_bronze_medals
0,Albania,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,American Samoa,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Andorra,5.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Argentina,6.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Armenia,6.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Turkey,7.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88,Ukraine,46.0,24.0,22.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
89,United States of America,225.0,117.0,108.0,3.0,1.0,0.0,3.0,20.0,43.0,5.0,6.0,9.0,31.0,6.0,6.0
90,Uzbekistan,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91,"Virgin Islands, US",1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
"""Para exportar"""
#df[columns].to_csv('Beijing_Oviedo_Quezada_Rolando.csv', index = False)

'Para exportar'